<!DOCTYPE html> 
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "/AgencyApp/css/style.css" %}">
        <script type="text/javascript" src="{% static "/AgencyApp/jquery-3.2.0.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/AgencyApp/jquery-ui.js" %}"></script>
    </head>

    <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>

    <body>
        {% block header %}
            <form action="/" method="post">
                {% csrf_token %}
                <input type="hidden" name="source" value="{{ next }}">
                <input type="hidden" name="next" value="{{ toolbarDestinations.home }}">
                <input type="submit" value="Van Film Collective">
            </form>
            <form action="/browse/" method="post">
                {% csrf_token %}
                <input type="hidden" name="source" value="{{ source }}">
                <input type="hidden" name="next" value="{{ toolbarDestinations.browse }}">
                <input type="submit" value="Browse">
            </form>
            {% if request.user.is_authenticated %}
                <form action="/{{ request.user.username }}/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="source" value="{{ source }}">
                    <input type="hidden" name="next" value="{{ toolbarDestinations.profile }}">
                    <input type="submit" value="{{ request.user.first_name }} {{ request.user.last_name }}">
                </form>
                <form action="/logout/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="source" value="{{ source }}">
                    <input type="hidden" name="next" value="{{ toolbarDestinations.logout }}">
                    <input type="submit" value="Logout">
                </form>
            {% else %}
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="source" value="{{ source }}">
                    <input type="hidden" name="next" value="{{ toolbarDestinations.login }}">
                    <input type="hidden" name="destination" value="{{ default }}">
                    <input type="submit" value="Login">
                </form>
            {% endif %}
            <br><br>
        {% endblock %}

        {% block content %}{% endblock %}
        <script>
            function createFormInput(type, name, value){
                var input = document.createElement("input");
                input.setAttribute("type", type);
                input.setAttribute("name", name);
                input.setAttribute("value", value);
                return input;
            };

            function createPageRedirectForm(source, next, destination, submitButtonLabel){
                var form = document.createElement("form");
                form.setAttribute('method', "post");
                form.setAttribute('action', "/");

                form.appendChild(createFormInput("hidden", "source", source));
                form.appendChild(createFormInput("hidden", "next", next));
                form.appendChild(createFormInput("hidden", "destination", destination));
                form.appendChild(createFormInput("hidden", "csrfmiddlewaretoken", getCookie("csrftoken")));
                form.appendChild(createFormInput("submit", null, submitButtonLabel));
                document.body.appendChild(form);
                return form;
            }


            //Cancel button
            $(document).ready(function(){
                var cancelButtonDiv = document.getElementById('cancelButton');
                if (cancelButtonDiv != null){
                    var cancelButtonForm = document.createElement("form");
                    cancelButtonForm.setAttribute('method', "post");
                    cancelButtonForm.setAttribute('action', "{{ cancelDestinationURL }}");

                    var sourceInput = document.createElement("input");
                    sourceInput.setAttribute("type", "hidden");
                    sourceInput.setAttribute("name", "source");
                    sourceInput.setAttribute("value", "{{ cancelSource }}");
                    cancelButtonForm.appendChild(sourceInput);

                    var nextInput = document.createElement("input");
                    nextInput.setAttribute("type", "hidden");
                    nextInput.setAttribute("name", "next");
                    nextInput.setAttribute("value", "{{ next }}")
                    cancelButtonForm.appendChild(nextInput)

                    var destinationInput = document.createElement("input");
                    destinationInput.setAttribute("type", "hidden");
                    destinationInput.setAttribute("name", "destination");
                    destinationInput.setAttribute("value", "{{ cancelDestination }}");
                    cancelButtonForm.appendChild(destinationInput)

                    var cancelInput = document.createElement("input");
                    cancelInput.setAttribute("type", "hidden");
                    cancelInput.setAttribute("name", "{{ cancel }}");
                    cancelInput.setAttribute("value", "True");
                    cancelButtonForm.appendChild(cancelInput)

                    if("{{cancelButtonExtraInputs}}" != ""){
                        var cancelButtonExtraInputs = {{ cancelButtonExtraInputs|safe }};
                        for(var inputName in cancelButtonExtraInputs){
                            var newInput = document.createElement("input");
                            newInput.setAttribute("type", "hidden");
                            newInput.setAttribute("name", inputName);
                            newInput.setAttribute("value", cancelButtonExtraInputs[inputName]);
                            cancelButtonForm.appendChild(newInput);
                        };
                    };

                    var csrfInput = document.createElement("input");
                    csrfInput.setAttribute("type", "hidden");
                    csrfInput.setAttribute("name", "csrfmiddlewaretoken");
                    csrfInput.setAttribute("value", getCookie('csrftoken'));
                    cancelButtonForm.appendChild(csrfInput);

                    var cancelSubmit = document.createElement("input");
                    cancelSubmit.setAttribute("type", "submit");
                    cancelSubmit.setAttribute("value", "{{ cancelButtonName }}");
                    cancelButtonForm.appendChild(cancelSubmit);
                    cancelButtonDiv.appendChild(cancelButtonForm);

                    $('#cancelButton').click(function(){
                       cancelButtonForm.submit();
                    });
                };
            });
        </script>
        
        {% block footer %}
            <br><br><br>
            <section class="divider1">
                <p>Thanks for visiting my site.</p>
                <p>All rights reserved</p>
            </section>
        {% endblock %}
    </body>
</html>