<!DOCTYPE html> 
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "/AgencyApp/css/style.css" %}">
        <script type="text/javascript" src="{% static "/AgencyApp/jquery-3.2.0.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/AgencyApp/jquery-ui.js" %}"></script>
    </head>

    <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>

    <body>
        {% block header %}
            <table width="100%;">
                <tr>
                    <td width="80%">
                        <form action="/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="source" value="{{ next }}">
                            <input type="hidden" name="next" value="{{ toolbarDestinations.home }}">
                            <input type="submit" value="Van Film Collective">
                        </form>
                    </td>
                    <td>
                        <form action="/browse/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="source" value="{{ source }}">
                            <input type="hidden" name="next" value="{{ toolbarDestinations.browse }}">
                            <input type="submit" value="Browse">
                        </form>
                    </td>
                    {% if request.user.is_authenticated %}
                        <td>
                            <form action="/post/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="source" value="{{ source }}">
                                <input type="hidden" name="next" value="{{ toolbarDestinations.post }}">
                                <input type="submit" value="Post">
                            </form>
                        </td>

                        <td>
                            <form action="/user/{{ request.user.username }}/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="source" value="{{ source }}">
                                <input type="hidden" name="next" value="{{ toolbarDestinations.profile }}">
                                <input type="submit" value="{{ request.user.first_name }} {{ request.user.last_name }}">
                            </form>
                        </td>
                        <td>
                            <form action="/logout/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="source" value="{{ source }}">
                                <input type="hidden" name="next" value="{{ toolbarDestinations.logout }}">
                                <input type="submit" value="Logout">
                            </form>
                        </td>
                    {% else %}
                        <td>
                            <form action="/login/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="source" value="{{ source }}">
                                <input type="hidden" name="next" value="{{ toolbarDestinations.login }}">
                                <input type="hidden" name="destination" value="{{ default }}">
                                <input type="submit" value="Login">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            </table>
            <br><br>
        {% endblock %}

        {% block content %}{% endblock %}
        <script>
            function createFormInput(type, name, value){
                var input = document.createElement("input");
                input.setAttribute("type", type);
                input.setAttribute("name", name);
                input.setAttribute("value", value);
                return input;
            };

            function createPageRedirectForm(source, next, destination, formProcessURL, extraHiddenInputs, formParent, submitButtonValue){
                if (formProcessURL == null){
                    formProcessURL = "/";
                }
                if (extraHiddenInputs == null){
                    extraHiddenInputs = [];
                }
                if (formParent == null){
                    formParent = document.body;
                }
                var form = document.createElement("form");
                form.setAttribute('method', "post");
                form.setAttribute('action', formProcessURL);

                form.appendChild(createFormInput("hidden", "source", source));
                form.appendChild(createFormInput("hidden", "next", next));
                form.appendChild(createFormInput("hidden", "destination", destination));
                form.appendChild(createFormInput("hidden", "csrfmiddlewaretoken", getCookie("csrftoken")));
                form.appendChild(createFormInput("submit", null, submitButtonValue));

                // add extra hidden inputs
                if(extraHiddenInputs.length > 0){
                    for(i=0; i < extraHiddenInputs.length; i++){
                        form.appendChild(createFormInput("hidden", extraHiddenInputs[i].key, extraHiddenInputs[i].value));
                    }
                };
                formParent.appendChild(form);
                return form;
            }

            //Cancel button
            function createCancelButton(cancelButtonDiv, destination, destinationURL, buttonName){
                if (cancelButtonDiv != null){
                    var extraInputs = []
                    extraInputs.push({key: "{{ cancel }}", value: "True"});
                    {% if cancelButtonExtraInputs %}
                        var cancelButtonExtraInputs = {{ cancelButtonExtraInputs|safe }};
                        for(var key in cancelButtonExtraInputs){
                            extraInputs.push({key: key, value: cancelButtonExtraInputs[key]});
                        }
                    {% endif %}
        
                    var cancelButtonForm = createPageRedirectForm("{{ cancelSource }}", "{{ next }}", destination, destinationURL, extraInputs, cancelButtonDiv, buttonName)
                }
            }

            function createProfileRedirectButton(redirectButtonDiv, profileName, destinationURL){
                if (redirectButtonDiv != null){
                    if(profileName == null){
                        profileName = redirectButtonDiv.innerHTML;
                    }
                    redirectButtonDiv.innerHTML = "";

                    var buttonName = profileName
                    var profileNameMap = {{ posterNameMap|safe }};
                    if((profileNameMap != "") && (profileNameMap[profileName] != undefined)){
                        buttonName = posterNameMap[profileName]
                    }

                    var extraInputs = []
                    extraInputs.push({key: "profileName", value: profileName});
                    var redirectButtonForm = createPageRedirectForm("{{ next }}", "{{ next }}", "{{toolbarDestinations.profile}}", "/user/" + profileName + "/", extraInputs, redirectButtonDiv, buttonName)
                }
            }

            $(document).ready(function(){
                var cancelButtonDiv = document.getElementById('cancelButton');
                if (cancelButtonDiv != null){
                    createCancelButton(cancelButtonDiv, "{{ cancelDestination }}", "{{ cancelDestinationURL }}", "{{ cancelButtonName }}");
                };

                var profileRedirectButtonDiv = document.getElementById('profileRedirectButton');
                if (profileRedirectButtonDiv != null){
                    createProfileRedirectButton(profileRedirectButtonDiv, profileRedirectButtonDiv.innerHTML, "{{ currentPageURL }}");
                };
            });

        </script>
        
        {% block footer %}
            <br><br><br>
            <section class="divider1">
                <p>Thanks for visiting my site.</p>
                <p>All rights reserved</p>
            </section>
        {% endblock %}
    </body>
</html>