<!DOCTYPE html> 
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "/AgencyApp/css/style.css" %}">
        <script type="text/javascript" src="{% static "/AgencyApp/js/jquery-3.2.0.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/AgencyApp/js/jquery-ui.js" %}"></script>
        <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
        <link href="{% static "/AgencyApp/css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static "/AgencyApp/css/profile.css" %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static "/AgencyApp/css/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static "/AgencyApp/css/forms.css" %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static "/AgencyApp/css/post.css" %}" rel="stylesheet" type="text/css" media="all" />

    </head>

    <script>
        // Deconstructor functions to run when a toolbar source is selected (eg deleting a newly created post when leaving the create post page)
        var toolbarDeconstructorFunctions = [];

        // Maps usernames to display friendly names (mainly capitalize)
        var posterNameMap = {{ posterNameMap|safe }};

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $( document ).ready(function() {
            $( ".datepicker" ).datepicker({
                // TODO add hour to date
                changeMonth: true,
                changeYear: true,
                yearRange: "2017:2019",
                dateFormat: 'yy-mm-dd' 
            });
        });

        //Indexed div names for multiple profile names being displayed on a page
        var profileIndex = 0;
        var profileName = "profileRedirectButton"
        var profileIndexedName = profileName + profileIndex.toString()
        function getNextProfileName(){
            // remove numbers and return current name
            var cleanedName = profileIndexedName.replace(/[0-9]/g, '');
            var newName = profileName + profileIndex.toString();
            var oldName = profileIndexedName;
            profileIndexedName = newName;
            profileIndex = profileIndex + 1;
            return newName
        }

        function getPictureTag(sourceURL, className, width){
            var picture= "";
            if(sourceURL != null && sourceURL != ""){
                picture += '<img class="' + className + '" '
                if(width != null){
                    picture += 'width="' + width + '" ';
                }
                picture += 'src="' + sourceURL + '" />';
            }else{
                picture += '<img class="' + className + '" '
                if(width != null){
                    picture += 'width="' + width + '" ';
                }else{
                    picture += 'width="100px;" ';
                }
                picture += 'height="100px"; />';
            }
            return picture;
        }

        // Should be redirectToViewPost
        function redirectToPost(postID){
            // Stop onclick of parents from firing
            if (!e) var e = window.event;
            e.cancelBubble = true;
            if (e.stopPropagation) e.stopPropagation();
            var extraInputs = []
            extraInputs.push({key: "postID", value: postID});
            extraInputs.push({key: "redirect", value: "True"})
            var form = createPageRedirectForm("{{next}}", "{{next}}", "{{possibleDestinations.viewPost}}", "{{currentPageURL}}", extraInputs, null);
            form.submit();
        }

        function redirectToEditPost(postID, project){
            if (!e) var e = window.event;
            e.cancelBubble = true;
            if (e.stopPropagation) e.stopPropagation();
            var extraInputs = []
            if(project == true){
                extraInputs.push({key: "projectID", value: postID});
                extraInputs.push({key: "postID", value: postID});
            }else{
                extraInputs.push({key: "postID", value: postID});
            }
            var form = createPageRedirectForm("{{next}}", "{{next}}", "{{possibleDestinations.editPost}}", "{{currentPageURL}}", extraInputs, null);
            form.submit();
        }

        function redirectToUser(username){
            if (!e) var e = window.event;
            e.cancelBubble = true;
            if (e.stopPropagation) e.stopPropagation();
            var extraInputs = []
            extraInputs.push({key: "username", value: username});
            var form = createPageRedirectForm("{{next}}", "{{next}}", "{{toolbarDestinations.profile}}", "{{currentPageURL}}", extraInputs, null);
            form.submit();
        }

        function previewPicture(input, divName) {
            console.log("Previewing")
            console.log(divName)
            console.log(document.getElementById(divName))
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("[id='" + divName + "']").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function addStatusBar(statusDivName, statusSelectName, defaultStatus, formName, options){
            console.log("options are " + options)
                if(defaultStatus.length == 0){
                    defaultStatus = "Open";
                }
                if(formName == null){
                    formName = "createForm"
                }
                var statusDiv = document.getElementById(statusDivName)
                if(statusDiv != null){
                    if(options === null){
                        {% if statusOptions %}
                            options = {{ statusOptions|safe }};
                        {% endif %}
                    }
                    var selectForm = createSelectForm(formName, statusSelectName, options, defaultStatus);
                    statusDiv.innerHTML = selectForm;
                }
        }

        function createSelectForm(formName, selectName, options, selected){
                var formString = "<select form='" + formName + "' name='" + selectName + "' id='" + selectName + "'>";
                for(var i=0; i < options.length; i++){
                    if(options[i] == selected){
                        formString += "<option value='" + options[i] + "' selected='selected'>" + options[i] + "</option>"
                    }else{
                        formString += "<option value='" + options[i] + "'>" + options[i] + "</option>"
                    }
                }
                formString += "</select>";
                return formString
        }
    </script>

    <body>
        {% block header %}
            <div id="header-wrapper">
                <div id="header">
                    <div id="logo">
                        <h1>
                            <form action="/" method="post" onclick="submitToolbar(this);">
                                {% csrf_token %}
                                <input type="hidden" name="source" value="{{ next }}">
                                <input type="hidden" name="next" value="{{ toolbarDestinations.home }}">
                                <a>Van Film Collective</a>
                            </form>
                        </h1>
                    </div>
                    <div id="menu">
                        <ul>
                            <li>
                                <form action="/browse/" method="post" onclick="submitToolbar(this);">
                                    {% csrf_token %}
                                    <input type="hidden" name="source" value="{{ source }}">
                                    <input type="hidden" name="next" value="{{ toolbarDestinations.browse }}">
                                    <a>Browse</a>
                                </form>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li>
                                    <form action="/post/" method="post" onclick="submitToolbar(this);">
                                        {% csrf_token %}
                                        <input type="hidden" name="source" value="{{ source }}">
                                        <input type="hidden" name="next" value="{{ toolbarDestinations.post }}">
                                        <a>Post</a>
                                    </form>
                                </li>

                                <li>
                                    <form action="/user/{{ request.user.username }}/" method="post" onclick="submitToolbar(this);">
                                        {% csrf_token %}
                                        <input type="hidden" name="source" value="{{ source }}">
                                        <input type="hidden" name="next" value="{{ toolbarDestinations.profile }}">
                                        <a>{{ request.user.first_name }} {{ request.user.last_name }}</a>
                                    </form>
                                </li>
                                <li>
                                    <form action="/logout/" method="post" onclick="submitToolbar(this);">
                                        {% csrf_token %}
                                        <input type="hidden" name="source" value="{{ source }}">
                                        <input type="hidden" name="next" value="{{ toolbarDestinations.logout }}">
                                        <a>Logout</a>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form action="/login/" method="post" onclick="submitToolbar(this);">
                                        {% csrf_token %}
                                        <input type="hidden" name="source" value="{{ source }}">
                                        <input type="hidden" name="next" value="{{ toolbarDestinations.login }}">
                                        <input type="hidden" name="destination" value="{{ default }}">
                                        <a>Login</a>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}
        <script>
            function submitToolbar(form){
                if(toolbarDeconstructorFunctions.length > 0){
                    for(var i=0; i < toolbarDeconstructorFunctions.length; i++){
                        toolbarDeconstructorFunctions[i]();
                    }
                }

                // Create dict to pass to function
                ajaxDict = {}
                if(form.elements.length > 0){
                    for(var i=0; i < form.elements.length; i++){
                        var element = form.elements[i];
                        if(element.type === "text" || element.type == "hidden"){
                            ajaxDict[element.name] = element.value;
                        }
                    }
                }
                ajaxDict["ajax"] = "True";
                $.ajax({
                    url : form.action,
                    data : ajaxDict,
                    type : 'POST',
                    dataType: "json",
                    success : function(data) {
                        if(data["destURL"] != null){
                            window.location.href = data["destURL"];
                        }else{
                            return form.submit()
                        }
                    }
                });
            }

            function createFormInput(type, name, value, id){
                var input = document.createElement("input");
                input.setAttribute("type", type);
                input.setAttribute("name", name);
                // Temp hack to stop displaying form submit button when addinv div buttons
                if(value != "Skip" && value != "Back"){
                    input.setAttribute("value", value);
                }else{
                    input.setAttribute("style", "display: none;");
                }
                if(id != null){
                    input.setAttribute("id", id);
                }
                return input;
            };

            function createPageRedirectForm(source, next, destination, formProcessURL, extraHiddenInputs, formParent, submitButtonValue){
                if (formProcessURL == null){
                    formProcessURL = "/";
                }
                if (extraHiddenInputs == null){
                    extraHiddenInputs = [];
                }
                if (formParent == null){
                    formParent = document.body;
                }
                var form = document.createElement("form");
                form.setAttribute('method', "post");
                form.setAttribute('action', formProcessURL);
                form.setAttribute('id', 'redirectForm');

                form.appendChild(createFormInput("hidden", "source", source));
                form.appendChild(createFormInput("hidden", "next", next));
                form.appendChild(createFormInput("hidden", "destination", destination));
                form.appendChild(createFormInput("hidden", "csrfmiddlewaretoken", getCookie("csrftoken")));
                form.appendChild(createFormInput("submit", null, submitButtonValue, "submitButton"));

                // add extra hidden inputs
                if(extraHiddenInputs.length > 0){
                    for(i=0; i < extraHiddenInputs.length; i++){
                        form.appendChild(createFormInput("hidden", extraHiddenInputs[i].key, extraHiddenInputs[i].value));
                    }
                };
                formParent.appendChild(form);

                // Use the entire div as a back button
                var submitButtonDiv = document.getElementById("submitButton");
                if(submitButtonDiv != null && formParent != document.body){
                    formParent.onclick = function(){form.submit()};
                }
                return form;
            }

            //Cancel button
            function createCancelButton(cancelButtonDiv, destination, destinationURL, buttonName){
                if (cancelButtonDiv != null){
                    var extraInputs = []
                    extraInputs.push({key: "{{ cancel }}", value: "True"});
                    {% if cancelButtonExtraInputs %}
                        var cancelButtonExtraInputs = {{ cancelButtonExtraInputs|safe }};
                        for(var key in cancelButtonExtraInputs){
                            extraInputs.push({key: key, value: cancelButtonExtraInputs[key]});
                        }
                    {% endif %}
        
                    var cancelButtonForm = createPageRedirectForm("{{ cancelSource }}", "{{ next }}", destination, destinationURL, extraInputs, cancelButtonDiv, buttonName)
                    var label = document.getElementById("cancelButtonLabel");
                    if(label != null){
                        if(buttonName != null){
                            label.innerHTML = buttonName;
                        }else{
                            label.innerHTML = "Back";
                        }
                    }
                }
            }

            function createProfileRedirectButton(redirectButtonDiv, profileName, destinationURL){
                if (redirectButtonDiv != null){
                    if(profileName == null){
                        profileName = redirectButtonDiv.innerHTML;
                    }
                    redirectButtonDiv.innerHTML = "";

                    var buttonName = profileName
                    var profileNameMap = {{ posterNameMap|safe }};
                    if((profileNameMap != "") && (profileNameMap[profileName] != undefined)){
                        buttonName = posterNameMap[profileName]
                    }

                    var extraInputs = []
                    extraInputs.push({key: "profileName", value: profileName});
                    var redirectButtonForm = createPageRedirectForm("{{ next }}", "{{ next }}", "{{toolbarDestinations.profile}}", "/user/" + profileName + "/", extraInputs, redirectButtonDiv, buttonName)
                }
            }

            $(document).ready(function(){
                $(document).find('div').each(function(){
                    var divID = $(this).attr('id');
                    if(divID != null){
                        var cleanedName = divID.replace(/[0-9]/g, '');
                        if(cleanedName == "cancelButton"){
                            createCancelButton(document.getElementById('cancelButton'), "{{ cancelDestination }}", "{{ cancelDestinationURL }}", "{{ cancelButtonName }}");
                        }else if(cleanedName == "profileRedirectButton"){
                            createProfileRedirectButton(document.getElementById(divID), $(this).attr("innerHTML"), "{{ currentPageURL }}");
                        }
                    }
                });
            });

        </script>
        
        {% block footer %}
            <br><br><br>
            <section class="divider1">
                <p>Thanks for visiting my site.</p>
                <p>All rights reserved</p>
            </section>
        {% endblock %}
    </body>
</html>