{% extends "base.html" %}

{% block content %}
	<h2>Specify physical attributes</h2>
	<h6> If you've selected acting as an interested profession, you can specify your <br>physical characteristics so that casting agents can search for exactly who <br>they're looking for. It's completey optional and will increase your networking exposure.</h6>
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form method='post' action='{{ currentPageURL }}'>
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ next }}" />
		<input type="hidden" name="next" value="{{ next }}" />
		<input type="hidden" name="destination" value="{{ destination }}">
		{% for attribute in masterAttributes %}
			<br>
				{{ attribute.name }}
				{% if attribute.value == True or attribute.value == False %}
					<script>
					function updateBoolCheckboxValue(newValue){
						var checkboxValueDiv = document.getElementById("{{attribute.name}}.value")
						if(checkboxValueDiv != null){
							checkboxValueDiv.innerHTML = "<input type='hidden' name='attribute.{{attribute.name}}' value='" + newValue +"'>";
						}
					}
					</script>

					{% if attribute.value == True %}
						<input type="checkbox" name="checkbox" checked onclick="updateBoolCheckboxValue('False');">
						<div id="{{attribute.name}}.value"></div>
					{% elif attribute.value == False %}
						<input type="checkbox" name="checkbox" onclick="updateBoolCheckboxValue('True');">
						<div id="{{attribute.name}}.value"></div>
					{% else %}
						<input type="input" name="attribute.{{attribute.name}}" value="{{attribute.value}}">
					{% endif %}
				{% else %}
				<input type="input" name="attribute.{{attribute.name}}" value="{{attribute.value}}">
				{% endif %}
		{% endfor %}
		<br><br><input type="submit" value="Update attributes" />
	</form>
	<div id="cancelButton"></div>




{% endblock %}