{% extends "base.html" %}

{% block content %}
	<h2>Specify physical attributes</h2>
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<!-- dont put select inputs directly in form, just reference the form name in the select tag and it will pass them -->
	<!-- need enctype to use select form -->
	<form method='post' action='{{ currentPageURL }}' name='createForm' id='createForm' enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ next }}" />
		<input type="hidden" name="next" value="{{ next }}" />
		<input type="hidden" name="destination" value="{{ destination }}">
		<script>
				function toggleActorDescriptions(){
					// Create input list
					var tagInputs = document.getElementsByTagName("input")
					var selectInputs = document.getElementsByTagName("select");
					var inputs = []
					for(var i=0; i < tagInputs.length; i++){
						inputs.push(tagInputs[i]);
					}
					for(var i=0; i < selectInputs.length; i++){
						inputs.push(selectInputs[i]);
					}
					// toggle the enable
					for(var i=0; i < inputs.length; i++){
						var currentInput = inputs[i]
						if(currentInput.id.substring(0, 10) == "attributes"){
							if(currentInput.disabled){
								currentInput.disabled = false;
								document.getElementById("physicalAttributesEnabledDiv").innerHTML = "<input type='hidden' name='descriptionEnabled' value='True' />";
								document.getElementById("physicalAttributesDivLabel").innerHTML = '<font color="black">Physical attributes</font>';
							}else{
								currentInput.disabled = true;
								document.getElementById("physicalAttributesEnabledDiv").innerHTML = "<input type='hidden' name='descriptionEnabled' value='False' />";
								document.getElementById("physicalAttributesDivLabel").innerHTML = '<font color="gray">Physical attributes</font>';
							}
						}
					}
				}
			</script>
			<br>
			<h5 style="display:inline;"> If you've selected acting as an interested profession, you can specify your physical characteristics so that casting agents can search for exactly who they're looking for. It's completey optional and may increase your networking exposure.</h5><br>
			<br>
			<br>

			<div id="physicalAttributesDiv" >
				<h4 style="display:inline;">
					{% if descriptionEnabled %}
						<input type="checkbox" onclick="toggleActorDescriptions();" checked/>
					{% else %}
						<input type="checkbox" onclick="toggleActorDescriptions();" />
					{% endif %}
					<div id="physicalAttributesDivLabel" style="display:inline;">
						<font color="gray">Physical attributes</font>
					</div>
				</h4>
				<table>
					<script>
					var attributeDivIdList = [];
					</script>
					{% for attribute in attributes %}
						<tr><td>
							<script>
							function changeAttributeBool(attributeName, newBoolValue){
								var attributeInputDiv = document.getElementById(attributeName + "BoolDiv");
								if(attributeInputDiv != null){
									attributeInputDiv.innerHTML = "<input type='hidden' name='attributes.{{attribute.name}}' value='" + newBoolValue + "'>"
								}
							}
							</script>
							{{attribute.name}}: 
							{% if attribute.value == True or attribute.value == "True" %}
								<div id="{{attribute.name}}BoolDiv"></div>
								<input type='checkbox' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name='{{attribute.name}}' disabled='disabled' onclick='changeAttributeBool("{{attribute.name}}", "False");' checked>
							{% elif attribute.value == False or attribute.value == "False" %}
								<div id="{{attribute.name}}BoolDiv"></div>
								<input type='checkbox' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name='{{attribute.name}}' disabled='disabled' onclick='changeAttributeBool("{{attribute.name}}", "True");' >
							{% else %}
								{% if attribute.options %}
									<div id="attributes.{{attribute.name}}Div"></div>
								{% elif attribute.value and attribute.value != "None" %}
									<input type='text' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name="attributes.{{attribute.name}}" disabled='disabled'>
								{% else %}
									<input type='text' value='' id="attributes.{{attribute.name}}" name="attributes.{{attribute.name}}" disabled='disabled'>
								{% endif %}
							{% endif %}
							</td></tr>
					{% endfor %}

				</table>
				<div id="physicalAttributesEnabledDiv" style="display:inline";>
					<input type='hidden' name='descriptionEnabled' value='{{ descriptionEnabled }}' />
				</div>
			</div>
		<br><br><input type="submit" value="Update attributes" />
	</form>
	<div id="cancelButton"></div>
	<script>
		$(document).ready(function(){
			{% for attribute in attributes %}
				var attributeDiv = document.getElementById("attributes.{{attribute.name}}Div")
				if(attributeDiv != null){
					{% if attribute.options %}
						var attributeOptions = {{ attribute.options|safe }}
						var selectForm = createSelectForm("createForm", "attributes.{{attribute.name}}", attributeOptions, "{{attribute.value}}")
						attributeDiv.innerHTML = selectForm;

						// Set select bar to disabled as that is the default for the rest of the form
						var attributeSelectForm = document.getElementById("attributes.{{attribute.name}}");
						if(attributeSelectForm != null){
							attributeSelectForm.disabled = "disabled";
						}
						{% endif %}
					}
				{% endfor %}
				{% if descriptionEnabled %}
					toggleActorDescriptions();
				{% endif %}
		});
	</script>
{% endblock %}