{% extends "base.html" %}

{% block content %}
	<h2>Specify physical attributes</h2>
	<h6> If you've selected acting as an interested profession, you can specify your <br>physical characteristics so that casting agents can search for exactly who <br>they're looking for. It's completey optional and will increase your networking exposure.
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form method='post' action='{{ currentPageURL }}'>
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ next }}" />
		<input type="hidden" name="next" value="{{ next }}" />
		<input type="hidden" name="destination" value="{{ destination }}">
		{% for attribute in masterAttributes %}
			<br>
				{{ attributeName }}
				{% if attribute.attributeValue == True %}
					<input type="checkbox" name="attributes" value="{{attributeName}}:{{attributeValue}}" checked>
				{% elif attribute.attributeValue == False	 %}
					<input type="checkbox" name="attributes" value="{{attributeName}}:{{attributeValue}}">
				{% else %}
					<input type="input" name="attributes" value="{{attributeName}}:{{attributeValue}}">
				{% endif %}
		{% endfor %}
		<br><input type="submit" value="Update attributes" />
	</form>
	<div id="cancelButton"></div>


{% endblock %}