{% extends "base.html" %}

{% block content %}
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if next == possibleDestinations.interests %}
		<script>

		var chosenProfessionList = []
		var professionInterests = ["acting", "creative", "preProduction", "postProduction", "onSetProduction", "offSetProduction"];

		function getSquareButtonColumn(label, onclickString, idName){
			return ('<td onclick="' + onclickString + '" ><div class="squareButton" id="' + idName + '"><h1>' + label + '</h1></div></td>');
		}

		function submitForm(){
			var formButtonDiv = document.getElementById("continueButton");
			var extraInputs = []
            for(var i=0; i < chosenProfessionList.length; i++){
            	var profession = chosenProfessionList[i];
            	extraInputs.push({key: "profession." + profession, value: true})
            }
			var form = createPageRedirectForm("{{next}}", "{{next}}", "{{destination}}", "{{currentPageURL}}", extraInputs, formButtonDiv);
			form.submit();
		}

		function toggleProfession(profession){
			var professionCheckbox = document.getElementById(profession + "_checkbox");
			var professionRowID = profession + "_rowID";
			if(chosenProfessionList.indexOf(profession) >= 0){
				if(professionCheckbox != null){
					professionCheckbox.checked = false;
				}
				removeProfession(profession, professionRowID)
			}else{
				professionCheckbox.checked = "checked";
				addProfession(profession, professionRowID)
			}
		}

		function addProfession(profession, professionRowID){
			var table = document.getElementById("chosenProfessionTable");
			if(table != null && chosenProfessionList.indexOf(profession) < 0){
				chosenProfessionList.push(profession);
				var newProfessionRow = table.insertRow(-1);
				newProfessionRow.id = professionRowID;
				var newProfessionCell = newProfessionRow.insertCell(0);
				newProfessionCell.className = "professionsSelectColumn"
				newProfessionCell.onclick = '"toggleProfession(' + "'" + profession + "'" + ');"';
				newProfessionCell.innerHTML = "<a> " + profession + "</a><a onclick='toggleProfession(" + '"' + profession + '"' + ");' style='float:right; margin: 0px 5px 0px 0px;' /> X</a>";
			}
		}


		function removeProfession(profession, professionRowID){
			var professionIndex = chosenProfessionList.indexOf(profession);
			if(professionIndex >= 0){
				chosenProfessionList.splice(professionIndex, 1);		// Second argument is # of elements to cutout
				var professionRow = document.getElementById(professionRowID);
    			professionRow.parentNode.removeChild(professionRow);
			}
		}

		function filterProfessions(key){
			for(var i=0; i < professionInterests.length; i++){
				var interestDiv = document.getElementById(professionInterests[i] + "SquareButton");
				if(interestDiv != null){
					interestDiv.className = "squareButton";
					var professionFilterButtonParentDiv = document.getElementById(professionInterests[i]+ "SquareButton_parentCell");
					/*if(professionFilterButtonParentDiv != null){
						professionFilterButtonParentDiv.className = "";
					}*/
				}
			}

			var professionChoiceDiv = document.getElementById("professionChoicePanel")
			if(professionChoiceDiv != null){
				{% if professions %}
					var professionListString = "<table class='professionsSelectList'>";
					var professions = {{ professions|safe }};
					for(var i=0; i < professions[key].length; i++){
						var checkedValue = "";
						if(chosenProfessionList.indexOf(professions[key][i]) >= 0){
							checkedValue = "checked";
						}
						professionListString += "<tr><td class='professionsSelectColumn' onclick='toggleProfession(" + '"' + professions[key][i] + '");' + "'><a> " + professions[key][i] + "</a><input type='checkbox' id='" + professions[key][i] + "_checkbox' " + checkedValue + " style='float:right; margin: 8px 5px 0px 0px;' /></td></tr>";
					}
					professionListString += "</table>";
					document.getElementById("professionChoicePanel").innerHTML = professionListString;
					var professionFilterButtonDiv = document.getElementById(key + "SquareButton");
					if(professionFilterButtonDiv != null){
						console.log("setting div to active " + professionFilterButtonDiv)
						professionFilterButtonDiv.className = "squareButtonActive";
						var professionFilterButtonParentDiv = document.getElementById(key + "SquareButton_parentCell");
						if(professionFilterButtonParentDiv != null){
							professionFilterButtonParentDiv.className = "squareButtonCellActive";
						}
					}
				{% endif %}
			}
		}
		</script>

		<div id="workInterestDiv" style="display:none;">
			<h2>What kind of jobs are you looking for?</h2>
			<div id="wrapper">
				<table id="workInterestPanel">
					<tr>
						<td width="34%"><center><font color="black">1. Choose your field</font></center></td>
						<td width="33%"><center><font color="black">2. Add your professions</font></center></td>
						<td width="33%"><center><font color="black">3. Confirm your selections</font></center></td>
					</tr>
					<tr>
						<td width="34%">
							<table class="squareButtonTable">
								<thead>
								</thead>
								<tr>
									<script>
									document.write(getSquareButtonColumn("Acting &amp; Performing", "filterProfessions('acting');", 'actingSquareButton'));
									document.write(getSquareButtonColumn("Creative Positions", "filterProfessions('creative');", 'creativeSquareButton'));
									</script>
								</tr>
								<tr>
									<script>
									document.write(getSquareButtonColumn("Production - On set", "filterProfessions('onSetProduction');", 'onSetProductionSquareButton'));
									document.write(getSquareButtonColumn("Production - Off set", "filterProfessions('offSetProduction');", 'offSetProductionSquareButton'));
									</script>
								</tr>
								<tr>
									<script>
									document.write(getSquareButtonColumn("Pre Production", "filterProfessions('preProduction');", 'preProductionSquareButton'));
									document.write(getSquareButtonColumn("Post Production", "filterProfessions('postProduction');", 'postProductionSquareButton'));
									</script>
								</tr>
							</table>
						</td>
						<td width="33%">
							<div id="professionChoicePanel" class="profession3ColumnsFullPanel">
								<!--<div id="professionChoiceSubPanel" class="profession3ColumnsFullPanel_1"></div>-->
							</div>
						</td>
						<td width="33%">
							<div id="chosenProfessionChoicePanel" class="profession3ColumnsFullPanel">
								<!--<div id="chosenProfessionChoiceSubPanel" class="profession3ColumnsFullPanel_1">-->
									<table id="chosenProfessionTable" class="professionsSelectList">
									</table>
								
							</div>
						</td>

					</tr>
				</table>
			</div>
		</div>

		<script>


		function selectWorkInterest(){
			document.getElementById("interestsDiv").innerHTML = "";
			document.getElementById("workInterestDiv").style.display = "block";
			filterProfessions("acting");
		}

		function selectHireInterest(){
			console.log("hire selected");
		}

		function selectOtherInterest(){
			console.log("other selected");
		}

		</script>
		<div id="interestsDiv">
			<div id="wrapper" width="700px;">
				<div id="three-column" class="container">
					<div class="title">
						<h2>What are your interests?</h2>
						<span class="byline">Specify what you are looking for.</span>
					</div>
					<table>
						<tr>
							<td class="boxA">
								<h2>Job Seeking</h2>
								<span class="fa fa-cloud-download"></span>
							</td>
							<td class="boxB">
								<h2>Casting and Hiring</h2>
								<span class="fa fa-cogs"></span>
							</td>
							<td class="boxC">
								<h2> Explore </h2>
								<span class="fa fa-wrench"></span>
							</td>
						</tr>
						<tr>
							<td class="boxA">
								<p>Look for a job in the Vancouver film industry in anything from acting to set work to post production. Your profile will be public to casting agents and those looking to hire.</p>
							</td>
							<td class="boxB">
								<p>Create casting posts and job posts for both permanent and project-specific positions. You can also post in search of collaborators for a new project.</p><br>
							</td>
							<td class="boxC">
								<p> Explore the film industry around you. Check out local events, view projects that are currently being shot in Vancouver, </p><br><br><br>
							</td>
						</tr>
						<tr>
							<td class="boxA">
								<a onclick="selectWorkInterest()" class="button button-alt button-bottom">Looking for a job</a>
							</td>
							<td class="boxB">
								<a onclick="selectHireInterest()" class="button button-alt button-bottom">Looking to hire, collaborate, or cast a role</a>
							</td>
							<td class="boxC">
								<a onclick="selectOtherInterest()" class="button button-alt button-bottom">Other</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	{% endif %}
	<div id="cancelButton" class="button"><div id="cancelButtonLabel"></div></div>
	<div id="continueButton" class="button" onclick="submitForm()"><div id="continueButtonLabel">Continue</div></div>


	<!--{% if userAccount %}
		{% if userAccount.profilePicture %}
			<div id="profilePicture">
				<img src="{{ userAccount.profilePicture.url }}" height="150px" width="175px"/>
			</div>
		{% endif %}
	{% endif %}

	{% if next != possibleDestinations.interests %}
		{% if currentPageURL == "/account/edit/picture/" %}
			<form method='post' action="{{ currentPageURL }}" enctype="multipart/form-data">
		{% else %}
			<form method='post' action="{{ currentPageURL }}">
		{% endif %}
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="{{ nextButtonString }}" />
		</form>
	{% endif %}-->

{% endblock %}