{% extends "base.html" %}

{% block content %}
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if next == possibleDestinations.interests %}
		<script>
		function getSquareButtonColumn(label, onclickString){
			return ('<td onclick="' + onclickString + '"><div class="squareButton"><h1><br><br><br>' + label + '<br><br><br><br></h1></div></td>');
		}

		function filterProfessions(key){
			var professionChoiceDiv = document.getElementById("professionChoicePanel")
			if(professionChoiceDiv != null){
				{% if professions %}
					var professionListString = "<table class='professionsSelectList'>";
					var professions = {{ professions|safe }};
					for(var i=0; i < professions[key].length; i++){
						console.log("adding profession " + professions[key][i])
						professionListString += "<tr><td class='professionsSelectRow'><a onclick='addProfession(" + '"' + professions[key][i] + '");' + "'> " + professions[key][i] + "</a><input type='checkbox' name='" + professions[key][i] + "' value='false' style='float:right; margin: 9px 5px 0px 0px;' /></td></tr>";
					}
					professionListString += "</table>";
					console.log(professionListString)
					document.getElementById("professionChoiceSubPanel").innerHTML = professionListString;
				{% endif %}
			}
		}
		</script>

		<div id="workInterestDiv" style="display:none;">
			<h2>What kind of jobs are you looking for?</h2>
			<div id="wrapper">
				<table id="workInterestPanel">
					<tr>
						<td colspan='2'> <h3 class="title">Select your interested professions</h3></td>
					</tr>
					<tr>
						<td>
							<table class="squareButtonTable">
								<thead>
								</thead>
								<tr>
									<script>
									document.write(getSquareButtonColumn("Acting &amp; Extra", "filterProfessions('acting');"));
									document.write(getSquareButtonColumn("Creative", "filterProfessions('creative');"));
									</script>
								</tr>
								<tr>
									<script>
									document.write(getSquareButtonColumn("Production - On set", "filterProfessions('onSetProduction');"));
									document.write(getSquareButtonColumn("Production - Off set", "filterProfessions('offSetProduction');"));
									</script>
								</tr>
								<tr>
									<script>
									document.write(getSquareButtonColumn("Pre Production", "filterProfessions('preProduction');"));
									document.write(getSquareButtonColumn("Post Production", "filterProfessions('postProduction');"));
									</script>
								</tr>
							</table>
						</td>
						<td>
							<div id="professionChoicePanel">
								<div id="professionChoiceSubPanel"></div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<script>


		function selectWorkInterest(){
			document.getElementById("interestsDiv").innerHTML = "";
			document.getElementById("workInterestDiv").style.display = "block";
		}

		function selectHireInterest(){
			console.log("hire selected");
		}

		function selectOtherInterest(){
			console.log("other selected");
		}

		</script>
		<div id="interestsDiv">
			<div id="wrapper" width="700px;">
				<div id="three-column" class="container">
					<div class="title">
						<h2>What are your interests?</h2>
						<span class="byline">Specify what you are looking for.</span>
					</div>
					<div class="boxA">
						<!-- For the user side: someone looking to get a job-->
						<h2>Job Seeking</h2>
						<span class="fa fa-cloud-download"></span>
						<p>Look for a job in the Vancouver film industry in anything from acting to set work to post production. Your profile will be public to casting agents and those looking to hire.</p>
						<a onclick="selectWorkInterest()" class="button button-alt">Looking for a job</a>
					</div>
					<div class="boxB">
						<h2>Casting and Hiring</h2>
						<span class="fa fa-cogs"></span>
						<p>Create casting posts and job posts for both permanent and project-specific positions. You can also post in search of collaborators for a new project.</p>
						<a onclick="selectHireInterest()" class="button button-alt">Looking to hire, collaborate, or cast a role</a>
					</div>
					<div class="boxC">
						<h2> Explore </h2>
						<span class="fa fa-wrench"></span>
						<p> Explore the film industry around you. Check out local events, view projects that are currently being shot in Vancouver, </p>
						<a onclick="selectOtherInterest()" class="button button-alt">Other</a>
					</div>
				</div>
			</div>
		</div>

	{% endif %}


	{% if userAccount %}
		{% if userAccount.profilePicture %}
			<div id="profilePicture">
				<img src="{{ userAccount.profilePicture.url }}" height="150px" width="175px"/>
			</div>
		{% endif %}
	{% endif %}

	{% if next != possibleDestinations.interests %}
		{% if currentPageURL == "/account/edit/picture/" %}
			<form method='post' action="{{ currentPageURL }}" enctype="multipart/form-data">
		{% else %}
			<form method='post' action="{{ currentPageURL }}">
		{% endif %}
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="{{ nextButtonString }}" />
		</form>
	{% endif %}
	<div id="cancelButton" class="button"></div>

{% endblock %}