{% extends "base.html" %}

{% block content %}
	<h2>Your account setup is complete! What's next?</h2>
	<form action="/create/event/" method="post">
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ next }}" />
		<input type="hidden" name="next" value="{{ next }}" />
		<input type="hidden" name="destination" value="{{ possibleDestinations.event }}" />
		<input type="submit" value="Create event" />
	</form>
	<form action="/create/post/choose/" method="post">
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ next }}" />
		<input type="hidden" name="next" value="{{ next }}" />
		<input type="hidden" name="destination" value="{{ possibleDestinations.post }}" />
		<input type="submit" value="Create job/collaboration post" />
	</form>
	{% if showSetupProfile %}
		<form action="/account/edit/interests/" method="post">
			{% csrf_token %}
			<input type="hidden" name="source" value="{{ source }}" />
			<input type="hidden" name="next" value="{{ possibleDestinations.interests }}" />
			<input type="hidden" name="destination" value="{{ default }}" />
			<input type="submit" value="Setup profile" />
		</form>
	{% endif %}
	<form action="/browse/" method="post">
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ source }}" />
		<input type="hidden" name="next" value=" {{ possibleDestinations.browse }}" />
		<input type="hidden" name="destination" value="{{ default }}" />
		<input type="submit" value="Browse event and job posts" />
	</form>
{% endblock %}