{% extends "base.html" %}

{% block content %}
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if userAccount.profilePicture %}
		<div id="profilePicture">
			<img src="{{ userAccount.profilePicture.url }}" height="150px" width="175px"/>
		</div>
	{% endif %}

	<form method='post' action="/account/edit/picture/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update picture" />
	</form>
	<form method='post' action="/account/edit/picture/">
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ source }}">
		<input type="hidden" name="next" value="{{ next }}">
		<input type="hidden" name="destination" value="{{ destination }}">
		<input type="hidden" name="{{ cancel }}" value="True">
		{% if destination == "PROFILE" %}
			<input type="submit" value="Return to profile">
		{% else %}
			<input type="submit" value="Skip">
		{% endif %}
	</form>

{% endblock %}