{% extends "base.html" %}

{% block content %}
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form method='post' action="/account/edit/picture/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update picture" />
	</form>
	<form method='post' action="/account/edit/picture/">
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ possibleSources.picture }}">
		<input type="hidden" name="editSource" value="{{ editSource }}">
		<input type="hidden" name="skip" value="True">
		<input type="submit" value="Skip">
	</form>

{% endblock %}