{% extends "base.html" %}

{% block content %}
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if userAccount.profilePicture %}
		<div id="profilePicture">
			<img src="{{ userAccount.profilePicture.url }}" height="150px" width="175px"/>
		</div>
	{% endif %}

	<form method='post' action="/account/edit/picture/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update picture" />
	</form>
	<div id="cancelButton"></div>

{% endblock %}