{% extends "base.html" %}

{% block content %}
	<h2>Select Interested Professions</h2>
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form method='post' action='{{currentPageURL}}'>
		{% csrf_token %}
		<input type="hidden" name="source" value="{{ next }}" />
		<input type="hidden" name="next" value="{{ next }}" />
		<input type="hidden" name="destination" value="{{ destination }}">
		{% for profession in professionList %}
			<br>
			{% if profession in selectedProfessions %}
				<input type="checkbox" name="professions" value="{{profession}}" checked>
			{% else %}
				<input type="checkbox" name="professions" value="{{profession}}">
			{% endif %}
			{{ profession }}
		{% endfor %}
		<br><input type="submit" value="Update professions" />
	</form>
	<div id="cancelButton"></div>


{% endblock %}