{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
	{% if source == possibleSources.viewEvent %}
		<h3> Edit event </h3>
	{% elif source == possibleSources.login %}
		<h3>Welcome back {{ request.user.first_name }}!</h3>
	{% elif source == possibleSources.setupAccountFinish or source == possibleSources.createBasicAccountFinish%}
		<h3> Create your first event </h3>
	{% else %}
		<h2> Create an event</h2>
	{% endif %}
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	 <script>
	  $( document ).ready(function() {
	  		console.log("doing datepicker");
	      	$( ".datepicker" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "2017:2019",
	      // You can put more options here.
	    });
	  });
	  </script>

	<form method='post' action="/create/event/">
		{% csrf_token %}
		{{ form.as_p }}
		<!--<input type="hidden" name="eventID" value="{{eventID}}" />-->
		<input type="submit" value="Create Event" />
	</form>
{% else %}
	<h4>You must login to create an event.</h4>
{% endif %}

{% endblock %}

