{% extends "base.html" %}

{% block content %}

{% if event %}
	{% if event.eventPicture %}
		<div id="eventPicture">
			<img src="{{ event.eventPicture.url }}" height="150px" width="175px"/>
		</div>
	{% endif %}

	<h3> {{ event.title }}  </h3>
	<h5> Posted by {{ event.poster }} </h5>
	{% if event.poster == request.user.username %}
		<form method='post' action="/edit/event/{{ event.eventID }}/">
			{% csrf_token %}
			<input type="hidden" name="source" value="{{ source }}" />
			<input type="hidden" name="next" value="{{ possibleDestinations.edit }}" />
			<input type="hidden" name="destination" value="{{ destination }}" />
			<input type="hidden" name="eventID" value="{{ event.eventID }}" />
			<input type="submit" value="Edit Event" />
		</form>
	{% endif %}
	<h4> Located at {{ event.location }}  on {{ event.date }}</h4>
	<p> {{ event.description }}
{% else %}
	<h4>No event found</h4>
{% endif %}

<form method="post" action="/browse/events/">
	{% csrf_token %}
	<input type="hidden" name="source" value="{{ source }}" />
	<input type="submit" value="View more events" />
</form>

{% endblock %}