{% extends "base.html" %}

{% block content %}
{% load static %}
<link href="{% static "/AgencyApp/css/image.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "/AgencyApp/js/image/resources/jquery.selectareas.css" %}" media="screen" rel="stylesheet" type="text/css" />
<script src="{% static "/AgencyApp/js/image/jquery.selectareas.js" %}"></script>
<script type="text/javascript" src="{% static "/AgencyApp/js/image/image.js" %}"></script>
<script type="text/javascript" src="{% static "/AgencyApp/js/post/post.js" %}"></script>
<script>
    var projectTabs = ["roles", "jobs", "events"];
    var activeTab = "roles";
    var projectPicture;
    var projectSubFormPicture;

    function deletePostFromDB(postID, postType){
        $.ajax({
            url : "/ajax/deletePostFromDB/",
            data : {"postID": postID, "postType": postType},
            type : 'POST',
            dataType: "json",
            success : function(data) {
                if(!data["success"]){
                    console.log("failure, " + data["errors"]);
                }
            }
        });
    }

    function isElementListEmpty(listType){
        var listEmpty = false;
        if(listType == "roles"){
            {% if not roles %}
                listEmpty = true;
            {% endif %}
        }else if(listType == "jobs"){
            {% if not jobs %}
                listEmpty = true;
            {% endif %}
        }else if(listType == "events"){
            {% if not events %}
                listEmpty = true;
            {% endif %}
        }
        return listEmpty;
    }

    function generateNewPostID(postType){
        $.ajax({
            url : "/ajax/getNewPostID/",
            data : {"postType": postType},
            type : 'POST',
            success : function(data) {
                newPostIDs[postType] = data["postID"]
            }
        });
    }

    function getNewPostID(postType){
        var nextID = newPostIDs[postType]
        generateNewPostID(postType)
        return nextID;
    }

    function getPictureURL(isProject){
        // Returns the URL to display in edit picture popup window. If one has been uploaded already, that one will be chosen, otherwise the existing picture will be chosen, otherwise the noPicture default is chosen
        var pictureURL = "";
        if(isProject){
            if(projectPicture != null){
                pictureURL = projectPicture.src
            }else{
                {% if post and post.postPicture and post.postPicture.url %}
                    pictureURL = '{{post.postPicture.url}}';
                {% endif %}
            }
        }else{
            if(projectSubFormPicture != null){
                pictureURL = projectSubFormPicture.src
            }
        }
        setDoesPictureExist(pictureURL)
        if(pictureURL.length === 0){
            pictureURL = "{{images.noPicture}}";
        }
        return pictureURL;
    }

    function updatePictureObjects(isProject){
        // Set the picture object and whichever picture object was just updated
        if(isProject){
            projectPicture = newPicture;
        }else{
            projectSubFormPicture = newPicture;
        }
    }

    function addEditImageContent(containerID, isProject){
        var pictureID = "editPostPicture";
        setPictureID(pictureID);
        setButtonLoadingGifURL("{{images.loading.mid}}");
        setDefaultImageURL("{{images.loading.light}}")

        // Set the onclick to include isProject
        var updatePictureButton = document.getElementById("updatePictureButton");
        if(updatePictureButton != null){
            updatePictureButton.onclick = function(){
                submitPictureForm('editPostPictureForm', isProject)
            };
        }

        // Set the pictureURL to display
        var addCrop = true;
        var pictureURL = getPictureURL(isProject);
        if(pictureURL === "{{post.postPicture.url}}" || pictureURL === "{{images.noPicture}}"){
            addCrop = false;
        }

        // Set newPicture to pictureURL and update projectPicture/projectSubFormPicture
        setNewPictureObject(pictureURL, addCrop)
        updatePictureObjects(isProject);

        imageInputDivID = pictureID + "Image";

        // Reset picture input value and remove previous change callbacks
        $("[id='" + imageInputDivID + "']").val("");
        $("[id='" + imageInputDivID + "']").off('change');

        // Add new callback for this window
        $("[id='" + imageInputDivID + "']").change(function(){
            if(this.value != null && this.value.length > 0){
                pictureExists = true;
                previewEditPicture(this, function(){
                    updatePictureObjects(isProject)
                });
            }else{
                var fallbackPictureURL = "";
               {% if not post or not post.postPicture or not post.postPicture.url %}
                    pictureExists = false;
                {% endif %}
                if(pictureURL.length > 0){
                    setNewPictureObject(pictureURL, addCrop)
                    updatePictureObjects(isProject);
                    loadImage(pictureURL, addCrop)
                    selectMainArea()
                }
            }
        });
    }

    function getProjectFormDict(){
        var postFields = {}
        var errors = {"required": []};

        {% if forms.project %}
            {% spaceless %}
            {% for field in forms.project %}
                var postField = createPostField('project', '{{field.name}}', '{{field.value}}', '{{field.label}}', '{{field}}', '{{field.errors}}')
                if(postField != null){
                    postFields[postField.name] = postField;
                }

                // Add any form errors to the error dict
                {% if field.errors %}
                    {% for error in field.errors %}
                        var errorString = '{{error}}';
                        var fieldDisplayName = postField.label.replace("*", "");

                        // Want to group all fields with the same error
                        if(errorString ===  "This field is required."){
                            errors["required"].push(fieldDisplayName);
                        }
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% endspaceless %}

            // Add csrf token
            var csrfField = {"name": "csrf_token", "input": "{% csrf_token %}", "hidden": true};
            postFields['csrf_token'] = csrfField;

            // Add cancel button with onclick
            var cancelButton = {'name': 'cancelButton', 'onclick': 'redirectToPost("{{post.postID}}");', "hidden": true};
            postFields['cancelButton'] = cancelButton;

            // Add create/update button with onclick
            var createButton = {'name': 'createButton', 'onclickFunction': 'submitProjectForm', "hidden": true};
            postFields['createButton'] = createButton;

            if(errors["required"].length > 0){
                postFields["errors"] = errors;
            }

            postFields["newPost"] = true;
        {% endif %}
        return postFields;
    }


        function getCastingFormDict(existingPosts){
            var postFields = {}
            {% if forms.role %}
                {% spaceless %}
                {% for field in forms.role %}
                    var postField = createPostField('casting', '{{field.name}}', '{{field.value}}', '{{field.label}}', '{{field}}')
                    if(postField != null){
                        postFields[postField.name] = postField;
                    }
                {% endfor %}
                {% endspaceless %}

                // Add project
                var projectField = {"name": "project"}
                {% if post and post.title %}
                    projectField.title  = '{{post.title}}';
                    projectField.projectID = '{{post.postID}}';
                {% endif %}
                postFields["project"] = projectField

                // Add actor
                var actorField = {"username": "{{actor.username}}", "cleanName": "{{actor.cleanName}}"}
                {% if actor %}
                    actorField["username"] = "{{actor.username}}";
                    actorField["cleanName"] = "{{actor.cleanName}}";
                    {% if actor.profilePicture %}
                        actorField.profilePictureURL = '{{actor.profilePicture.url}}';
                    {% endif %}
                {% else %}
                    actorField["username"] = null;
                    actorField.profilePictureURL = '{{images.noProfilePicture}}';
                {% endif %}
                postFields["actor"] = actorField;

                // Add csrf token
                var csrfField = {"name": "csrf_token", "input": "{% csrf_token %}", "hidden": true};
                postFields['csrf_token'] = csrfField;

                // Add cancel button with onclick
                var cancelButton = {'name': 'cancelButton', 'onclick': 'toggleExpandListPanel("shrink", "roles", "vertical");', "hidden": true};
                if(existingPosts){
                    cancelButton["onclick"] = 'toggleExpandListPanel("shrink", "roles", "horizontal");';
                }else{
                    cancelButton["onclick"] = 'toggleExpandListPanel("shrink", "roles", "vertical");'
                }
                postFields['cancelButton'] = cancelButton;

                // Add create/update button with onclick
                var createButton = {'name': 'createButton', 'onclickFunction': 'submitProjectSubForm', "hidden": true};
                postFields['createButton'] = createButton;

                postFields["newPost"] = true;
            {% endif %}
            return postFields;
        }

        function createPostField(postType, name, value, label, input){
            var save = true;
            var postField = {"name": name, "value": value, "hidden": false, "label": label, 'input': input}
            if(input.indexOf('hidden') >= 0){
                postField.hidden = true;
            }

            var statusOptions;
            {% if statusOptions %}
                statusOptions = {{ statusOptions|safe }}
            {% endif %}

            var selectFields;
            {% if selectFields %};
                selectFields = {{ selectFields|safe }};
            {% endif %}


            if(postField.name == "projectID"){
                postField.value = "{{post.projectID}}";
            }else if(postField.name == "postID"){
                if(postType != 'project'){
                    postField.value = getNewPostID(postType);
                }else{
                    postField.value = '{{post.postID}}';
                }
            }else if(postField.name == "postPicture"){
                var isProject = false;
                if(postType === "project"){
                    isProject = true;
                    {% if post.postPicture %}
                        postField.value = "{{post.postPicture.url}}";
                    {% else %}
                        postField.value = "{{images.noPicture}}";
                    {% endif %}
                }else{
                    postField.value = "{{images.noPicture}}";
                }
                postField.editOnclick = "toggleEditPicturePopup('show', " + isProject + ")";
            }else if(postField.name == "paid"){
                var currentInput = postField.input;
                var paidDescription = '{{post.paidDescription}}'
                if(paidDescription === "None"){
                    paidDescription = ''
                }
                postField.input = "<div style='position: relative; margin-top: -5px;'>" + currentInput + "<div style='position: absolute; top: 0; right: 0; margin-top: 6px; width: 90%; min-width: 180px; text-align: right;'><div style='position: relative;'> <div style='position: absolute; left: 0;' class='editPostLabelPanel'>Specify </div><div style='position: absolute; left: 0; right: 0; margin-right: 3px; margin-left: 68px; margin-top: -3px;'><input type='text' name='paidDescription' value='" + paidDescription + "' style='display: inline; margin-top: -10px;'></div></div></div>"
            }else if(postField.name === "paidDescription"){
                // Paid description will be on same line as paid
                save = false;
            }else if(postField.name === "status"){
                var options = [];
                if("roles" in statusOptions && postType == "roles"){
                    options = {{ statusOptions.roles|safe }}
                }else if("jobs" in statusOptions && postType == "jobs"){
                    options = {{ statusOptions.jobs|safe }}
                }else{
                    options = {{ statusOptions.projects|safe }}
                }
                postField.options = options;
            }else if(postField.name == "description"){
                postField.numRows = 20;
                if(postField.value.length <= 0){
                    postField.value = "";
                }
                if(activeTab === "roles"){
                    postField["placeholder"] = "John is a charismatic father of 2 who loves his dogs."
                }else if(activeTab === "jobs"){
                    postField["placeholder"] = 'The hiree must be able to handle all camera operations for all set days. They will be compensated at an hourly rate, with potential for reshoots after primary production.';
                }else{
                    //project
                    postField["placeholder"] = "The Great Gatsby is a tale of love and loss. We will be shooting it over the next 3 weeks to create a short ode to the F Scott Fitzgerald classic."
                }
            }else if(postField.name == "poster"){
                postField.value = "{{ request.user.username }}"
                postField.input = postField.input.replace('name="poster"', 'name="poster" value="' + postField.value + '"')
            }else if(postField.name == "startDate" || postField.name == "endDate"){
                postField.input = postField.input.replace('type="text"', 'type="date"')
                {% if postField.name == "startDate" %}
                    postField.value = currentDateString
                {% else %}
                    postField.value = tomorrowDateString;
                {% endif %}
            }else if(selectFields != null){
                var roleSelectFields = {{ selectFields.roles.names|safe }};
                var jobSelectFields = {{ selectFields.jobs.names|safe }}
                if(roleSelectFields.indexOf(name) >= 0 && activeTab == "roles"){
                    {% if selectFields.roles.options %}
                        var options = {{ selectFields.roles.options|safe }}
                        postField.options = options[postField.name]
                    {% endif %}
                }else if(jobSelectFields.indexOf(name) >= 0 && activeTab == "jobs"){
                    {% if selectFields.jobs.options %}
                        var options = {{ selectFields.jobs.options|safe }}
                        postField.options = options[postField.name]
                    {% endif %}
                }else{
                    //project
                    var projectSelectFields = {{ selectFields.projects.names|safe }};
                    {% if selectFields.projects.options %}
                        var options = {{ selectFields.projects.options|safe }}
                        postField.options = options[postField.name]
                    {% endif %}
                }
            }
            if(save){
                // If value was added but it's not in input, add it (TODO change value in input if it is already there)
                if(postField.input.indexOf("value=") < 0 && postField.value.length > 0 && postField.value != "None"){
                    postField.input = postField.input.replace(">", " value='" + postField.value + "'>")
                }
                return postField;
            }
        return null;
    }

                    /*// Add field errors
                    {% if field.errors %}
                        {% for error in field.errors %}
                            var errorString = '{{error}}';
                            var fieldDisplayName = postField.label.replace("*", "");

                            // Want to group all fields with the same error
                            if(errorString ===  "This field is required."){
                                errors["required"].push(fieldDisplayName);
                            }
                        {% endfor %}
                    {% endif %}*/

            

            /*if(errors["required"].length > 0){
                postFields["errors"] = errors;
                console.log(postFields["errors"])
            }

            return postFields;
        }*/

    function submitProjectForm(formName){
        // Set the status from the select bar in the form
        var statusDiv = document.getElementById("statusSelectBar");
        if(statusDiv != null){
            document.getElementById("statusSelectInput").value = statusDiv.value;
        }

        // Set values of all other select fields
        {% if selectFields.projects.names %}
            {% for name in selectFields.projects.names %}
                var selectDiv = document.getElementById('{{name}}SelectBar')
                if(selectDiv != null){
                    document.getElementById('{{name}}SelectInput').value = selectDiv.value;
                }
            {% endfor %}
        {% endif %}

        // Submit the form
        var form = document.getElementById(formName)
        if(form != null){
            return form.submit();
        }
    }

    function submitProjectSubForm(formName){
        // Submits the form while adding values of select bars with id '{{name}}SelectBar' to form input '{{name}}SelectInput'
        var statusDiv = document.getElementById("statusSelectBar");
        if(statusDiv != null){
            // Set the status from the select bar in the form
            document.getElementById("statusSelectInput").value = statusDiv.value;
        }
        {% if selectFields.roles.names %}
            {% for name in selectFields.roles.names %}
                var selectDiv = document.getElementById('{{name}}SelectBar')
                if(selectDiv != null){
                    document.getElementById('{{name}}SelectInput').value = selectDiv.value;
                }
            {% endfor %}
        {% endif %}
        var form = document.getElementById(formName)
        if(form != null){
            $.ajax({
                url : "/ajax/createNewCastingPost/",
                data : $("[id='" + formName + "']").serialize(),
                type : 'POST',
                dataType: "json",
                success : function(data) {
                    if(data["success"]){
                        toggleExpandListPanel("shrink", activeTab, "horizontal")
                    }else{
                        if (data["errors"]){
                            errorRow = document.getElementById("formErrorRow");
                            if(errorRow != null){
                                errorRow.innerHTML = "<td colspan='3'>" + getErrorPanel(data["errors"]) + "</td>";
                            }

                            // Change height of container to handle error panel TODO: add errorRow.height to container
                            addNewPanel = document.getElementById("addNewPanel");
                            addNewPanel.style.height = "1500px";

                            projectContentPanel = document.getElementById("projectContentPanel")
                            projectContentPanel.style.height = "1500px";
                        }
                    }
                }
            });
        }
    }

    function getNewElementForm(formType, slideDirection){
        if(slideDirection === null){
            slideDirection = "horizontal";
        }
        var formString = "";
        if(formType === "roles"){
            formString += addCreateCastingPost(getCastingFormDict(!isElementListEmpty(formType)), "{{currentPageURL}}", "createCastingPostForm");
        }else if(formType === "jobs"){
            return "jobs"
        }else if(formType === "events"){
            return "events"
        }
        return formString;
    }

    var expanded = false;
    function toggleExpandListPanel(toggleType, panelType, direction){
        if(direction == null){
            direction = "horizontal";
        }
        var newToggleType = toggleType;
        if(newToggleType === "expand"){
            newToggleType = "shrink";
        }else{
            newToggleType = "expand";
        }
        var transitionSpeed = 350;
        var addNewPanel = document.getElementById("addNewPanel")
        var existingList = document.getElementById("projectContentList")
        var listPanel = document.getElementById("projectContentPanel")
        var addNewListElement = document.getElementById("addNewListElement")
        var formParentDiv = addNewPanel
        if(addNewPanel != null){
            if(expanded && toggleType == "shrink"){
                if(direction === "vertical"){
                    if(listPanel != null){
                        $("#projectContentPanel").animate({marginTop: "-13px", height: "0%"}, transitionSpeed);
                    }
                    $('#addNewPanel').animate({marginTop: '-13px', height:'0%'}, transitionSpeed);
                    addNewPanel.style.border = "none";
                    addNewPanel.innerHTML = "";
                }else if(direction === "horizontal"){
                    $('#addNewPanel').stop(true, true).delay(500).animate({marginLeft: '0px', width:'24.6%', border: '2px solid #000'}, transitionSpeed);
                    $('#addNewPanel').animate({marginTop: '-13px', height:'200px'}, transitionSpeed);
                    if(listPanel != null){
                        $("#projectContentPanel").animate({marginTop: "-13px", height: "360px"}, transitionSpeed, function() {
                                $("#projectContentPanel").css("overflow", "scroll");
                            });
                    }
                    if(existingList != null){
                        $('#projectContentList').stop(true, true).delay(500).animate({marginLeft: "208px"}, transitionSpeed);
                    }
                    addNewPanel.innerHTML = createAddNewButton(panelType);
                }
                expanded = false;
            }else{
                if(direction === "vertical"){
                    if(listPanel != null){
                        $("#projectContentPanel").animate({marginTop: "-13px", height: "1370px"}, transitionSpeed);
                    }
                    addNewPanel.style.border = "2px solid #000";
                    $('#addNewPanel').animate({marginTop: '-13px', height:'1340px'}, transitionSpeed);
                }else if(direction === "horizontal"){
                    $('#addNewPanel').animate({marginLeft: '0px', width:'99.4%', marginTop: "-13px", height: "1370px"}, transitionSpeed);
                    if(listPanel != null){
                        // Remove scroll when form is expanded
                        $("#projectContentPanel").stop(true, true).delay(500).animate({marginTop: "-13px", height: "1370px"}, transitionSpeed, function() {$("#projectContentPanel").css("overflow", "hidden");});
                    }
                    addNewPanel.style.border = "none";
                    $('#addNewListElement').prop("onclick", null);
                    if(existingList != null){
                        $('#projectContentList').animate({marginLeft: "99.8%"}, transitionSpeed);
                    }
                    formParentDiv = addNewListElement;
                }
                formParentDiv.innerHTML = getNewElementForm(panelType, direction);
                addElementStatusSelect(panelType);
                expanded = true;
            }
        }
    }

    function getSingularFromPlural(plural){
        var singular= "";
        if(plural.substring(plural.length-1, plural.length) == "s"){
            return plural.substring(0, plural.length-1);
        }
        return plural
    }

    function createAddNewButton(tabType){
        var buttonString = "";
        var addNewPanel = document.getElementById("addNewPanel");
        if(addNewPanel != null){
            var expandType = "expand";
            if(expanded){
                expandType = "shrink";
            }
            // Add container
            buttonString += "<div id='addNewListElement' class='projectContentListElement' onclick='toggleExpandListPanel(" + '"' + expandType + '", "' + tabType + '");' + "'  style='width: 100%; height: 352px; border: none; border-radius: 0px;'>";
            
            // Add plus sign
            buttonString += "<div style='position:relative; height: 100%; width: 100%; text-align: center'><div style='position:absolute; top: 30%; width: 100%'><img src='{{images.plus}}' style='height: 100px; width: 100px'><br><h3>Add New</h3></div></div>";

            // Close container
            buttonString += "</div>";
        }
        return buttonString
    }
</script>

<div id="mainViewPanel" class="mainViewPanel">
    <div id="hiddenGrayPopupOverlay" class="hiddenGrayPopupOverlay" style="background: rgba(0,0,0,0); height:0%; width:0%; position: fixed; top:0; z-index: 3">
        <div style="position: relative; height: 100%;"><div id="selectProjectPanel" class="popupContentPanel" style="width: 80%; height: 400px; display: none; position: fixed; top: 10%; left: 10%;" onclick="toggleSelectProjectPopup('hide', 'asdasds');"></div></div>
        <div style="position: relative; height: 100%;">
            <div id="editPicturePanel" class="popupContentPanel" style="width: 400px; padding-bottom: 1.5em; display: none; position: fixed; top: 2%; left: 25%;">
                <center>
                <div id="backToProfileButton" style="width:170px; padding: 0em 0em 0em 0em; float: left; margin-top: 5px; margin-left: 5px;"><a onclick="toggleEditPicturePopup('hide');" class="noBorderButton" style="border: none; float: left; margin-left: 10px;">X</a></div>
                <br><br>
                    <h1> Add Picture </h1>
                <br>
                <center>
                    <div style='position: relative; width: 300px;'>
                        <div id="loadingPictureGrayOverlay" class="hiddenGrayPopupOverlay" style="background: rgba(0,0,0,0); height:0%; width:0%; position: absolute; margin-top: 6px; margin-left: 6px;top:0; z-index: 1000">
                            <img id='loadingGif' src='{{images.loading.light}}' style='height: 70px; width: 70px; display: none; margin-top: 50%; margin-left: 5%; z-index: 1001'></div>
                    </div>
                    <div id="editPostPictureDiv" class="editPostPictureDiv" style='width: 300px;'>
                    </div>
                </center>

                <form method="post" id="editPostPictureForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style='text-align: center; margin-left: 30px;'><input type='file' name='postPicture' id='editPostPictureImage'></div><br>
                    <input type='hidden' name='postID' value='{{post.postID}}'>
                    <input type='hidden' name='postType' value='{{postType}}'>

                    <table>
                        <tr>
                            {% if post and post.postPicture and post.postPicture.url %}
                                <td>
                                    <div id="removeButton" class="whiteButton blackHover" style="width:70px; height:28px; display:block;" onclick="removePicture();">
                                        <div style="margin-left: 5px; margin-top: 2px;">Remove</div>
                                    </div>
                                </td>
                            {% else %}
                                <td>
                                    <div id="skipButton" class="whiteButton blackHover" style="width:70px; height:28px; display: block;" onclick="toggleEditPicturePopup('hide');">
                                        <div style="margin-left: 5px; margin-top: 2px;">Cancel</div>
                                    </div>
                                </td>
                            {% endif %}
                            <td>
                                <div id="updatePictureButton" class="whiteButton blackHover" style="width: 70px; height:28px; position: relative; display: block;">
                                    <div style="margin-left: 5px; margin-top: 2px;">Update</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div id="cropInfoInputs"></div>
                </form>
            </div>
            </center>
        </div>
    </div>
    <div id="editPostPanel" class="editPostPanel">
        <div id="projectForm"></div>
    </div>
    <script>
        var projectFormDiv = document.getElementById("projectForm");
        if(projectFormDiv != null){
            var newForm = addCreateProjectPost(getProjectFormDict(), "{{currentPageURL}}", "createProjectPostForm");
            projectFormDiv.innerHTML = newForm;
        }
    </script>
    <table style="width:99%; height: 400px;">
            <tr>
                        <td colspan="3" >
                            <table style="width: 100%;">
                                <tr style="text-align: center">
                                    <td>
                                        <div class="projectTabButtonInactive" id="rolesButton" onclick="selectProjectTab('roles')" style="margin-left: -5px;">
                                            Roles
                                            <div id="rolesBorderCover" class="profileTabBorderCover"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="projectTabButtonInactive" id="jobsButton" onclick="selectProjectTab('jobs')" style="margin-left: 4px;">
                                            Jobs
                                            <div id="jobsBorderCover" class="profileTabBorderCover"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="projectTabButtonInactive" id="eventsButton" onclick="selectProjectTab('events')" style="margin-right: -22px;">
                                            Events
                                            <div id="eventsBorderCover" class="profileTabBorderCover"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
            </tr>
            <tr>
                        <td colspan="3">
                            <div style="position: relative;">
                            <div id="projectContentPanel" class="projectContentPanel" style="margin-left: -1px; margin-right:-8px; overflow: scroll; min-height: 70px;">
                                <div id="addNewPanel" style="position: absolute; top: 0; left: 0; margin-top: 2px; margin-bottom: -10px; border: 2px solid #000; border-radius: 4px; width: 24.6%; text-align: center;">
                                    <script>
                                        {% if roles %}
                                            document.write(createAddNewButton("roles"));
                                        {% elif jobs %}
                                            document.write(createAddNewButton("jobs"));
                                        {% elif events}
                                            document.write(createAddNewButton("events"));
                                        {% endif %}
                                    </script>
                                </div>
                                <div id="projectContentList" class="projectContentList" style="margin-left: 208px; min-height: 360px;">

                                </div>
                            </div>
                        </div>
                        </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var newPostIDs = {"casting": null, "work": null, "event": null}
    for(postType in newPostIDs){
        generateNewPostID(postType)
    }

    function getEmptyListButton(listType){
        var contentString = "<div style='position: relative; margin-top: 20px;'><div id='addNewPanel' class='addNewPanel' style='height:0px; width: 99.5%; border: none; position: absolute; top:0; z-index: 2; margin-top: -13px;'></div><div style='width: 100%; height: 60px; text-align: center; position:absolute; top: 30%; left: -20%; background: #FFF;' ><h3 style='display: inline;'>No " + listType + " registered.</h3><div class='whiteButton blackHover' onclick='toggleExpandListPanel(" + '"expand", "' + listType + '", "vertical");' + "' style='position: absolute; left: 70%; margin-top: -12px; width: 22%;'> Add </div></div>"
        return contentString
    }

    function getBrowseRolesDict(){
        var roleDict = {"Open": [], "Cast": [], "Opening Soon": []};
        {% if roles %}
            {% for role in roles %}
                var newRole = {"actor": {}, "post": {}};
                {% if role.actor %}
                    newRole["actor"] = {"username": '{{role.actor.username}}', "cleanName": '{{role.actor.cleanName}}'}
                    {% if role.actor.profilePicture and role.actor.profilePicture.url %}
                        newRole["actor"]["profilePicture"] = '{{role.actor.profilePicture.url}}';
                    {% else %}
                        newRole["actor"]["profilePicture"] = '{{images.noProfilePicture}}';
                    {% endif %}
                {% endif %}

                {% if role.post %}
                    newRole["post"] = {"postID": {'value': '{{role.post.postID}}', 'hidden': true},
                                       "characterName": {'value': '{{role.post.characterName}}', 'hidden': false},
                                       "title": {'value': '{{role.post.title}}', 'hidden': false},
                                       "startDate": {'value': '{{role.post.startDate}}', 'hidden': false},
                                       "endDate": {'value': '{{role.post.endDate}}', 'hidden': false},
                                       "hoursPerWeek": {'value': '{{role.post.hoursPerWeek}}', 'hidden': false},
                                       "gender": {'value': '{{role.post.gender}}', 'hidden': false},
                                       "status": {'value': '{{role.post.status}}', 'hidden': true}
                                   };
                    {% if role.post.postPicture and role.post.postPicture.url %}
                        newRole["post"]["postPicture"] = '{{role.post.postPicture.url}}';
                    {% else %}
                        newRole["post"]["postPicture"] = '{{images.noPicture}}';
                    {% endif %}

                if('{{role.post.status}}' in roleDict){
                    roleDict['{{role.post.status}}'].push(newRole);
                };
                {% endif %}
            {% endfor %}
        {% endif %}
        console.log(roleDict)
        return roleDict;
    }

    function selectProjectTab(tabType){
        /*for(var i=0; i < projectTabs.length; i++){
            var buttonId = projectTabs[i] + "Button";
            var borderCoverId = projectTabs[i] + "BorderCover";
            var projectButtonDiv = document.getElementById(buttonId);
            var projectButtonBorderCoverDiv = document.getElementById(borderCoverId)
            if(projectButtonDiv != null && projectButtonBorderCoverDiv != null){
                if(projectTabs[i] === tabType){
                    projectButtonDiv.className = "projectTabButtonActive";
                    activeTab = tabType;
                    if(isElementListEmpty(tabType)){
                        var projectContentPanel = document.getElementById("projectContentPanel");
                        if(projectContentPanel != null){
                            projectContentPanel.innerHTML = getEmptyListButton(tabType);
                            $("#projectContentPanel").animate({marginTop: "-13px", height: "70px"}, 300);
                            
                        }
                    }else{
                        document.getElementById("addNewPanel").innerHTML = createAddNewButton(tabType);
                    }
                } else {
                    projectButtonDiv.className = "projectTabButtonInactive";        
                }
            }
        }*/
        var entries;
        var sectionOrder;
        if(tabType === "roles"){
            entries = getBrowseRolesDict();
            sectionOrder = ["Open", "Opening Soon", "Cast"];
        }else if(tabType == "jobs"){
            selectJobs();
        }else if(tabType == "events"){
            selectEvents();
        }
        var table = createBrowseTable(tabType, entries, sectionOrder)
        /*var contentDiv = document.getElementById("projectContentList")
        if(contentDiv != null){
            contentDiv.scrollLeft = 0;
        }*/
    }

    function selectRoles(){
        var listDiv = document.getElementById("projectContentList");
        var contentString = "";
        if(listDiv != null){
            {% if roles %}
                contentString += "<table><tr>";
                //contentString += "<td><div id='addRoleListElement' class='projectContentListElement grayBackground grayHover' onclick='expandListPanel(" + '"roles"' + ");' style='width:98.5%;'>Add new role</div></td>";
                {% for roleObj in roles %}
                    {% if roleObj.post.status == "Cast" and roleObj.actor %}
                        var roleID = "{{roleObj.post.postID}}_ListElement";
                        contentString += "<td id='" + roleID + "' class='projectContentListElement grayBackground grayHover' onclick='redirectToPost(" + '"{{roleObj.post.postID}}");' + "'>";

                        // CAST label
                        contentString += "<div style='text-align: left;margin-top: -20px; margin-left: 5px; padding: 0em 0em 0.7em 0em; font-weight: 500;'><h3 style='display: inline;'>CAST</h3> - <a onclick='redirectToUser(" + '"{{roleObj.actor.username}}");' + "'>{{roleObj.actor.cleanName}}</a></div>"

                        // profilePic
                        contentString += "<div class='projectContentListElementPicturePanel'><div class='projectContentListElementPicture'>";
                        {% if roleObj.actor.profilePicture %}
                            contentString += '<img src="{{ roleObj.actor.profilePicture.url }}" style="max-width: 150px; max-height:150px;"/>'
                        {% else %}
                            contentString += '<img src="{{images.noProfilePicture}}" style="max-width: 150px; max-height: 150px;">';
                        {% endif %}
                        contentString += "</div></div><br>";
                        contentString += "<div class='projectContentListElementText'><h2>{{roleObj.post.characterName}}</h2><p>{{roleObj.post.shortCharacterDescription}}</p></div>"
                    {% elif roleObj.post %}
                        contentString += "<td class='projectContentListElement greenBackground darkGreenHover' onclick='redirectToPost(" + '"{{roleObj.post.postID}}");' + "'>"
                        contentString += "<div style='text-align: left;margin-top: -20px; margin-left: 5px; padding: 0em 0em 0.7em 0em; font-weight: 500;'><h3 style='display: inline;'>OPEN</h3></div>";

                        // postPic
                        contentString += "<div class='projectContentListElementPicturePanel'><div class='projectContentListElementPicture'>";
                        {% if roleObj.post.postPicture %}
                            contentString += '<img src="{{ roleObj.post.postPicture.url }}" style="max-width: 150px; max-height:150px;"/>'
                        {% else %}
                            contentString += '<img src="{{images.noProfilePicture}}" style="width: 150px; max-height: 150px;">';
                        {% endif %}
                        contentString += "</div></div><br>";
                        contentString += "<div class='projectContentListElementText'><h2>{{roleObj.post.characterName}}</h2><p>{{roleObj.post.shortCharacterDescription}}</p></div>"

                    {% else %}
                        contentString += "{{roleObj.post.characterName}}, {{roleObj.post.status}}, {{roleObj.actor}}"
                    {% endif %}
                    contentString += "</td>";
                {% endfor %}
                contentString += "</tr></table>"
            {% endif %}
            listDiv.innerHTML = contentString
        }
    }

    function selectJobs(){
        var listDiv = document.getElementById("projectContentList");
        var contentString = "";
        if(listDiv != null){
            {% if jobs %}
                contentString += "<table><tr>";
                {% for jobObj in jobs %}
                    {% if jobObj.post.status == "Filled" and jobObj.user %}
                        contentString += "<td class='projectContentListElement grayBackground grayHover' onclick='redirectToPost(" + '"{{jobObj.post.postID}}");' + "'>";

                        // CAST label
                        contentString += "<div style='text-align: left;margin-top: -20px; margin-left: 5px; padding: 0em 0em 0.7em 0em; font-weight: 500;'><h3 style='display: inline;'>FILLED</h3> - <a onclick='redirectToUser(" + '"{{jobObj.user.username}}");' + "'>{{jobObj.user.cleanName}}</a></div>"

                        // profilePic
                        contentString += "<div class='projectContentListElementPicturePanel'><div class='projectContentListElementPicture'>";
                        {% if jobObj.user.profilePicture %}
                            contentString += '<img src="{{ jobObj.user.profilePicture.url }}" style="max-width: 150px; max-height:150px;"/>'
                        {% else %}
                            contentString += '<img src="{{images.noProfilePicture}}" style="width: 150px; max-height: 150px;">';
                        {% endif %}
                        contentString += "</div></div><br>";
                        contentString += "<div class='projectContentListElementText'><h2>{{jobObj.post.profession}}</h2><p>{{jobObj.post.shortDescription}}</p></div>"
                    {% elif jobObj.post.status == "Hiring" and jobObj.post %}
                        contentString += "<td class='projectContentListElement greenBackground darkGreenHover' onclick='redirectToPost(" + '"{{jobObj.post.postID}}");' + "'>"
                        contentString += "<div style='text-align: left;margin-top: -20px; margin-left: 5px; padding: 0em 0em 0.7em 0em; font-weight: 500;'><h3 style='display: inline;'>AVAILABLE</h3></div>";

                        // postPic
                        contentString += "<div class='projectContentListElementPicturePanel'><div class='projectContentListElementPicture'>";
                        {% if jobObj.post.postPicture %}
                            contentString += '<img src="{{ jobObj.post.postPicture.url }}" style="max-width: 150px; max-height:150px;"/>'
                        {% else %}
                            contentString += '<img src="{{images.noProfilePicture}}" style="width: 150px; max-height: 150px;">';
                        {% endif %}
                        contentString += "</div></div><br>";
                        contentString += "<div class='projectContentListElementText'><h2>{{jobObj.post.profession}}</h2><p>{{jobObj.post.shortDescription}}</p></div>"

                    {% else %}
                        contentString += "{{jobObj.post.profession}}"
                    {% endif %}
                    contentString += "</td>";
                {% endfor %}
                contentString += "</tr></table>"
            {% endif %}
            listDiv.innerHTML = contentString
        }
    }

    function selectEvents(){
        var listDiv = document.getElementById("projectContentList");
        var contentString = "";
        if(listDiv != null){
            {% if events %}
                contentString += "<table><tr>";
                {% for eventObj in events %}
                    contentString += "<td class='projectContentListElement grayBackground grayHover' onclick='redirectToPost(" + '"{{eventObj.post.postID}}");' + "'>";
                    // eventPic
                    contentString += "<div class='projectContentListElementPicturePanel'><div class='projectContentListElementPicture'>";
                    {% if eventObj.post.postPicture %}
                        contentString += '<img src="{{ eventObj.post.postPicture.url }}" style="max-width: 150px; max-height:150px;"/>'
                    {% else %}
                        contentString += '<img src="{{images.noPicture}}" style="width: 150px; max-height: 150px;">';
                    {% endif %}
                    contentString += "</div></div><br>";
                    contentString += "<div class='projectContentListElementText'><h2>{{eventObj.post.title}}</h2><h3>{{eventObj.post.date}}<br>Location: {{eventObj.post.location}}</h3><p>{{eventObj.post.description}}</p></div>";
                    contentString += "</td>";
                {% endfor %}
                contentString += "</tr></table>"
            {% endif %}
            listDiv.innerHTML = contentString
        }
    }

    /*function toggleEditPictureFilePanel(toggleType){
        var form = document.getElementById
        var pictureFilePanel = document.getElementById("editPictureFilePanel");
        var pictureUpdateButton = document.getElementById("updatePictureButton")
        if(pictureFilePanel != null && pictureUpdateButton != null){
            if(toggleType == "display"){
                pictureUpdateButton.style.opacity = 0;
                $('.editPictureFilePanel').animate({bottom: "0"}, 200);
                editPictureFilePanelShown = true;
            }else{

                $('.editPictureFilePanel').animate({bottom: "-100"}, 200);
                pictureUpdateButton.style.opacity = 1; 
                editPictureFilePanelShown = false;
            }
        }
    }*/

    function submitForm(formName){
        if(formName == null){
            formName = "editContentForm";
        }
        var statusDiv = document.getElementById("statusSelect");
        if(statusDiv != null){
            // Set the status from the select bar in the form
            document.getElementById("id_status").value = statusDiv.value;
        }
        var form = document.getElementById(formName)
        if(form != null){
            return form.submit()
        }
    }

    selectProjectTab("roles")
    var statusSelectDiv = document.getElementById("statusSelectDiv");
    if(statusSelectDiv != null){
        var options = null;
        {% if statusOptions.projects %}
            options = {{statusOptions.projects|safe}};
        {% endif %}
        addStatusBar("statusSelectDiv", "statusSelect", "{{ post.status }}", "editContentForm", options)
    }

    function addElementStatusSelect(elementType){
        var elementStatusSelectDiv = document.getElementById("elementStatusSelectDiv");
        if(elementStatusSelectDiv != null){
            var options = null;
            if(elementType == "roles"){
                {% if statusOptions.roles %}
                    options = {{statusOptions.roles|safe}}
                {% endif %}
            }else if(elementType == "jobs"){
                {% if statusOptions.jobs %}
                    options = {{statusOptions.jobs|safe}}
                {% endif %}
            }else if(elementType == "events"){
                {% if statusOptions.events %}
                    options = {{statusOptions.events|safe}}
                {% endif %}
            }
            addStatusBar("elementStatusSelectDiv", "elementStatusSelect", "Open", "addNewElementForm", options)
        }
    }

</script>
{% endblock %}
