{% extends "base.html" %}

{% block content %}
	<script>
	  $( document ).ready(function() {
	      	$( ".datepicker" ).datepicker({
	      		// TODO add hour to date
	      		changeMonth: true,
	      		changeYear: true,
	      		yearRange: "2017:2019",
	      		dateFormat: 'yy-mm-dd' 
	      // You can put more options here.
	    });
	  });
	  </script>

	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<h3>
		{% if isEvent %}
			{%if post.title %}
				Update event
			{% else %}
				Create event
			{% endif %}
		{% elif isProject %}
			{% if post.title %}
				Update project
			{% else %}
				Create project
			{% endif %}
		{% elif isCollaboration %}
			{% if post.title %}
				Update collaboration post
			{% else %}
				Create collaboration post
			{% endif %}
		{% elif isWork %}
			{% if post.title %}
				Update work post
			{% else %}
				Create work post
			{% endif %}
		{% elif isCasting %}
			{% if post.title %}
				Update casting post
			{% else %}
				Create casting post
			{% endif %}
		{% endif %}
	</h3>

	{% if post.postPicture %}
		<div id="postPicture">
			<img src="{{ post.postPicture.url }}" height="150px" width="175px"/>
		</div>
	{% endif %}

	{% if post.title %}
		<form method='post' action="/edit/post/{{post.postID}}/" name='createForm' enctype="multipart/form-data">
	{% else %}
		{% if isEvent %}
			<form method='post' action="/create/event/" name='createForm' enctype="multipart/form-data">
		{% elif isProject %}
			<form method='post' action="/create/post/project/" name='createForm' enctype="multipart/form-data">
		{% elif isCollaboration %}
			<form method='post' action="/create/post/collaboration/" name='createForm' enctype="multipart/form-data">
		{% elif isWork %}
			<form method='post' action="/create/post/work/" name='createForm' enctype="multipart/form-data">
		{% elif isCasting %}
			<form method='post' action="/create/post/casting/" name='createForm' enctype="multipart/form-data">
		{% endif %}
	{% endif %}
		{% csrf_token %}
		{{ form.as_p }}
		{% if post.title %}
			<input type="submit" value="Update" />
		{% else %}
			<input type="submit" value="Create" />
		{% endif %}
	</form>
	<div id="cancelButton"></div>
{% endblock %}
