{% extends "base.html" %}

{% block content %}
	<script>
	  $( document ).ready(function() {
	      	$( ".datepicker" ).datepicker({
	      		// TODO add hour to date
	      		changeMonth: true,
	      		changeYear: true,
	      		yearRange: "2017:2019",
	      		dateFormat: 'yy-mm-dd' 
	      // You can put more options here.
	    });
	  });
	  </script>

	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<h3>
		{% if isEvent %}
			{% if post.title %}
				Update event
			{% else %}
				Create event
			{% endif %}
		{% elif isProject %}
			{% if post.title %}
				Update project
			{% else %}
				Create project
			{% endif %}
		{% elif isCollaboration %}
			{% if post.title %}
				Update collaboration post
			{% else %}
				Create collaboration post
			{% endif %}
		{% elif isWork %}
			{% if post.title %}
				Update work post
			{% else %}
				Create work post
			{% endif %}
		{% elif isCasting %}
			{% if post.title %}
				Update casting post
			{% else %}
				Create casting post
			{% endif %}
		{% endif %}
	</h3>

	{% if post.postPicture %}
		<div id="postPicture">
			<img src="{{ post.postPicture.url }}" height="150px" width="175px"/>
		</div>
	{% endif %}

	{% if post.title %}
		<form method='post' action="/post/edit/{{post.postID}}/" name='createForm' id='createForm' enctype="multipart/form-data">
	{% else %}
		{% if isEvent %}
			<form method='post' action="/post/create/event/" name='createForm' id='createForm' enctype="multipart/form-data">
		{% elif isProject %}
			<form method='post' action="/post/create/project/" name='createForm' id='createForm' enctype="multipart/form-data">
		{% elif isCollaboration %}
			<form method='post' action="/post/create/collaboration/" name='createForm' id='createForm' enctype="multipart/form-data">
		{% elif isWork %}
			<form method='post' action="/post/create/work/" name='createForm' id='createForm' enctype="multipart/form-data" onsubmit="return submitWorkForm()">
		{% elif isCasting %}
			<form method='post' action="/post/create/casting/" name='createForm' id='createForm' enctype="multipart/form-data" id='castingPostForm'>
		{% endif %}
	{% endif %}
		{% csrf_token %}
		{{ form.as_p }}

		{% if isCasting %}
			<script>
			function toggleActorDescriptions(){
				// Create input list
				var tagInputs = document.getElementsByTagName("input")
				var selectInputs = document.getElementsByTagName("select");
				var inputs = []
				for(var i=0; i < tagInputs.length; i++){
					inputs.push(tagInputs[i]);
				}
				for(var i=0; i < selectInputs.length; i++){
					inputs.push(selectInputs[i]);
				}

				// toggle the enable
				for(var i=0; i < inputs.length; i++){
					var currentInput = inputs[i]
					if(currentInput.id.substring(0, 10) == "attributes"){
						if(currentInput.disabled){
							currentInput.disabled = false;
							document.getElementById("physicalAttributesEnabledDiv").innerHTML = "<input type='hidden' name='descriptionEnabled' value='True' />";
							document.getElementById("physicalAttributesDivLabel").innerHTML = '<font color="black">Physical attributes</font>';
						}else{
							currentInput.disabled = true;
							document.getElementById("physicalAttributesEnabledDiv").innerHTML = "<input type='hidden' name='descriptionEnabled' value='False' />";
							document.getElementById("physicalAttributesDivLabel").innerHTML = '<font color="gray">Physical attributes</font>';
						}
					}
				}
			}
			</script>
			<br>
			<h5 style="display:inline;"> You can specify the physical characteristics of the role, which we can use to notify actors with matching traits of your casting post. Your post will still be visible without physical criteria enabled.</h5>
			<br>
			Enable physical attributes
			{% if post.descriptionEnabled %}
				<input type="checkbox" onclick="toggleActorDescriptions();" value="Enable physical criteria" checked/>
			{% else %}
				<input type="checkbox" onclick="toggleActorDescriptions();" value="Enable physical criteria"/>
			{% endif %}
			<br><br>

			<div id="physicalAttributesDiv">
				<h4 style="display:inline;">
					<div id="physicalAttributesDivLabel"><font color="gray">Physical attributes</font></div>
				</h4>
				<table>
					<script>
					var attributeDivIdList = [];
					</script>
					{% for attribute in attributes %}
						<tr><td>
							<script>
							function changeAttributeBool(attributeName, newBoolValue){
								var attributeInputDiv = document.getElementById(attributeName + "BoolDiv");
								if(attributeInputDiv != null){
									attributeInputDiv.innerHTML = "<input type='hidden' name='attributes.{{attribute.name}}' value='" + newBoolValue + "'>"
								}
							}
							</script>
							{{attribute.name}}: 
							{% if attribute.value == True or attribute.value == "True" %}
								<div id="{{attribute.name}}BoolDiv"></div>
								<input type='checkbox' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name='{{attribute.name}}' disabled='disabled' onclick='changeAttributeBool("{{attribute.name}}", "False");' checked>
							{% elif attribute.value == False or attribute.value == "False" %}
								<div id="{{attribute.name}}BoolDiv"></div>
								<input type='checkbox' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name='{{attribute.name}}' disabled='disabled' onclick='changeAttributeBool("{{attribute.name}}", "True");' >
							{% else %}
								{% if attribute.options %}
									<div id="attributes.{{attribute.name}}Div"></div>
								{% elif attribute.value and attribute.value != "None" %}
									<input type='text' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name="attributes.{{attribute.name}}" disabled='disabled'>
								{% else %}
									<input type='text' value='' id="attributes.{{attribute.name}}" name="attributes.{{attribute.name}}" disabled='disabled'>
								{% endif %}
							{% endif %}
							</td></tr>
					{% endfor %}

				</table>
				<div id="physicalAttributesEnabledDiv" style="display:inline";>
					<input type='hidden' name='descriptionEnabled' value='{{ descriptionEnabled }}' />
				</div>
			</div>

		{% elif isWork %}
			<div id='professionListDiv'></div>
		{% endif %}
		{% if post.title %}
			<input type="submit" value="Update" />
		{% else %}
			<input type="submit" value="Create" />
		{% endif %}
	</form>
	<div id="cancelButton"></div>

	{% if isCasting %}
		<script>
		$(document).ready(function(){
			{% for attribute in attributes %}
				var attributeDiv = document.getElementById("attributes.{{attribute.name}}Div")
				if(attributeDiv != null){
					var attributeString = "<select form='createForm' name='attributes.{{attribute.name}}' id='attributes.{{attribute.name}}' disabled='disabled'>";
					{% for option in attribute.options %}
						{% if attribute.value == option %}
							attributeString += "<option value='{{ option }}' selected='selected'>{{option}}</option>"
						{% else %}
							attributeString += "<option value='{{ option }}'>{{option}}</option>"
						{% endif %}
					{% endfor %}
					attributeString += "</select>";
					attributeDiv.innerHTML = attributeString
				}
			{% endfor %}

			{% if post.descriptionEnabled %}
				toggleActorDescriptions();
			{% endif %}
		});
		</script>
	{% endif %}

	{% if isWork %}
		<script>
			function submitWorkForm(){
				var form = document.getElementById("createForm")
				document.getElementById("id_profession").value = document.getElementById("professionSelect").value;
				return form.submit()
			}

			$(document).ready(function(){
				var professionDiv = document.getElementById("professionListDiv")
				if(professionDiv != null){
					var attributeString = "Profession: <select form='createForm' name='professionSelect' id='professionSelect'>";
					{% for possibleProfession in professionList %}
						{% if chosenProfession == possibleProfession %}
							attributeString += "<option value='{{ possibleProfession }}' selected='selected'>{{ possibleProfession }}</option>"
						{% else %}
							attributeString += "<option value='{{ possibleProfession }}'>{{ possibleProfession }}</option>"
						{% endif %}
					{% endfor %}
					attributeString += "</select>";
					professionDiv.innerHTML = attributeString;
				}
			});
		</script>
	{% endif %}

{% endblock %}
