{% extends "base.html" %}

{% block content %}
	<script>
	  $( document ).ready(function() {
	      	$( ".datepicker" ).datepicker({
	      		// TODO add hour to date
	      		changeMonth: true,
	      		changeYear: true,
	      		yearRange: "2017:2019",
	      		dateFormat: 'yy-mm-dd' 
	      // You can put more options here.
	    });
	  });
	  </script>

	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<h3>
		{% if isEvent %}
			{%if post.title %}
				Update event
			{% else %}
				Create event
			{% endif %}
		{% elif isProject %}
			{% if post.title %}
				Update project
			{% else %}
				Create project
			{% endif %}
		{% elif isCollaboration %}
			{% if post.title %}
				Update collaboration post
			{% else %}
				Create collaboration post
			{% endif %}
		{% elif isWork %}
			{% if post.title %}
				Update work post
			{% else %}
				Create work post
			{% endif %}
		{% elif isCasting %}
			{% if post.title %}
				Update casting post
			{% else %}
				Create casting post
			{% endif %}
		{% endif %}
	</h3>

	{% if post.postPicture %}
		<div id="postPicture">
			<img src="{{ post.postPicture.url }}" height="150px" width="175px"/>
		</div>
	{% endif %}

	{% if post.title %}
		<form method='post' action="/post/edit/{{post.postID}}/" name='createForm' enctype="multipart/form-data">
	{% else %}
		{% if isEvent %}
			<form method='post' action="/post/create/event/" name='createForm' enctype="multipart/form-data">
		{% elif isProject %}
			<form method='post' action="/post/create/project/" name='createForm' enctype="multipart/form-data">
		{% elif isCollaboration %}
			<form method='post' action="/post/create/collaboration/" name='createForm' enctype="multipart/form-data">
		{% elif isWork %}
			<form method='post' action="/post/create/work/" name='createForm' enctype="multipart/form-data">
		{% elif isCasting %}
			<form method='post' action="/post/create/casting/" name='createForm' enctype="multipart/form-data">
		{% endif %}
	{% endif %}
		{% csrf_token %}
		{{ form.as_p }}

		{% if isCasting %}
			<script>
			function enableActorDescriptions(){
				var inputs = document.getElementsByTagName("input");
				for(var i=0; i < inputs.length; i++){
					var currentInput = inputs[i]
					if(currentInput.id.substring(0, 10) == "attributes"){
						if(currentInput.disabled){
							currentInput.disabled = false;
							document.getElementById("physicalAttributesEnabledDiv").innerHTML = "<input type='hidden' name='descriptionEnabled' value='True' />";
							document.getElementById("physicalAttributesDivLabel").innerHTML = '<font color="black">Physical attributes</font>';
						}else{
							currentInput.disabled = true;
							document.getElementById("physicalAttributesEnabledDiv").innerHTML = "<input type='hidden' name='descriptionEnabled' value='False' />";
							document.getElementById("physicalAttributesDivLabel").innerHTML = '<font color="gray">Physical attributes</font>';
						}
					}
				}
			}
			</script>
			<br>
			<h5 style="display:inline;"> You can specify the physical characteristics of the role, which we can use to notify actors with matching traits of your casting post. Your post will still be visible without physical criteria enabled.</h5>
			<br>
			Enable physical attributes
			{% if post.descriptionEnabled %}
				<input type="checkbox" onclick="enableActorDescriptions();" value="Enable physical criteria" checked/>
			{% else %}
				<input type="checkbox" onclick="enableActorDescriptions();" value="Enable physical criteria"/>
			{% endif %}
			<br><br>

			<div id="physicalAttributesDiv">
				<h4 style="display:inline;">
					<div id="physicalAttributesDivLabel"><font color="gray">Physical attributes</font></div>
				</h4>
				<table>
					{% for attribute in attributes %}
						<tr><td>{{attribute.name}}: 
							{% if attribute.value == True or attribute.value == "True" %}
								<input type='checkbox' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name='attributes.{{attribute.name}}' disabled='disabled' checked>
							{% elif attribute.value == False or attribute.value == "False" %}
								<input type='checkbox' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name='attributes.{{attribute.name}}' disabled='disabled'>
							{% else %}
								<input type='text' value='{{attribute.value}}' id="attributes.{{attribute.name}}" name='attributes.{{attribute.name}}' disabled='disabled'>
							{% endif %}
							</td></tr>
					{% endfor %}

				</table>
				<div id="physicalAttributesEnabledDiv"></div>
			</div>
			
			<script>
				{% if post.descriptionEnabled %}
					$(document).ready(enableActorDescriptions());
				{% endif %}
			</script>
		{% endif %}
		{% if post.title %}
			<input type="submit" value="Update" />
		{% else %}
			<input type="submit" value="Create" />
		{% endif %}
	</form>
	<div id="cancelButton"></div>
{% endblock %}
