{% extends "base.html" %}

{% block content %}
	<h1>Do you want to create a Project for your post?</h1>
	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<!-- Hidden, will copy code into main div when necessary -->
	<div id="mainChoicesMenuDiv" style="display:none">
		<button onclick="newProjectChosen();">Create new project</button><br>
		<button onclick="addToProjectChosen();">Add post to existing project</button><br>
		<script>
			// make source = current and next = destination for skip (and give skip dest url as the form action)
			var skipForm = createPageRedirectForm("{{ next }}", "{{ destination }}", "{{ default }}", "/create/post/work/", "Skip project creation", document.getElementById("mainChoicesMenuDiv"));
		</script>
		{{skipForm}}
	</div>

	<div id="newProjectFormDiv" style="display:none">
		<form method="post" id="newProjectForm" action="/create/post/project/">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Create project"/>
		</form>
		<button onclick="displayMain();">Back</button>
	</div>

	<div id="addToProjectFormDiv" style="display:none">
		<form method="post" id="addToProjectForm" action="/create/post/project/">
		{% csrf_token %}
			<input type="submit" value="ADD TO EXISTING FORM" />
		</form>
		<button onclick="displayMain();">Back</button>
	</div>

	<!-- Visible divs -->
	<div id="mainChoice"></div>
	<div id="cancelButton"></div>

	<script>
		var mainChoiceDiv = document.getElementById("mainChoice");
		$(document).ready(function(){
			displayMain();
		});

		function displayMain(){
			mainChoiceDiv.innerHTML = document.getElementById("mainChoicesMenuDiv").innerHTML;
			document.getElementById("cancelButton").style.display = "inline";
		}

		function newProjectChosen(){
			mainChoiceDiv.innerHTML = document.getElementById("newProjectFormDiv").innerHTML;
			document.getElementById("cancelButton").style.display = "none";
		}

		function addToProjectChosen(){
			mainChoiceDiv.innerHTML = document.getElementById("addToProjectFormDiv").innerHTML;
			document.getElementById("cancelButton").style.display = "none";
		}
	</script>

{% endblock %}