{% extends "base.html" %}

{% block content %}

<script>
	var currentlyFollowing = ("{{ following }}" == "True");
	function updatePostFollow(){ 
		$.ajax({
			url : "/post/view/{{ post.postID }}/follow/",
			data : {},
			type : 'POST',
			dataType: "json",
			success : function(data) {
				if(data["success"]){
					if(currentlyFollowing){
						document.getElementById("followButtonText").innerHTML = "Follow";
					}else{
						document.getElementById("followButtonText").innerHTML = "Unfollow";
					}
					currentlyFollowing = !currentlyFollowing;
				}else{
					console.log("Error following post:" + data)
				}
			}
		});
	}

	function showPossibleProjects(){
		$.ajax({
			url : "/ajax/getUserProjects/",
			data : {},
			type : 'POST',
			dataType: "json",
			success : function(data) {
				if(data["projects"].length > 0){
					document.getElementById("possibleProjects").innerHTML = "<br><h5 style='display:inline'> Existing projects: </h5>";
					for(var i=0; i < data["projects"].length; i++){
						var project = data["projects"][i];
						var extraInputs = []
						extraInputs.push({key: "projectID", value: project["projectID"]});
						extraInputs.push({key: "postID", value: "{{ post.postID }}"});
						extraInputs.push({key: "setProject", value: "True"});
						var projectForm = createPageRedirectForm("{{ next }}", "{{ next }}", "{{ possibleDestinations.viewPost }}", "{{ currentPageURL }}", extraInputs, document.getElementById("possibleProjects"), project["projectName"])
						document.getElementById("possibleProjects").innerHTML += "<br><br>";
					}
				}else{
					document.getElementById("possibleProjects").innerHTML += "<h6> No projects currently registered </h6>";
				}
				document.getElementById("addPostToProjectButton").hidden = true;
			}	
		});
	}

	function createUserStringWithLinks(userList, listTitle, pluralizeTitle){
		for(var i=0; i < userList.length; i++){
			console.log(userList[i])
		}
		return "hi"

	}
</script>

<div id="mainViewPanel" class="mainViewPanel">
	{% if post %}
		<div id="postPanel" class="postPanel">
			<table style="width:99%;">
				<tr>
					<td style="width: 250px;">
						<div id="postPicturePanel" class="postPicture">
							<div id="postPictureBoundingBox" class="hoverContainer" style="width:250px; height:250px; background: #000; border: 2px solid #000; border-radius:3px; vertical-align: middle; display: table-cell;">
								<div id="postPicture">
									{% if post.postPicture %}
										<img src="{{ post.postPicture.url }}" style="width:250px;"/>
									{% else %}
										<img />
									{% endif %}
								</div>
								{% if viewingOwnProfile %}
									<div class="grayAlphaOverlay"></div>
				  					<div class="hoverButton"><a onclick="redirect('{{ possibleDestinations.edit }}');"> Edit </a></div>
				  				{% endif %}
							</div>
						</div>
					</td>
					<td style="margin-top: 0px;">
						<div id="postInfo" class="postInfo" colspan="2">
							<h1 class="postInfoTitle">
								<a onclick='redirectToPost("{{post.postID}}");'> {{ post.title }} </a>
							</h1>
							<h4 class="postInfoSubTitle">
								{{ post.status }}
							</h4>
							<div class="postInfoContent">
								{% if isProject %}
									{% if post.directors %}
										{% if post.directors|length == 1 %}
											Director:
										{% else %}
											Directors:
										{% endif %}
										{% for director in post.directors %}
											<a onclick="redirectToUser('{{director}}');" class="userLink">
												<script>
													document.write(posterNameMap["{{director}}"]);
													{% if not forloop.last %}
														document.write(", ");
													{% endif %}
												</script>
											</a>
										{% endfor %}
									{% endif %}
									{% if post.writers %}
										<br>
										{% if post.writers|length == 1 %}
											Writer:
										{% else %}
											Writers:
										{% endif %}

										{% for writer in post.writers %}
											<a onclick="redirectToUser('{{writer}}');" class="userLink">
												<script>
													document.write(posterNameMap["{{writer}}"]);
													{% if not forloop.last %}
														document.write(", ");
													{% endif %}
												</script>
											</a>
										{% endfor %}
									{% endif %}
									{% if post.producers %}
										<br>
										{% if post.producers|length == 1 %}
											Producer:
										{% else %}
											Producers:
										{% endif %}

										{% for producer in post.producers %}
											<a onclick="redirectToUser('{{producer}}');" class="userLink">
												<script>
													document.write(posterNameMap["{{producer}}"]);
													{% if not forloop.last %}
														document.write(", ");
													{% endif %}
												</script>
											</a>
										{% endfor %}
									{% endif %}
									{% if post.actors %}
										<br>
										Starring:
										{% for actor in post.actors %}
											<a onclick="redirectToUser('{{actor}}');" class="userLink">
												<script>
													document.write(posterNameMap["{{actor}}"]);
													{% if not forloop.last %}
														document.write(", ");
													{% endif %}
												</script>
											</a>
										{% endfor %}
									{% endif %}
									<br>
									<div id="postDescription" class="postDescription">
										{{ post.description }}
									</div>
								{% elif isCollaboration %}
										Looking for a {{ post.collaboratorRole }} <br>
										{{ post.title }} 
									{% else %}
										{% if isWork %}
											(Looking for crew) {{ post.title }} <br>
											Looking for a {{ post.profession }}
										{% elif isCasting %}
											Casting a role: {{ post.title }}
											{% if post.paid %}
												 - Paid&#10004;
											{% else %}
												 - Unpaid
											{% endif %}
										{% elif isEvent %}
											Event {{ post.title }} 
											<h5>Located at {{post.location}} on {{post.date}}</h5>
										{% endif %}
											{% if project and projectID and project.record.title %}
													<form method='post' action="/post/view/{{ projectID }}/">
															{% csrf_token %}
															<input type="hidden" name="source" value="{{ next }}" />
															<input type="hidden" name="next" value="{{ next }}" />
															<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
															<input type="hidden" name="postID" value="{{ projectID }}" />
															<input type="hidden" name="projectID" value="{{ projectID }}" />
															Project: <input type="submit" value="{{ project.record.title }}" />
													</form>
											{% else %}
														<div id="possibleProjects"></div>
														
														<button onclick="showPossibleProjects();" id="addPostToProjectButton"> Add post to project </button><br>
											{% endif %}
									{% endif %}
							
						</div>
					</td>
				</tr>
			</table>
		</div>
	{% endif %}
</div>



{% if post %}
	{% if post.postPicture %}
		<div id="postPicture">
			<img src="{{ post.postPicture.url }}" height="150px" width="120px"/>
		</div>
	{% endif %}

	<h3>{% if isProject %}
			Project {{ post.title }}
		{% elif isCollaboration %}
			Looking for a {{ post.collaboratorRole }} <br>
			{{ post.title }} 
		{% else %}
			<!-- Add project select or project redirect -->
			{% if isWork %}
				(Looking for crew) {{ post.title }} <br>
				Looking for a {{ post.profession }}
			{% elif isCasting %}
				Casting a role: {{ post.title }}
				{% if post.paid %}
					 - Paid&#10004;
				{% else %}
					 - Unpaid
				{% endif %}
			{% elif isEvent %}
				Event {{ post.title }} 
				<h5>Located at {{post.location}} on {{post.date}}</h5>
			{% endif %}
				{% if project and projectID and project.record.title %}
						<form method='post' action="/post/view/{{ projectID }}/">
								{% csrf_token %}
								<input type="hidden" name="source" value="{{ next }}" />
								<input type="hidden" name="next" value="{{ next }}" />
								<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
								<input type="hidden" name="postID" value="{{ projectID }}" />
								<input type="hidden" name="projectID" value="{{ projectID }}" />
								Project: <input type="submit" value="{{ project.record.title }}" />
						</form>
				{% else %}
							<div id="possibleProjects"></div>
							<script>
							function showPossibleProjects(){
								$.ajax({
									url : "/ajax/getUserProjects/",
									data : {},
									type : 'POST',
									dataType: "json",
									success : function(data) {
										if(data["projects"].length > 0){
											document.getElementById("possibleProjects").innerHTML = "<br><h5 style='display:inline'> Existing projects: </h5>";
											for(var i=0; i < data["projects"].length; i++){
												var project = data["projects"][i];
												var extraInputs = []
                    							extraInputs.push({key: "projectID", value: project["projectID"]});
                    							extraInputs.push({key: "postID", value: "{{ post.postID }}"});
                    							extraInputs.push({key: "setProject", value: "True"});

												var projectForm = createPageRedirectForm("{{ next }}", "{{ next }}", "{{ possibleDestinations.viewPost }}", "{{ currentPageURL }}", extraInputs, document.getElementById("possibleProjects"), project["projectName"])
												document.getElementById("possibleProjects").innerHTML += "<br><br>";
											}
										}else{
											document.getElementById("possibleProjects").innerHTML += "<h6> No projects currently registered </h6>";
										}
										document.getElementById("addPostToProjectButton").hidden = true;
									}
								});
							}
							</script>
							<button onclick="showPossibleProjects();" id="addPostToProjectButton"> Add post to project </button><br>
				{% endif %}
		{% endif %}
	</h3>
	{% if user.is_authenticated %}
		<button onclick="updatePostFollow();">
			<div id="followButtonText">
				{% if following %}
					Unfollow
				{% else %}
					Follow
				{% endif %}
			</div>
		</button>
	{% endif %}

	<br><br>
	<h5 style="display:inline"> Posted by: <div style="display:inline" id="profileRedirectButton">{{post.poster}}</div> </h5><br>
	<h5 style="display:inline"> Description:</h5>
	{% if post.description %}
		{{ post.description }}
	{% else %}
		No description provided.
	{% endif %}
	<br><br>

	{% if post.status %}
		<h5 style="display:inline">Status:</h5> {{post.status}}<br><br>
	{% endif %}

	{% if post.poster == request.user.username %}
		<form method='post' action="/post/view/{{ post.postID }}/">
			{% csrf_token %}
			<input type="hidden" name="source" value="{{ next }}" />
			<input type="hidden" name="next" value="{{ next }}" />
			<input type="hidden" name="destination" value="{{ possibleDestinations.edit }}" />
			<input type="hidden" name="postID" value="{{ post.postID }}" />
			{% if projectID %}
				<input type="hidden" name="projectID" value="{{ projectID }}" />
			{% endif %}
			<input type="submit" value="Edit Post" />
		</form>
	{% endif %}
	{% if isCasting and descriptionEnabled and attributes %}
		<h4> Desired physical attributes </h4>
		{% for attribute in attributes %}
			<ul>
				<li> {{attribute.name}}: 
					{% if attribute.value == True  or attribute.value == "True" %}
						&#10004;
					{% elif attribute.value == False or attribute.value == "False" %}
						X
					{% else %}
						{{ attribute.value }}
					{% endif %}
				</li>
			</ul>
		{% endfor %}
	{% endif %}

	{% if isProject %}
		{% if eventPosts %}
			<h5> Events posted </h5>
				<table>
					<tr><td></td><td> Title </td><td> Date </td><td> Location</td></tr>
					{% for eventPost in eventPosts %}
						<tr><td>
								{% if eventPost.postPicture %}
									<img src="{{ eventPost.postPicture.url }}" height="80px" width="65px"/>
								{% else %}
									<img height="80px" width="65px"/>
								{% endif %}
						</td>
						<td>
							<form method='post' action="/post/view/{{ eventPost.postID }}/">
								{% csrf_token %}
								<input type="hidden" name="source" value="{{ next }}" />
								<input type="hidden" name="next" value="{{ next }}" />
								<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
								<input type="hidden" name="postID" value="{{ eventPost.postID }}" />
								<input type="hidden" name="projectID" value="{{ post.postID }}" />
								<input type="submit" value="{{ eventPost.title }}" />
							</form>
						</td>
						<td>
							{{eventPost.date}}
						</td>
						<td>
							{{eventPost.location}}
						</td>
					</tr>
					{% endfor %}
				</table>
			{% else %}
				<h5> No Events </h5>
			{% endif %}
		{% if post.poster == request.user.username %}
				<form method='post' action="/post/view/{{ post.postID }}/">
					{% csrf_token %}
					<input type="hidden" name="source" value="{{ next }}" />
					<input type="hidden" name="next" value="{{ next }}" />
					<input type="hidden" name="destination" value="{{ possibleDestinations.createEvent }}" />
					<input type="hidden" name="projectID" value="{{ post.postID }}" />
					<input type="submit" value="Add a new event" />
				</form>
		{% endif %}

		{% if castingPosts %}
			<h5> Acting roles posted </h5>
				<table>
					<tr><td></td><td> Role</td><td>Status</td><td> Description </td><td> Paid</td></tr>
					{% for castingPost in castingPosts %}
						<tr><td>
								{% if castingPost.postPicture %}
									<img src="{{ castingPost.postPicture.url }}" height="80px" width="65px"/>
								{% else %}
									<img height="80px" width="65px"/>
								{% endif %}
						</td>
						<td>
							<form method='post' action="/post/view/{{ castingPost.postID }}/">
								{% csrf_token %}
								<input type="hidden" name="source" value="{{ next }}" />
								<input type="hidden" name="next" value="{{ next }}" />
								<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
								<input type="hidden" name="postID" value="{{ castingPost.postID }}" />
								<input type="hidden" name="projectID" value="{{ post.postID }}" />
								<input type="submit" value="{{ castingPost.title }}" />
							</form>
						</td>
						<td>
							{{castingPost.status}}
						</td>
						<td>
							{{castingPost.description}}
						</td>
						<td>
							{% if castingPost.paid %}
								&#10004;
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
			{% else %}
				<h5> No roles posted. </h5>
			{% endif %}
		{% if post.poster == request.user.username %}
			<form method='post' action="/post/view/{{ post.postID }}/">
				{% csrf_token %}
				<input type="hidden" name="source" value="{{ next }}" />
				<input type="hidden" name="next" value="{{ next }}" />
				<input type="hidden" name="destination" value="{{ possibleDestinations.createCasting }}" />
				<input type="hidden" name="projectID" value="{{ post.postID }}" />
				<input type="submit" value="Add a new role to cast" />
			</form>
		{% endif %}

		{% if workPosts %}
			<h5> Crew jobs posted </h5>
				<table>
					<tr><td></td><td> Job</td><td>Status</td><td> Description </td><td> Paid</td></tr>
					{% for workPost in workPosts %}
						<tr><td>
								{% if workPost.postPicture %}
									<img src="{{ workPost.postPicture.url }}" height="80px" width="65px"/>
								{% else %}
									<img height="80px" width="65px"/>
								{% endif %}
						</td>
						<td>
							<form method='post' action="/post/view/{{ workPost.postID }}/">
								{% csrf_token %}
								<input type="hidden" name="source" value="{{ next }}" />
								<input type="hidden" name="next" value="{{ next }}" />
								<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
								<input type="hidden" name="postID" value="{{ workPost.postID }}" />
								<input type="hidden" name="projectID" value="{{ post.postID }}" />
								<input type="submit" value="{{ workPost.profession }}" />
							</form>
						</td>
						<td>
							{{workPost.status}}
						</td>
						<td>
							{{workPost.title}}
						</td>
						<td>
							{% if workPost.paid %}
								&#10004;
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
			{% else %}
				<h5> No crew jobs posted. </h5>
			{% endif %}
			{% if post.poster == request.user.username %}
				<form method='post' action="/post/view/{{ post.postID }}/">
					{% csrf_token %}
					<input type="hidden" name="source" value="{{ next }}" />
					<input type="hidden" name="next" value="{{ next }}" />
					<input type="hidden" name="destination" value="{{ possibleDestinations.createWork }}" />
					<input type="hidden" name="projectID" value="{{ post.postID }}" />
					<input type="submit" value="Add a new crew job" />
				</form>
			{% endif %}
		{% endif %}
	<p>
{% else %}
	<h4>No post found</h4>
{% endif %}

<div id="cancelButton" class="button"><div id="cancelButtonLabel"></div></div>

{% endblock %}