{% extends "base.html" %}

{% block content %}

{% if post %}
	{% if post.postPicture %}
		<div id="postPicture">
			<img src="{{ post.postPicture.url }}" height="150px" width="175px"/>
		</div>
	{% endif %}

	<h3>{% if isEvent %}
			Event {{ post.title }} 
			<h5>Located at {{post.location}} on {{post.date}}</h5>
		{% elif isProject %}
			Project {{ post.title }}
			<h5>Status: {{ post.status }}</h5>
		{% elif isCollaboration %}
			(Looking for collaboration) {{ post.title }} <br>
			Looking for a {{ post.profession }}
		{% else %}

			{% if isWork %}
				(Looking for crew) {{ post.title }} <br>
				Looking for a {{ post.profession }}
			{% elif isCasting %}
				Casting a tole: {{ post.title }}
			{% endif %}
			
			{% if post.paid %}
				 - Paid&#10004;<br>
			{% else %}
				 - Unpaid<br>
			{% endif %}
		{% endif %}
	</h3>
	<h5> Posted by {{ post.poster }} </h5>
	<h5> Description:<br>
		{% if post.description %}
			{{ post.description }}
		{% else %}
			No description provided.
		{% endif %}
	</h5>
	{% if post.poster == request.user.username %}
		<form method='post' action="/view/post/{{ post.postID }}/">
			{% csrf_token %}
			<input type="hidden" name="source" value="{{ next }}" />
			<input type="hidden" name="next" value="{{ next }}" />
			<input type="hidden" name="destination" value="{{ possibleDestinations.edit }}" />
			<input type="hidden" name="postID" value="{{ post.postID }}" />
			<input type="submit" value="Edit Post" />
		</form>
	{% endif %}
	<p>
{% else %}
	<h4>No post found</h4>
{% endif %}

<div id="cancelButton"></div>

{% endblock %}