{% extends "base.html" %}

{% block content %}

<div id="eventViewDiv"></div>
<div id="projectViewDiv"></div>
<div id="collabViewDiv"></div>
<div id="workViewDiv"></div>

<script>
	/*function createBrowseTable(postList, colHeaders){
		if(postList != null){
			var tableHTML = "<table>";

			//create the row for headers
			tableHTML += "<tr>";
			for(var i=0; i < colHeaders.length; i++){
				tableHTML += "<td>" + colHeader[i] + "</td>";
			}
			tableHTML += "</tr>";

			//create all rowse for postList
			for(var i=0; i < postList.length; i++){
				tableHTML += "<tr>";
				//need to iterate over tables, but in the order of colHeaders

			}
		}
	}*/


	function createViewEventTable(){
		var tableString = '<h3>Browse events</h3>';
		{% if events %}
			tableString += '<table>';
			tableString += ("<tr> " +
								"<td> Title </td>" +
								"<td> Posted by </td>" +
								"<td> Date </td>" +
								"<td> Location </td>" +
								"<td> Description </td>" +
							"</tr>");

			//Add each event
			{% for eventObj in events %}
				tableString += ("<tr>" +
									"<td><button onclick='createPostRedirectForm(" + '"{{eventObj.postID}}","{{possibleDestinations.viewPost}}"' + ");'>{{eventObj.title}}</button></td>" +
									"<td>{{eventObj.poster}}</td>" +
									"<td>{{eventObj.date}}</td>" +
									"<td>{{eventObj.location}}</td>" +
									"<td>{{eventObj.description}}</td>" +
								"</tr>");

			{% endfor %}
			tableString += "</table>";
		{% endif %}
		return tableString;
	};

	function createViewProjectTable(){
		var tableString = '<h3>Browse projects</h3>';
		{% if projects %}
			tableString += '<table>';
			tableString += ("<tr> " +
								"<td> Title </td>" +
								"<td> Posted by </td>" +
								"<td> Status </td>" +
								"<td> Description </td>" +
							"</tr>");

			//Add each event
			{% for projectObj in projects %}
				tableString += ("<tr>" +
									"<td><button onclick='createPostRedirectForm(" + '"{{projectObj.postID}}","{{possibleDestinations.viewPost}}"' + ");'>{{projectObj.title}}</button></td>" +
									"<td>{{projectObj.poster}}</td>" +
									"<td>{{projectObj.status}}</td>" +
									"<td>{{projectObj.description}}</td>" +
								"</tr>");

			{% endfor %}
			tableString += "</table>";
		{% endif %}
		return tableString;
	};

	function createViewCollabPostTable(){
		var tableString = '<h3>Browse posts seeking collaborators</h3>';
		{% if projects %}
			tableString += '<table>';
			tableString += ("<tr> " +
								"<td> Title </td>" +
								"<td> Posted by </td>" +
								"<td> Seeking </td>" +
								"<td> Description </td>" +
							"</tr>");

			//Add each event
			{% for collabObj in collabPosts %}
				tableString += ("<tr>" +
									"<td><button onclick='createPostRedirectForm(" + '"{{collabObj.postID}}","{{possibleDestinations.viewPost}}"' + ");'>{{collabObj.title}}</button></td>" +
									"<td>{{collabObj.poster}}</td>" +
									"<td>{{collabObj.profession}}</td>" +
									"<td>{{collabObj.description}}</td>" +
								"</tr>");

			{% endfor %}
			tableString += "</table>";
		{% endif %}
		return tableString;
	};


	function createViewWorkPostTable(){
		var tableString = '<h3>Browse posts seeking crew members</h3>';
		{% if projects %}
			tableString += '<table>';
			tableString += ("<tr> " +
								"<td> Title </td>" +
								"<td> Posted by </td>" +
								"<td> Seeking </td>" +
								"<td> Description </td>" +
								"<td> Paid </td>" +
							"</tr>");

			//Add each event
			{% for workObj in workPosts %}
				tableString += ("<tr>" +
									"<td><button onclick='createPostRedirectForm(" + '"{{workObj.postID}}","{{possibleDestinations.viewPost}}"' + ");'>{{workObj.title}}</button></td>" +
									"<td>{{workObj.poster}}</td>" +
									"<td>{{workObj.profession}}</td>" +
									"<td>{{workObj.description}}</td>")
				
				// Add tick or x for paid
				{% if workObj.paid %}
					tableString += "<td>&#10004;</td></tr>";
				{% else %}
					tableString += "<td></td></tr>";
				{% endif %}
			{% endfor %}
			tableString += "</table>";
		{% endif %}
		return tableString;
	};


	function createPostRedirectForm(postID, destinationPageName){
		var extraInputs = []
		extraInputs.push({key: "postID", value: postID});

		var form = createPageRedirectForm("{{ next }}", "{{ next }}", destinationPageName, "/browse/", extraInputs);
		form.submit();
	}



	$(document).ready(function(){
		var eventViewDiv = document.getElementById("eventViewDiv");
		if(((eventViewDiv != null) && ("{{browseView}}" == "{{possibleViews.event}}")) || ("{{browseView}}" == "{{possibleViews.browse}}")){
			{% if events %}
				eventViewDiv.innerHTML = createViewEventTable();
			{% else %}
				eventViewDiv.innerHTML = "<h3> No events posted </h3>";
			{% endif %}
		};

		var projectViewDiv = document.getElementById("projectViewDiv");
		if(((projectViewDiv != null) && ("{{browseView}}" == "{{possibleViews.project}}")) || ("{{browseView}}" == "{{possibleViews.browse}}")){
			{% if projects %}
				projectViewDiv.innerHTML = createViewProjectTable();
			{% else %}
				projectViewDiv.innerHTML = "<h3> No projects posted </h3>";
			{% endif %}
		};

		var collabViewDiv = document.getElementById("collabViewDiv");
		if(((collabViewDiv != null) && ("{{browseView}}" == "{{possibleViews.collabPost}}")) || ("{{browseView}}" == "{{possibleViews.browse}}") || ("{{browseView}}" == "{{possibleViews.post}}")){
			{% if projects %}
				collabViewDiv.innerHTML = createViewCollabPostTable();
			{% else %}
				collabViewDiv.innerHTML = "<h3> No posts available</h3>";
			{% endif %}
		};

		var workViewDiv = document.getElementById("workViewDiv");
		if(((workViewDiv != null) && ("{{browseView}}" == "{{possibleViews.workPost}}")) || ("{{browseView}}" == "{{possibleViews.browse}}") || ("{{browseView}}" == "{{possibleViews.post}}")){
			{% if projects %}
				workViewDiv.innerHTML = createViewWorkPostTable();
			{% else %}
				workViewDiv.innerHTML = "<h3> No posts available</h3>";
			{% endif %}
		};
	});
</script>

<!--	{% if events %}
		<table>
			<tr> 
				<td> Title </td>
				<td> Posted by </td>
				<td> Description </td>
			</tr>
		{% for event in events %}
			<tr>
				<td> <a href="/view/event/{{ event.eventID }}/"> {{ event.title }}</a></td>
				<td> <a href="/{{ event.poster }}/"> {{ event.poster }}</a></td>
				<td> {{ event.description }} </td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
		<h4> No events are currently listed.</h4>
	{% endif %}-->

{% endblock %}
