{% extends "base.html" %}

{% block content %}
<script>var userLoggedIn = false;</script>

{% if request.user.is_authenticated %}
	<script>userLoggedIn = true;</script>
	{% if source == possibleSources.login %}
		<h3> Welcome back {{ request.user.first_name }}!</h3>
	{% endif %}
	<h1>What to do you want to do?</h1>
{% else %}
	<h1>Welcome to The Agency! Let's get started, what are you looking for?</h1>
{% endif %}
<div id="mainChoice"></div>

<!--<script>
function getWelcomeMsg(){ 
	console.log("getting welcome msg")
	$.ajax({
		url : "/ajax/getWelcomeMsg/",
		data : {"foo": "bar"},
		type : 'POST',
		dataType: "json",
		success : function(data) {
			console.log(data.response);
		}
	});
}
</script>-->

<script>

var mainChoice = "<button onclick='eventsChosen();' value='Events'>Events (View and create events in your community)</button><br><button onclick='jobsChosen();' value='Jobs'>Jobs (Find a job, crew members, or others looking to collaborate)</button><br><button onclick='projectsChosen();' value='Projects'>Projects (View current projects and create your own)</button><br>"

var createAccountButton = "<button onclick='createAccount()'; value='Create account'>Create account</button>";

var eventChoice = "<button onclick='viewEvents();'> View events in your community</button><br><button onclick='createEventPost();'>Create event</button><br><button onclick='displayMainChoice();'>Back</button>";

var postChoice = "<button onclick='viewPosts();'> View job postings and creative profiles</button><br><button onclick='createWorkPost();'>Create job post</button><br><button onclick='displayMainChoice();'>Back</button>";

var projectChoice = "<button onclick='viewProjects();'> View projects </button><br><button onclick='createProject();'>Create project</button><br><button onclick='displayMainChoice();'>Back</button>";

window.onload = displayMainChoice();

function displayMainChoice(){
	if (userLoggedIn){
		var toDisplay = mainChoice;
	}else{
		var toDisplay = mainChoice + createAccountButton;
	}
	document.getElementById('mainChoice').innerHTML = toDisplay;
}

function eventsChosen(){
	document.getElementById('mainChoice').innerHTML = eventChoice;
}

function postsChosen(){
	document.getElementById('mainChoice').innerHTML = postChoice;
}

function projectsChosen(){
	document.getElementById('mainChoice').innerHTML = projectChoice;
}

function viewEvents(){
	window.location = '/browse/events/';
}

function viewPosts(){
	window.location = '/browse/posts/';
}

function viewProjects(){
	window.location = '/browse/projects/';
}

function createAccount(){
	var form = createPageRedirectForm("{{ possibleSources.home }}", "{{ possibleSources.home }}", "{{ possibleSources.createAccount }}", "Create Account");
	form.submit();
}

function createEvent(){
	var form = createPageRedirectForm("{{ possibleSources.home }}", "{{ possibleSources.home }}", "{{ possibleSources.event }}", "Create Event");
	form.submit()
}

function createPost(){
	var form = createPageRedirectForm("{{ possibleSources.home }}", "{{ possibleSources.home }}", "{{ possibleSources.post }}", "Create Post");
	form.submit();
}

function createProject(){
	var form = createPageRedirectForm("{{ possibleSources.home }}", "{{ possibleSources.home }}", "{{ possibleSources.project }}", "Create Project");
	form.submit();
}



</script>
{% endblock %}