{% extends "base.html" %}

{% block content %}
{% load static %}
<link href="{% static "/AgencyApp/css/home.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "/AgencyApp/css/browse.css" %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static "/AgencyApp/js/post/post.js" %}"></script>
<script type="text/javascript" src="{% static "/AgencyApp/js/browse.js" %}"></script>

<script>
var homePageWidthThreshold = 820;
var homePageExpanded = true;
function resizeHomePage(force){
    if($(window).width() > homePageWidthThreshold){
        if(!homePageExpanded || force == true){
            document.getElementById("backgroundPanel").innerHTML = getWideHomeFeed();
            homePageExpanded = true;
        }
    }else{
        if(homePageExpanded || force == true){
            document.getElementById("backgroundPanel").innerHTML = getSlimHomeFeed();
            homePageExpanded = false;
        }
    }
}

function getWideHomeFeed(){
	var feedString = '<div id="mainViewPanel" class="mainViewPanel" style="position: relative; width: 70%; min-width: 800px; max-width: 940px; background: rgba(0,0,0,0.05); border: none;"><div id="homeFeedPanel" style="height: 100%; width: 100%;"><div class="homeFeed">';
	{% if request.user.is_authenticated and userAccount %}

		// Add container
		feedString += '<div id="wrapper"><div id="three-column" class="container" style="width: 740px;">'

		// Add title
		feedString += '<div class="title"><h2>Explore the Vancouver film world.</h2><span class="byline">Check out film work posts, events in your area, and more.</span></div>'

		// Add left panel
		feedString += '<div class="boxA"><div class="featuredPanel" style="background: rgba(71, 147, 35, 0.2);">' + getFeaturedProjectString(null) + '</div></div>'

		// Add middle panel
		feedString += '<div class="boxB"><div class="featuredPanel" style="background: rgba(77, 87, 198, 0.2);">New Jobs/Roles</div></div>'

		// Add right panel
		feedString += '<div class="boxC"><div class="featuredPanel" style="background: rgba(186, 50, 97, 0.2)">Events</div></div>'

		// Close container
		feedString += '</div></div>';
	{% else %}
		feedString += "Please login."
	{% endif %}
	feedString += "</div></div></div>"
	return feedString
}

function getSlimHomeFeed(){
	var feedString = '<div id="mainViewPanel" class="mainViewPanel" style="position: relative; width: 95%; max-width: 600px; background: rgba(0,0,0,0.05); border: none;"><div id="homeFeedPanel" style="height: 100%; width: 100%;"><div class="homeFeed">';
	{% if request.user.is_authenticated and userAccount %}
		// Add dashboard
		feedString += getDashboardString() + "<div style='height: 10px;'></div>"

		// Add featured projects
		feedString += getFeaturedProjectsString() + "<div style='height: 10px;'></div>"

		// Add followed posts
		feedString += getFollowedFeedString()
	{% else %}
		feedString += "Please login."
	{% endif %}
	feedString += "</div></div></div>"
	return feedString
}

function getFeaturedProjectString(project){
	if(project == null){
		{% if featuredProjects %}
			var projects = {{featuredProjects|safe}}
			if(projects.length > 0){
				project = projects[0];
			}
		{% endif %}
	}

	var feedString = "<div style='position: relative; height: 100%; width: 100%; '>";
	if(project != null){

		feedString += "<div style='position: absolute; left: 0; right: 0; margin: 0 auto; top: 0px; color: rgba(0,0,0,0.3);'>Featured Project</div>"

		// Add project container
		feedString += "<div style='position: absolute; top: 28px; bottom: 30px; left: 10px; right: 10px; background: #f7f7f7; padding: 5px; border: 0.5px solid rgba(0,0,0,0.4); border-radius: 3px;'>"

		// Add picture
		feedString += "<div style='height: 45%;'><img src='" + project["postPictureURL"] + "' style='max-height: 100%; max-width: 100%;' /></div>"

		// Add content
		feedString += "<div style=''>"
		feedString += "<h2 class='postInfoTitle'><a onclick='redirectToPost(" +'"' + project["postID"] + '");' + "'>" + project["title"] + "</a></h2>"
		feedString += "<div style='color: rgba(0,0,0,0.5);'>" + project["projectType"] + " - " + project["status"] + "</div>"
		console.log(project)
		feedString += "</div>"

		feedString += "</div>"
	}
	feedString += "</div>";
	return feedString;
}

function getDashboardString(){
	var htmlString = "<div class='dashboard'><table style='width: 100%; height: 100%;'><tr>"

	htmlString += "<td onclick='redirect(" + '"{{possibleDestinations.createProjectPost}}");' + "'>Create Project</td>"
	htmlString += "<td onclick='redirect(" + '"{{possibleDestinations.createPost}}");' + "'>Create Post</td>"
	htmlString += "<td onclick='redirect(" + '"{{possibleDestinations.browse}}");' + "'>Browse</td>"

	htmlString += "</tr></table></div>";
	return htmlString;
}

function getFeaturedProjectsString(){
	var feedString = "";
	{% if featuredProjects %}
		var projects = {{featuredProjects|safe}}
		if(projects.length > 0){
			feedString += "<div class='browseSearchResults' style='background: none; border: 0px;'><div style='position: relative; width: 100%; height: 45px;'><h1 style='position: absolute; top: 0; left: 5px;'>Featured Project (" + projects.length + ")</h1></div>";

			feedString += "<ul id='featureProjectPostFeed'>";
		    for(var i=0; i < Math.min(projects.length, 3); i++){
		        feedString += createBrowseListElement("projects", projects[i]);
		    }
		    feedString += "</ul></div>";
		}
	{% endif %}
	return feedString;
}

function getFollowedFeedString(){
	var feedString = "";
	{% if followedPosts %}
		var posts = {{followedPosts|safe}}
		if(posts.length > 0){
			feedString += "<div class='browseSearchResults' style='background: none; border: 0px;'><div style='position: relative; width: 100%; height: 45px;'><h1 style='position: absolute; top: 0; left: 5px;'>Followed Posts (" + posts.length + ")</h1></div>";

			feedString += "<ul id='followedPostFeed'>";
		    for(var i=0; i < Math.min(posts.length, 3); i++){
		        feedString += createBrowseListElement(posts[i]["category"], posts[i]);
		    }
		    feedString += "</ul></div>";
		}
	{% endif %}
	return feedString;
}

</script>


{% if not request.user.is_authenticated %}
	<div style='position: relative; height: 295px; width: 100%;'>
		<div style='position: absolute; left: 0; right: 0; top: 0;'>
			<div id="banner" class="container">
				<div class="title">
					<h2>Welcome to the VanFilmCollective</h2>
						<span class="byline">A place for filmmakers, both amateur and professional, to connect and create.</span>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="three-column" class="container">
			<div class="title">
				<h2>Explore the Vancouver film world.</h2>
				<span class="byline">Check out film work posts, events in your area, and more.</span>
			</div>
			<div class="boxA">
				<span class="fa fa-cloud-download"></span>
				<p>View posts seeking actors, on and off set workers, and collaborators</p>
				<a href="/browse/" class="button button-alt">View posts</a>
			</div>
			<div class="boxB">
				<span class="fa fa-cogs"></span>
				<p>View profiles of registered filmmakers and industry professionals</p>
				<a href="/browse/users/" class="button button-alt">View users</a>
			</div>
			<div class="boxC">
				<span class="fa fa-wrench"></span>
				<p> Create an account and get involved in the VanFilmCollective</p>
				<a href="/account/create/basic/" class="button button-alt">Create account</a>
			</div>
		</div>
	</div>
{% else %}
	<div id='backgroundPanel' class='backgroundPanel' style='min-height: 100%;'>
    	<script>
	        if($(window).width() > homePageWidthThreshold){
	            homePageExpanded = true;
	            document.write(getWideHomeFeed());
	        }else{
	            homePageExpanded = false;
	            document.write(getSlimHomeFeed());
	        }
	    </script>
	</div>
	<script>
		$(window).resize(function (){
	        resizeHomePage();
	    });
	</script>
{% endif %}

{% endblock %}