{% extends "base.html" %}

{% block content %}
{% load static %}
<link href="{% static "/AgencyApp/css/home.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "/AgencyApp/css/browse.css" %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static "/AgencyApp/js/post/post.js" %}"></script>
<script type="text/javascript" src="{% static "/AgencyApp/js/browse.js" %}"></script>

<script>
var homePageWidthThreshold = 820;
var homePageExpanded = true;
function resizeHomePage(force){
    if($(window).width() > homePageWidthThreshold){
        if(!homePageExpanded || force == true){
            document.getElementById("backgroundPanel").innerHTML = getWideHomeFeed();
            homePageExpanded = true;
        }
    }else{
        if(homePageExpanded || force == true){
            document.getElementById("backgroundPanel").innerHTML = getSlimHomeFeed();
            homePageExpanded = false;
        }
    }
}

function getWideHomeFeed(){
	var feedString = '<div id="mainViewPanel" class="mainViewPanel" style="position: relative; width: 70%; min-width: 800px; max-width: 940px; background: rgba(0,0,0,0.05); border: none;"><div id="homeFeedPanel" style="height: 100%; width: 100%;"><div class="homeFeed">';
	{% if request.user.is_authenticated and userAccount %}

		// Determine which panels to include
		var panels = {"projects": false,
					  "jobs": false,
					  "roles": false,
					  "actors": false,
					  "professionals": false,
					  "events": false}

		{% for interest in userAccount.interestList %}
			{% if userAccount.workInterest %}
				if("{{interest.mainInterest}}" === "work"){
					if("{{interest.subInterest}}" === "acting"){
						panels["roles"] = true;
					}else{
						panels["jobs"] = true;
					}
				}
			{% endif %}

			{% if userAccount.hireInterest %}
				if("{{interest.mainInterest}}" === "hire"){
					if("{{interest.subInterest}}" === "hiring"){
						panels["professionals"] = true;
					}else if("{{interest.subInterest}}" === "casting"){
						panels["actors"] = true;
					}
				}
			{% endif %}
		{% endfor %}

		var panelList = []
		for(panelType in panels){
			if(panels[panelType] == true){
				panelList.push(panelType)
			}
		}

		if(panelList.length < 3){
			if(panelList.length === 0){
				panelList.push("projects")
				panelList.push("events")
				panelList.push("jobs")
			}else if(panelList.length === 1){
				panelList.push("projects")
				panelList.push("events")
			}else if(panelList.length === 2){
				panelList.push("projects")
			}
		}else if(panelList.length > 3){
			panelList = panelList.slice(0, 3);
		}

		// Add container
		feedString += '<div id="wrapper"><div id="three-column" class="container" style="width: 740px;">'

		// Add title
		feedString += '<div class="title"><h2>Explore the Vancouver film world.</h2><span class="byline">Check out film work posts, events in your area, and more.</span></div>'

		// Add left panel
		feedString += '<div class="boxA"><div class="featuredPanel" style="background: rgba(71, 147, 35, 0.2);">' + getFeaturedPanel("projects", null) + '</div></div>'

		// Add middle panel
		feedString += '<div class="boxB"><div class="featuredPanel" style="background: rgba(77, 87, 198, 0.2);">'
			feedString += getFeaturedPanel("professionals", null)
		feedString += '</div></div>'

		// Add right panel
		feedString += '<div class="boxC"><div class="featuredPanel" style="background: rgba(186, 50, 97, 0.2)">' + getFeaturedPanel("events", null) + '</div></div>'

		// Close three-column container
		feedString += '</div>';

		// Add followed posts
		feedString += "<div style='margin-top: 50px; margin-left: 4px; margin-right: 4px;'>" + getFollowedFeedString() + "</div>"

		// Close wrapper container
		feedString += "</div>"
	{% else %}
		feedString += "Please login."
	{% endif %}
	feedString += "</div></div></div>"
	return feedString
}

function getSlimHomeFeed(){
	var feedString = '<div id="mainViewPanel" class="mainViewPanel" style="position: relative; width: 95%; max-width: 600px; background: rgba(0,0,0,0.05); border: none;"><div id="homeFeedPanel" style="height: 100%; width: 100%;"><div class="homeFeed">';
	{% if request.user.is_authenticated and userAccount %}
		// Add dashboard
		feedString += getDashboardString() + "<div style='height: 10px;'></div>"

		// Add featured projects
		feedString += getFeaturedProjectsFeed() + "<div style='height: 10px;'></div>"

		// Add followed posts
		feedString += getFollowedFeedString()
	{% else %}
		feedString += "Please login."
	{% endif %}
	feedString += "</div></div></div>"
	return feedString
}

var featuredPostLists = {"projects": [], "jobs": [], "events": [], "roles": [], "actors": [], "professionals": []}

var browsePanelInfo = {"projects": {"title": "Featured Projects",
									"contentFunction": _getFeaturedProjectString,
									"containerID": "featuredProjectContainer"
								   },
					   "jobs": {"title": "Jobs for You",
								"contentFunction": _getFeaturedJobString,
								"containerID": "featuredJobContainer"
							   },
					   "events": {"title": "Upcoming Events",
								  "contentFunction": _getFeaturedEventString,
								  "containerID": "featuredEventContainer"
								},
					   "roles": {"title": "Open Roles",
								 "contentFunction": _getFeaturedRoleString,
								 "containerID": "featuredRoleContainer"
								},
					   "actors": {"title": "Featured Actors",
								  "contentFunction": _getFeaturedActorString,
								  "containerID": "featuredActorContainer"
								},
					  }
function createBrowsePanel(panelType, displayObj){
	var feedString = "<div style='position: relative; height: 100%; width: 100%; '>";
	if(displayObj != null && panelType in browsePanelInfo){
		feedString += "<div style='position: absolute; left: 0; right: 0; margin: 0 auto; top: 0px; color: rgba(0,0,0,0.3);'>" + browsePanelInfo[panelType]["title"] + "</div>"

		// Add project container
		var containerID = browsePanelInfo[panelType]["containerID"];
		feedString += "<div id='" + containerID + "' style='position: absolute; top: 28px; bottom: 10px; left: 10px; right: 10px; background: #FFF; padding: 5px; border: 0.5px solid rgba(0,0,0,0.4); border-radius: 3px;'>"
		feedString += browsePanelInfo[panelType]["contentFunction"](displayObj)
		feedString += "</div>"

		// Add next buttons
		feedString += "<div style='position: absolute; left: -3px; top: 45%;'><a id='" + containerID + "NextButtonLeft' onclick='displayNextPost(" + '"' + panelType + '", "' + displayObj["postID"] + '", "left");' + "' style='font-weight: 200; font-size: 1.5em; user-select: none;'> < </a></div>";
		feedString += "<div style='position: absolute; right: -3px; top: 45%;'><a id='" + containerID + "NextButtonRight' onclick='displayNextPost(" + '"' + panelType + '", "' + displayObj["postID"] + '", "right");' + "' style='font-weight: 200; font-size: 1.5em; user-select: none;'> > </a></div>"
	}
	feedString += "</div>";
	return feedString
}

function getFeaturedPostList(postType){
	if(featuredPostLists[postType].length === 0){
		var postList;
		{% if featuredPosts %}
			var featuredPosts = {{featuredPosts|safe}};
			if(postType in featuredPosts){
				postList = featuredPosts[postType]
			}
		{% endif %}
		if(postList != null){
			featuredPostLists[postType] = postList;
		}
	}
	return featuredPostLists[postType]
}

function getFeaturedPanel(panelType, displayPost){
	if(displayPost == null){
		var postList = getFeaturedPostList(panelType);
		if(postList != null && postList.length > 0){
			displayPost = postList[0];
		}
	}
	if(displayPost != null){
		return createBrowsePanel(panelType, displayPost)
	}
}

function _getFeaturedRoleString(role){
	var feedString = "";
	if(role != null){
		// Add picture
		feedString += "<div style='height: 50%; padding: 3% 0;'><img src='" + role["postPictureURL"] + "' style='max-height: 100%; max-width: 100%;' /></div>"

		// Add content
		feedString += "<div style=''>"
		feedString += "<h2 class='postInfoTitle'><a onclick='redirectToPost(" +'"' + role["postID"] + '");' + "'>" + role["characterName"] + "</a></h2>"
		feedString += "<div style='color: rgba(0,0,0,0.5);'>" + role["projectName"] + " - " + role["status"] + "</div>"
		feedString += "</div>"
	}
	return feedString;
}

function _getFeaturedEventString(event){
	var feedString = "";
	if(event != null){
		// Add picture
		feedString += "<div style='height: 50%; padding: 3% 0;'><img src='" + event["postPictureURL"] + "' style='max-height: 100%; max-width: 100%;' /></div>"

		// Add content
		feedString += "<div style=''>"
		feedString += "<h2 class='postInfoTitle'><a onclick='redirectToPost(" +'"' + event["postID"] + '");' + "'>" + event["title"] + "</a></h2>"
		feedString += "<div style='color: rgba(0,0,0,0.5);'>" + event["dateString"] + " - " + event["status"] + "</div>"
		feedString += "</div>"
	}
	return feedString;
}

function _getFeaturedJobString(job){
	var feedString = "";
	if(job != null){
		// Add picture
		feedString += "<div style='height: 50%; padding: 3% 0;'><img src='" + job["postPictureURL"] + "' style='max-height: 100%; max-width: 100%;' /></div>"

		// Add content
		feedString += "<div style=''>"
		feedString += "<h2 class='postInfoTitle'><a onclick='redirectToPost(" +'"' + job["postID"] + '");' + "'>" + job["title"] + "</a></h2>"
		feedString += "<div style='color: rgba(0,0,0,0.5);'>" + job["profession"] + " - " + job["status"] + "</div>"
		feedString += "</div>"
	}
	return feedString;
}

function _getFeaturedProjectString(project){
	var feedString = '';
	if(project != null){
		// Add picture
		feedString += "<div style='height: 50%; padding: 3% 0;'><img src='" + project["postPictureURL"] + "' style='max-height: 100%; max-width: 100%;' /></div>"

		// Add content
		feedString += "<div style=''>"
		feedString += "<h2 class='postInfoTitle'><a onclick='redirectToPost(" +'"' + project["postID"] + '");' + "'>" + project["title"] + "</a></h2>"
		feedString += "<div style='color: rgba(0,0,0,0.5);'>" + project["projectType"] + " - " + project["status"] + "</div>"
		feedString += "<ul style=''>"
		if(project["openRoles"] != null && parseInt(project["openRoles"]) > 0){
			feedString += "<li>" + project["openRoles"] + " open roles</li>";
		}
		if(project["openJobs"] != null && parseInt(project["openJobs"]) > 0){
			feedString += "<li>" + project["openJobs"] + " open jobs</li>";
		}
		feedString += "</ul>"
		feedString += "</div>"
	}
	return feedString;
}

function _getFeaturedActorString(actor){
	var feedString = "";
	if(actor != null){
		// Add picture
		feedString += "<div style='height: 50%; padding: 3% 0;'><img src='" + actor["postPictureURL"] + "' style='max-height: 100%; max-width: 100%;' /></div>"

		// Add content
		feedString += "<div style=''>"
		feedString += "<h2 class='postInfoTitle'><a onclick='redirectToUser(" +'"' + actor["username"] + '");' + "'>" + actor["cleanName"] + "</a></h2>"
		feedString += "<div style='color: rgba(0,0,0,0.5);'>" + actor["profession"] + "</div>"
		feedString += "</div>"
	}
	return feedString;
}

function displayNextPost(postType, currentPostID, direction){
	var featuredPosts = getFeaturedPostList(postType)

	// Get the next project in featured project list
	var nextPost;
	if(featuredPosts != null && featuredPosts.length > 0){
		for(var i=0; i < featuredPosts.length; i++){
			if(featuredPosts[i]["postID"] === currentPostID){
				if(direction === "right"){
					if(i < featuredPosts.length-1){
						nextPost = featuredPosts[i+1]
					}else{
						nextPost = featuredPosts[0];
					}
				}else{
					if(i > 0){
						nextPost = featuredPosts[i-1];
					}else{
						nextPost = featuredPosts[featuredPosts.length-1];
					}
				}
				break;
			}
		}
	}
	
	// Update featured container with next object to display
	if(nextPost != null){
		var container = document.getElementById(browsePanelInfo[postType]["containerID"]);
		if(container != null){
			container.innerHTML = browsePanelInfo[postType]["contentFunction"](nextPost);

			// Update left and right onclicks to use next project postID as the current
			document.getElementById(browsePanelInfo[postType]["containerID"] + "NextButtonLeft").onclick = function(){
				displayNextPost(postType, nextPost["postID"], "left");
			}
			document.getElementById(browsePanelInfo[postType]["containerID"] + "NextButtonRight").onclick = function(){
				displayNextPost(postType, nextPost["postID"], "right");
			}
		}
	}
}

function getDashboardString(){
	var htmlString = "<div class='dashboard'><table style='width: 100%; height: 100%;'><tr>"

	htmlString += "<td onclick='redirect(" + '"{{possibleDestinations.createProjectPost}}");' + "'>Create Project</td>"
	htmlString += "<td onclick='redirect(" + '"{{possibleDestinations.createPost}}");' + "'>Create Post</td>"
	htmlString += "<td onclick='redirect(" + '"{{possibleDestinations.browse}}");' + "'>Browse</td>"

	htmlString += "</tr></table></div>";
	return htmlString;
}

function getFeaturedProjectsFeed(){
	var feedString = "";
	{% if featuredPosts.projects %}
		var projects = {{featuredPosts.projects|safe}}
		if(projects.length > 0){
			feedString += "<div class='browseSearchResults' style='background: none; border: 0px;'><div style='position: relative; width: 100%; height: 45px;'><h1 style='position: absolute; top: 0; left: 5px;'>Featured Project (" + projects.length + ")</h1></div>";

			feedString += "<ul id='featureProjectPostFeed'>";
		    for(var i=0; i < Math.min(projects.length, 3); i++){
		        feedString += createBrowseListElement("projects", projects[i]);
		    }
		    feedString += "</ul></div>";
		}
	{% endif %}
	return feedString;
}

function getFollowedFeedString(){
	var feedString = "";
	{% if followedPosts %}
		var posts = {{followedPosts|safe}}
		if(posts.length > 0){
			feedString += "<div class='browseSearchResults' style='background: none; border: 0px;'><div style='position: relative; width: 100%; height: 55px;'><h1 style='position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; rgba(0,0,0,0.8);'>Followed Posts (" + posts.length + ")</h1></div>";

			feedString += "<ul id='followedPostFeed'>";
		    for(var i=0; i < Math.min(posts.length, 3); i++){
		        feedString += createBrowseListElement(posts[i]["category"], posts[i]);
		    }
		    feedString += "</ul></div>";
		}
	{% endif %}
	return feedString;
}

</script>


{% if not request.user.is_authenticated %}
	<div style='position: relative; height: 295px; width: 100%;'>
		<div style='position: absolute; left: 0; right: 0; top: 0;'>
			<div id="banner" class="container">
				<div class="title">
					<h2>Welcome to the VanFilmCollective</h2>
						<span class="byline">A place for filmmakers, both amateur and professional, to connect and create.</span>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="three-column" class="container">
			<div class="title">
				<h2>Explore the Vancouver film world.</h2>
				<span class="byline">Check out film work posts, events in your area, and more.</span>
			</div>
			<div class="boxA">
				<span class="fa fa-cloud-download"></span>
				<p>View posts seeking actors, on and off set workers, and collaborators</p>
				<a href="/browse/" class="button button-alt">View posts</a>
			</div>
			<div class="boxB">
				<span class="fa fa-cogs"></span>
				<p>View profiles of registered filmmakers and industry professionals</p>
				<a href="/browse/users/" class="button button-alt">View users</a>
			</div>
			<div class="boxC">
				<span class="fa fa-wrench"></span>
				<p> Create an account and get involved in the VanFilmCollective</p>
				<a href="/account/create/basic/" class="button button-alt">Create account</a>
			</div>
		</div>
	</div>
{% else %}
	<div id='backgroundPanel' class='backgroundPanel' style='min-height: 100%;'>
    	<script>
	        if($(window).width() > homePageWidthThreshold){
	            homePageExpanded = true;
	            document.write(getWideHomeFeed());
	        }else{
	            homePageExpanded = false;
	            document.write(getSlimHomeFeed());
	        }
	    </script>
	</div>
	<script>
		$(window).resize(function (){
	        resizeHomePage();
	    });
	</script>
{% endif %}

{% endblock %}