{% extends "base.html" %}

{% block content %}

	<script>
	function redirect(destination){
		// Redirects to to destination
		var form = createPageRedirectForm("{{next}}", "{{next}}", destination, "{{currentPageURL}}", null, null);
		form.submit();
	}
	</script>

	{% if profileUserAccount %}
		<div id="profilePageDiv">
			<table id="profilePageTable" class="profileTable">
				<tr>
					<td class="profileTableMainColumn">
						<table style="height:100%; width:100%; border-spacing:0.2em; margin: 0px -5px 0px 5px;">
							<tr>
								<td class="profilePanel profilePicturePanel">
									<div id="profilePictureBoundingBox" class="hoverContainer" style="width:250px; height:250px; background: #000; border: 2px solid #000; border-radius:6px; vertical-align: middle; display: table-cell;">
										{% if profileUserAccount.profilePicture %}
											<div id="profilePictureDiv">
												<img src="{{ profileUserAccount.profilePicture.url }}" style="width:250px;"/>
											</div>
										{% else %}
											<div id="profilePictureDiv">
												<img />
											</div>
										{% endif %}
										{% if viewingOwnProfile %}
											<div class="overlay"></div>
	  										<div class="hoverButton"><a onclick="redirect('{{ possibleDestinations.picture }}');"> Edit </a></div>
	  									{% endif %}
									</div>
									<div id="profileNameDiv">
										<h1>{{ displayName }} </h1>
										{% if profileUserAccount.mainProfession %}
											<h3> {{profileUserAccount.mainProfession}} </h3>
										{% endif %}
										{% if profileUserAccount.bio %}
											<p style="margin: 0px;"> {{ profileUserAccount.bio }} </p>
										{% endif %}
									</div>

									{% if profileLinks %}
										<div id="profileLinksDiv" style="height: 30px; padding: 0.5em 0em 0em 0em;">
											{% for link in profileLinks %}
												{% if link.url and link.label %}
													<div class="whiteButton blackHover" style="padding: 1px 4px 1px 4px; display:inline" onclick="window.location.href='{{link.url}}';">
														{{ link.label }}
													</div>
												{% endif %}
											{% endfor %}
										</div>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td class="profilePanel interestsPanel" style="width:259px">
									interests
								</td>
							</tr>
						</table>
					</td>
					<td colspan="2" class="profileTableMainColumn" style="width:50%; max-width:50%">
						<table style="height:100%;">
							<!--<tr>
								<td>
									<div class="messagePanel profilePanel" style="width: 500px;">
										Send a message placeholder
									</div>
								</td>
							</tr>-->
							<tr>
								<td>
									<div class="profilePanel postsPanel" style="min-width: 400px; width:100%;">
										posts and shit
									</div>
								</td>
							</tr>
							<tr style="max-width: 400px;">
								<td >
									<div class="profilePanel commentsPanel" style="min-width: 400px; width:100%;">
										Comments and shit
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td class="profileTableMainColumn" style="width:20%">
						<table style="height:100%;">
							<tr>
								<td>
									<div class="profilePanel rightPanel" style="min-width: 100px; width:100%;">
										other stuff
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>


		<!--{% if profileUserAccount.profilePicture %}
			<div id="profilePic">
				<img src="{{ profileUserAccount.profilePicture.url }}" height="150px" width="175px"/>
			</div>
		{% else %}
			<div id="profilePic">
				<img height="150px" width="175px"/>
			</div>
		{% endif %}
		{% if viewingOwnProfile %}
			<form action="{{ currentPageURL }}" method="post">
				{% csrf_token %}
				<input type="hidden" name="source" value="{{ next }}" />
				<input type="hidden" name="current" value="{{ next }}" />
				<input type="hidden" name="destination" value="{{ possibleDestinations.picture }}" />
				<input type="submit" value="Edit profile picture" />
			</form>
		{% endif %}
		<h1><u> {{ profileUserAccount.firstName }} {{ profileUserAccount.lastName }}</u></h1>

		{% if profileUserAccount.bio %}
			{{profileUserAccount.bio}}<br>
		{% endif %}

		{% if profileUserAccount.reelLink %}
			<a href="{{profileUserAccount.reelLink}}">Reel</a>
		{% endif %}
		{% if profileUserAccount.imdbLink %}
			<a href="{{profileUserAccount.imdbLink}}">IMDB</a>
		{% endif %}

		{% if viewingOwnProfile %}
			<form action="{{ currentPageURL }}" method="post">
				{% csrf_token %}
				<input type="hidden" name="source" value="{{ next }}" />
				<input type="hidden" name="current" value="{{ next }}" />
				<input type="hidden" name="destination" value="{{ possibleDestinations.background }}" />
				<input type="submit" value="Edit background" />
			</form>
		{% endif %}
		<br>

		<h3> Interests: </h3>
		<ul>
			{% if profileInterests.work %}
				<li>
					<script>
						function getTruncatedProfessionList(){
							var professionString = "";
							{% if profileInterests.work %}
								var addProfession = true;
								{% for interest in profileInterests.work %}
									if(professionString.length < 30){
										professionString += "{{ interest.professionName }}"
									}else{
										if(addProfession){
											professionString += " and " + ({{ profileInterests.work|length }} - {{ forloop.counter }} + 1) + " more jobs."
											addProfession = false;
										}
									}
									if(addProfession){
										professionString += ", ";
									}
								{% endfor %}
							{% endif %}
							return professionString
						}
						document.write("Seeking work as a " + getTruncatedProfessionList());
					</script>

				</li>
			{% endif %}
			{% if profileInterests.hire %}
				{% for interest in profileInterests.hire %}
					{% if interest.subInterest == "hireProject" %}
						<li>Hiring for a project</li>
					{% endif %}
					{% if interest.subInterest == "hirePermanent" %}
						<li>Hiring for a permanent position</li>
					{% endif %}
					{% if interest.subInterest == "casting" %}
						<li>Casting roles for a project</li>
					{% endif %}
					{% if interest.subInterest == "collaborating" %}
						<li>Looking for collaborators</li>
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if profileInterests.other %}
				<li>No interests registered.</li>
			{% endif %}
			{% if profileUserAccount.actingInterest %}
				<li>
					Acting and extra work
					{% if viewingOwnProfile %}
						<form style="display:inline" action="{{ currentPageURL }}" method="post">
							{% csrf_token %}
							<input type="hidden" name="source" value="{{ next }}" />
							<input type="hidden" name="current" value="{{ next }}" />
							<input type="hidden" name="destination" value="{{ possibleDestinations.actorDescription }}" /> 
							{% if profileUserAccount.actorDescriptionEnabled %}
								<input type="submit" value="Edit actor description" />
							{% else %}
								<input type="submit" value="Enable actor descriptions" />
							{% endif %}
						</form>
					{% endif %}
				</li>
			{% endif %}
		</ul>
		{% if viewingOwnProfile %}
			<form action="{{ currentPageURL }}" method="post">
				{% csrf_token %}
				<input type="hidden" name="source" value="{{ next }}" />
				<input type="hidden" name="current" value="{{ next }}" />
				<input type="hidden" name="destination" value="{{ possibleDestinations.interests }}" />
				<input type="submit" value="Edit profile interests" />
			</form>
		{% endif %}
		<br>

		{% if profileProfessions %}
			<h3> {{ profileUserAccount.firstName }}'s interested professions include...</h3>
			<ul>
				{% for profession in profileProfessions %}
					<li>{{ profession }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<h3> {{ profileUserAccount.firstName }} has not specified his interested professions </h3>
		{% endif %}
		{% if viewingOwnProfile %}
			<form action="{{ currentPageURL }}" method="post">
				{% csrf_token %}
				<input type="hidden" name="source" value="{{ next }}" />
				<input type="hidden" name="current" value="{{ next }}" />
				<input type="hidden" name="destination" value="{{ possibleDestinations.professions }}" />
				<input type="submit" value="Edit professions" />
			</form>
		{% endif %}

		{% if profileEvents %}
			<br><h3>Events {{ profileUserAccount.firstName }} has posted...</h3>
				{% for event in profileEvents %}
					<form method="post" action="{{ currentPageURL }}"> 
						{% csrf_token %}
						<input type="hidden" name="eventID" value="{{event.eventID}}" />
						<input type="hidden" name="source" value="{{ next }}" />
						<input type="hidden" name="next" value="{{ next }}" />
						<input type="hidden" name="destination" value="{{ possibleDestinations.viewEvent }}" />
						<input type="submit" Value="{{ event.title }}" />
					</form>
				{% endfor %}
		{% endif %}

		{% if profilePosts %}
			{% if profilePosts.events %}
		    	<br>
		    	<h3>Events {{ profileUserAccount.firstName }} has posted...</h3>
				{% for event in profilePosts.events %}
					<form method="post" action="{{ currentPageURL }}"> 
						{% csrf_token %}
						<input type="hidden" name="postID" value="{{event.postID}}" />
						<input type="hidden" name="source" value="{{ next }}" />
						<input type="hidden" name="next" value="{{ next }}" />
						<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
						<input type="submit" Value="{{ event.title }}" />
					</form>
				{% endfor %}
			{% endif %}
			{% if profilePosts.projects %}
				<br>
				<h3>Projects {{ userAccount.firstName }} is involved in...</h3>
				{% for projectPost in profilePosts.projects %}
					<form method="post" action="{{ currentPageURL }}"> 
						{% csrf_token %}
						<input type="hidden" name="postID" value="{{projectPost.postID}}" />
						<input type="hidden" name="source" value="{{ next }}" />
						<input type="hidden" name="next" value="{{ next }}" />
						<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
						<input type="submit" Value="{{ projectPost.title }}" />
					</form>
				{% endfor %}
			{% endif %}
			{% if profilePosts.collaboration %}
				<br>
				<h3>Seeking collaborators posts...</h3>
				{% for collabPost in profilePosts.collaboration %}
					<form method="post" action="{{ currentPageURL }}"> 
						{% csrf_token %}
						<input type="hidden" name="postID" value="{{collabPost.postID}}" />
						<input type="hidden" name="source" value="{{ next }}" />
						<input type="hidden" name="next" value="{{ next }}" />
						<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
						<input type="submit" Value="{{ collabPost.title }}" />
					</form>
				{% endfor %}
			{% endif %}
			{% if profilePosts.work %}
				<br>
				<h3>Seeking crew posts...</h3>
				{% for workPost in profilePosts.work %}
					<form method="post" action="{{ currentPageURL }}"> 
						{% csrf_token %}
						<input type="hidden" name="postID" value="{{workPost.postID}}" />
						<input type="hidden" name="source" value="{{ next }}" />
						<input type="hidden" name="next" value="{{ next }}" />
						<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
						<input type="submit" Value="{{ workPost.title }}" />
					</form>
				{% endfor %}	
			{% endif %}
			{% if profilePosts.casting %}
				<br>
				<h3>Seeking actor posts...</h3>
				{% for castingPost in profilePosts.casting %}
					<form method="post" action="{{ currentPageURL }}">
						{% csrf_token %}
						<input type="hidden" name="postID" value="{{castingPost.postID}}" />
						<input type="hidden" name="source" value="{{ next }}" />
						<input type="hidden" name="next" value="{{ next }}" />
						<input type="hidden" name="destination" value="{{ possibleDestinations.viewPost }}" />
						<input type="submit" Value="{{ castingPost.title }}" />
					</form>
				{% endfor %}
			{% endif %}
		{% endif %}	
	-->
	{% else %}
		No user with name {{ profileUsername }} found.
	{% endif %}

{% endblock %}
