{% extends "base.html" %}

{% block content %}
{% load static %}
<link href="{% static "/AgencyApp/css/profile.css" %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static "/AgencyApp/js/post/post.js" %}"></script>
<script type="text/javascript" src="{% static "/AgencyApp/js/profile.js" %}"></script>
<script type="text/javascript" src="{% static "/AgencyApp/js/calendar.js" %}"></script>
<link href="{% static "/AgencyApp/css/calendar.css" %}" rel="stylesheet" type="text/css" media="all" />

<script>
    var activeInterest = "work";
    var profileTabs = ["bio", "filmography", "media", "endorsements"];
    var profileTabDisplayFunctions = {"bio": displayBio, "filmography": displayFilmography, "media": displayMedia,"endorsements": displayEndorsements};

    function selectProfileTab(tabType){
        for(var i=0; i < profileTabs.length; i++){
            var buttonId = profileTabs[i] + "ProfileButton";
            var borderCoverId = profileTabs[i] + "BorderCover";
            var profileButtonDiv = document.getElementById(buttonId);
            var profileButtonBorderCoverDiv = document.getElementById(borderCoverId)
            if(profileButtonDiv != null && profileButtonBorderCoverDiv != null){
                if(profileTabs[i] === tabType){
                    profileButtonBorderCoverDiv.style.opacity = "1";
                    profileButtonDiv.className = "active";
                }else{
                    profileButtonBorderCoverDiv.style.opacity = "0";
                    profileButtonDiv.className = "";
                }
            }
        }
        if(tabType in profileTabDisplayFunctions){
            profileTabDisplayFunctions[tabType]()
        }

        // Update main view panel height after tab content is changed
        updateProfileContentPanelHeight();
    }

    function updateProfileContentPanelHeight(){
        var projectContentPanel = document.getElementById("profileContentPanel")
        if(projectContentPanel != null){
            // All profile buttons are same height, so just use bio
            var tabButtonsHeight = document.getElementById("bioProfileButton").offsetHeight;
            var projectContentHeight = document.getElementById("profileTabContentPanelContainer").offsetHeight;
            projectContentPanel.style.height = tabButtonsHeight + projectContentHeight + "px";
        }
    }

    function displayBio(){
        var tabContent = document.getElementById("profileTabContentPanel");
        if(tabContent != null){
            var bioData = {"About":[{"label": "Name", "value": "{{profileUserAccount.cleanName}}"},
                                         {"label": "Professions", value: getProfessionList()},
                                         {"label": "Education", "value": "{{profileUserAccount.education}}"},
                                         {"label": "Bio", "value": "{{profileUserAccount.bio}}"}],
                           "Physical": [{"label": "Date of Birth", "value": "{{profileUserAccount.dateOfBirth}}"},
                                        {"label": "Gender", "value": "{{profileUserAccount.gender}}"},
                                        {"label": "Hair Color", "value": "{{profileUserAccount.hairColor}}"},
                                        {"label": "Eye Color", "value": "{{profileUserAccount.eyeColor}}"},
                                        {"label": "Ethnicity", "value": "{{profileUserAccount.ethnicity}}"},
                                        {"label": "Build", "value": "{{profileUserAccount.build}}"},
                                        {"label": "Height", "value": "{{profileUserAccount.height}}"}]
                          }

            // Add text
            var contentString = "<div style='text-align: left; margin-left: 10px; margin-top: 10px;'><ul style='line-height: 26px; margin-bottom: 0px; width: 98%;'>";
            for(section in bioData){
                if(section === "Physical"){
                    {% if not actorDescriptionEnabled %}
                        continue;
                    {% endif %}
                }
                contentString += "<h2>" + section + "</h2><div style='height: 0px; width: 88%; border-top: 1px solid rgba(0,0,0,0.3); margin-top: 3px;'></div>";
                for(record in bioData[section]){
                    if(bioData[section][record]["value"].length > 0 && bioData[section][record]["value"] != "None"){
                        contentString += "<li><strong>" + bioData[section][record]["label"] + "</strong>: "

                        // Check if value is a list
                        if(Object.prototype.toString.call(bioData[section][record]["value"]) === '[object Array]'){
                            for(var i=0; i < bioData[section][record]["value"].length; i++){
                                if(bioData[section][record]["value"][i]["href"] != '')
                                contentString += " <a href='" + bioData[section][record]["value"][i]["href"] + "'>" + bioData[section][record]["value"][i]["label"] + "</a> |"
                            }
                            // Remove last '|' character
                            contentString = contentString.slice(0, -2)
                        }else{
                            contentString += bioData[section][record]["value"];
                        }
                        contentString += "</li>"
                    }
                }
                contentString += "<div style='height: 20px'></div>"
            }
            contentString += "</ul>";

            // Have to add links separately because need to check if they exist before adding
            {% if profileUserAccount.imdbLink or profileUserAccount.resume %}
                // Depending on what links exist, just need to update left margin of each link
                currentLeftMargin = 0;
                contentString += "<div style='position: relative; margin-top: -5px; height: 152px;'><h2>Links</h2><div style='height: 0px; width: 88%; border-top: 1px solid rgba(0,0,0,0.3);'></div>";
                {% if profileUserAccount.imdbLink %}
                    contentString += "<a href='{{profileUserAccount.imdbLink}}'><div class='profileSquareButton'  style='position: absolute; left: " + currentLeftMargin + "px; bottom: 10px;'><img src='{{icons.imdb}}' style='margin-top: 28px;width: 80px;'></div></a>"
                    currentLeftMargin += 110;
                {% endif %}

                {% if profileUserAccount.resume %}
                    contentString += "<a href='/media/{{profileUserAccount.resume}}'><div class='profileSquareButton' style='position: absolute; left: " + currentLeftMargin + "px; bottom: 10px;'><img src='{{icons.resume}}' style='margin-top: 8px;width: 60px;'><div style='font-size: 0.9em;'>Resume</div></div></a>"
                    currentLeftMargin += 110;
                {% endif %}
                contentString += "</div>"
            {% endif %}
            contentString += "</div>";

            // Add edit button
            {% if viewingOwnProfile %}
                contentString += "<div style='position: absolute; top: 5px; right: 12px;'>" + getEditButtonString("{{possibleDestinations.background}}") + "</div>";
            {% endif %}
            
            // Add edit button
            tabContent.innerHTML = contentString;
        }
    }

    function getEditButtonString(destination, hoverContainerName){
        var buttonID = hoverContainerName + "EditButton"
        if(hoverContainerName == null || hoverContainerName.length === 0){
            hoverContainerName = "profileTabContentPanel"
            buttonID = "profileTabEditButton"
        }
        var editButton = "";
        {% if viewingOwnProfile %}
            editButton += "<div class='editButton' id='" + buttonID + "' style='opacity: 0;' onclick='redirect(" + '"' + destination + '");' + "'>Edit</div>";
            var container = document.getElementById(hoverContainerName);
            if(container != null){
                $("[id='" + hoverContainerName + "']").hover(
                    function(){
                        var button = document.getElementById(buttonID);
                        if(button != null){
                            button.style.opacity = 1;
                        }
                    },
                    function(){
                        var button = document.getElementById(buttonID);
                        if(button != null){
                            button.style.opacity = 0;
                        }
                    }
                );
            }
        {% endif %}
        return editButton
    }

    function displayFilmography(){
        var tabContent = document.getElementById("profileTabContentPanel")
        if(tabContent != null){
            {% if filmography %}
                var tabString = ""
                var filmography = {{filmography|safe}};
                tabString += "<div style='margin-left: 10px; margin-right: 10px; margin-top: 10px;'><h2 style='text-align: left; margin-bottom: 1px;'>Filmography</h2><div style='height: 0px;width: 100%; border-top: 1px solid #000; margin-bottom: 5px;'></div>" + createProjectFeed(filmography, false) + "</div>"

                
                // Start with edit button
                {% if viewingOwnProfile %}
                    tabString += "<div style='position: absolute; top: 5px; right: 12px;'>" + getEditButtonString("{{possibleDestinations.filmography}}") + "</div>";
                {% endif %}

                tabContent.innerHTML = tabString;
            {% endif %}
        }
    }

    function displayMedia(){
        var tabContent = document.getElementById("profileTabContentPanel")
        if(tabContent != null){
            var tabString = "<div style='position: relative; min-height: 40px; width: 100%;'>";

            // Start with edit button
            {% if viewingOwnProfile %}
                tabString += "<div style='position: absolute; top: 5px; right: 12px;'>" + getEditButtonString("{{possibleDestinations.media}}") + "</div>";
            {% endif %}

            // Add picture list
            {% if profileUserAccount.profileMediaPictures %}
                // Content container
                tabString += "<div style='margin-left: 10px; margin-right: 10px; margin-top: 10px;'>";

                // Photos container
                tabString += "<div style='height: 299px;'><h2 style='text-align: left; margin-bottom: 1px;'>Photos</h2><div style='height: 0px; width: 100%; border-top: 1px solid #000; margin-bottom: 5px;'></div>";

                tabString += "<div id='mediaPicturesListPanel' style='position: absolute; left: 10px; right: 10px; top: 40px; height: 255px; background: #FFF; overflow: hidden; '><div id='mediaPicturesList' style='text-align: left; max-height: 255px; overflow-x: scroll; overflow-y: hidden; white-space: nowrap; background: rgba(0,0,0,0.1);background: rgba(0,0,0,0.05); border: 1px solid rgba(158, 192, 247, 0.2);'>";
                {% for picture in profileUserAccount.profileMediaPictures %}
                    tabString += getProfileMediaPictureString("{{picture.id}}", "{{picture.url}}", "{{picture.description}}");
                {% endfor %}
                tabString += "</div></div></div></div>";

            {% else %}
                tabString += "<div style='font-size: 1.1em; color: rgba(0,0,0,0.9);; margin-top: 15px;'>No media added</div>"

            {% endif %}
            tabContent.innerHTML = tabString;
        }
    }

    function displayFullPagePicture(pictureID){
        var picture;
        if(pictureID === "profilePicture"){
            {% if profileUserAccount.profilePicture and profileUserAccount.profilePicture.url %}
                picture = {"url": "{{profileUserAccount.profilePicture.url}}",
                           "id": "profilePicture"
                          };
            {% endif %}
        }else{
            {% if profileUserAccount.profileMediaPictures %}
                {% for pictureDict in profileUserAccount.profileMediaPictures %}
                    if("{{pictureDict.id}}" === pictureID){
                        picture = {"url": "{{pictureDict.url}}",
                                   "id": "{{pictureDict.id}}",
                                   "description": "{{pictureDict.description}}",
                                   "createdAt": "{{pictureDict.createdAt}}",
                                   "poster": "{{pictureDict.poster}}"}
                    }
                {% endfor %}
            {% endif %}
        }
        if(picture != null){
            displayPicture(picture);
        }
    }

    function addNewEndorsement(){
        var textArea = document.getElementById('newEndorsementTextArea');
        if(textArea != null){
            {% if request.user.is_authenticated %}
                if(textArea.value != null && textArea.value.length > 0){
                    $.ajax({
                        url : "/ajax/createProfileEndorsement/",
                            data : {"username": "{{profileUserAccount.username}}", "description": textArea.value},
                            type : 'POST',
                            dataType: "json",
                            success : function(data) {
                                if(data["success"]){
                                    var newEndorsement = {"postID": data["postID"],
                                                          "username": "{{profileUserAccount.username}}",
                                                          "description": textArea.value,
                                                          "createdAt": currentDateString,
                                                          "poster": {"username": "{{userAccount.username}}",
                                                                     "cleanName": "{{userAccount.cleanName}}",
                                                                     "profession": "{{userAccount.mainProfession}}"}
                                                          }
                                    var newPic = "{{images.noProfilePicture}}"
                                    {% if userAccount.profilePicture and userAccount.profilePicture.url %}
                                        newPic = "{{userAccount.profilePicture.url}}"
                                    {% endif %}
                                    newEndorsement["poster"]["profilePictureURL"] = newPic
                                    endorsementList.unshift(newEndorsement)

                                    if(displayEndorsementFeed()){
                                        textArea.value = ""
                                    }
                                }
                            }
                    });
                }else{
                    console.log("You must enter text")
                }
            {% else %}
                console.log("You must be logged in to submit")
            {% endif %}
        }
    }

    function deleteProfileEndorsement(postID){
        if(postID != null && postID.length > 0){
            var postIndex;
            for(var i=0; i < endorsementList.length; i++){
                if(endorsementList[i]["postID"] === postID){
                    postIndex = i;
                    break;
                }
            }

            if(postIndex != null){
                {% if request.user.is_authenticated %}
                    if("{{request.user.username}}" === endorsementList[postIndex]["username"] || "{{request.user.username}}" === endorsementList[postIndex]["poster"]["username"]){
                        $.ajax({
                            url : "/ajax/deleteProfileEndorsement/",
                            data : {"postID": postID, "profileUsername": "{{profileUserAccount.username}}"},
                            type : 'POST',
                            dataType: "json",
                            success : function(data) {
                                if(data["success"]){
                                    endorsementList.splice(postIndex, 1);
                                    displayEndorsementFeed();
                                }
                            }
                        });
                    }
                {% endif %}
            }
        }
    }

    function updateProfileEndorsement(postID){
        if(postID != null && postID.length > 0){
            var description = document.getElementById("endorsementDescriptionText_" + postID);
            var container = document.getElementById("endorsementDescription_" + postID);
            var row = document.getElementById("endorsementElement_" + postID);
            if(container != null && row != null && description != null && description.value.length > 0){
                $.ajax({
                    url : "/ajax/updateProfileEndorsement/",
                    data : {"postID": postID, "newDescription": description.value},
                    type : 'POST',
                    dataType: "json",
                    success : function(data) {
                        if(data["success"]){
                            // Update the description values
                            container.innerHTML = getEndorsementDescriptionString(false, description.value, postID)

                            // Can cancel the edit, but since descriptions are updated, new value is displayed
                            toggleEditProfileEndorsement("shrink", postID)
                        }
                    }
                });
            }
        }
    }

    function toggleEditProfileEndorsement(toggleType, postID){
        if(postID != null && postID.length > 0){
            var description = document.getElementById("endorsementDescription_" + postID);
            var row = document.getElementById("endorsementElement_" + postID);
            var editButton = document.getElementById("endorsementEditButton_" + postID)
            if(description != null && row != null && editButton != null){
                if(toggleType === "expand"){
                    editButton.innerHTML = "Cancel";
                    editButton.onclick = function(){
                        toggleEditProfileEndorsement("shrink", postID)
                    }

                    var editString = "<textarea id='endorsementDescriptionText_" + postID + "' style='font-family: Didact Gothic, sans-serif; font-size: 1.0em; ; resize: none; min-height: 70px; width: 98.7%; border-radius: 3px; border: 1px solid rgba(0,0,0,0.3);'>" + endorsementDescriptionMap[postID]["short"] + "</textarea>";

                    editString += "<div style='float: right; height: 40px; margin-top: 1px; text-align: center;'><div style='width: 50px; margin-right: 5px; display: inline-block; padding: 3px 5px;' class='editButton' onclick='deleteProfileEndorsement(" + '"' + postID + '"' + ");'>Delete</div><div class='editButton' onclick='updateProfileEndorsement(" + '"' + postID + '"' + ");' style='display: inline-block; width: 50px; padding: 3px 5px;'>Update</div></div>";

                    description.innerHTML = editString;
                    row.style.height = endorsementFeedElementHeight + 30 + "px";
                    updateProfileContentPanelHeight();
                }else{
                    editButton.innerHTML = "Edit";
                    editButton.onclick = function(){
                        toggleEditProfileEndorsement("expand", postID)
                    }

                    description.innerHTML = endorsementDescriptionMap[postID]["short"]
                    row.style.height = endorsementFeedElementHeight + "px";
                    updateProfileContentPanelHeight();
                }
            }
        }
    }

    function toggleExpandEndorsementDescription(toggleType, postID){
        if(postID != null && postID.length > 0){
            if(postID in endorsementDescriptionMap){
                var description = document.getElementById("endorsementDescription_" + postID);
                var row = document.getElementById("endorsementElement_" + postID);
                if(description != null && row != null){
                    if(toggleType === "expand"){
                        var currentDescriptionHeight = description.offsetHeight;
                        description.innerHTML = endorsementDescriptionMap[postID]["full"] + "<a onclick='toggleExpandEndorsementDescription(" + '"shrink", "' + postID + '");' + "'>... See less</a>"
                        var newDescriptionHeight = description.offsetHeight;

                        row.style.height = endorsementFeedElementHeight + (newDescriptionHeight - currentDescriptionHeight) + "px";
                        updateProfileContentPanelHeight();
                    }else{
                        description.innerHTML = endorsementDescriptionMap[postID]["short"]
                        row.style.height = endorsementFeedElementHeight + "px";
                        updateProfileContentPanelHeight();
                    }
                }
            }
        }
    }

    function displayEndorsementFeed(){
        var feedContainer = document.getElementById("profileEndorsementFeedContainer");
        if(feedContainer != null){
            feedContainer.innerHTML = createEndorsementFeed();
            updateProfileContentPanelHeight();
            return true;
        }
    }

    var maxDescriptionLength = 250;
    function getEndorsementDescriptionString(expanded, fullDescription, postID){
        // Add description
        var description = fullDescription;
        if(description.length > maxDescriptionLength){
            description = description.substring(0, maxDescriptionLength) + "... <a onclick='toggleExpandEndorsementDescription(" + '"expand", "' + postID + '");' + "'>See more</a>"
        }
        endorsementDescriptionMap[postID] = {"full": fullDescription, "short": description}
        return description
    }

    var endorsementDescriptionMap = {};
    var endorsementFeedElementHeight = 150;
    function createEndorsementFeed(){
        var feedString = "<ul class='projectFeed'>"
        if(endorsementList.length > 0){
            for(var i=0; i < endorsementList.length; i++){
                feedString += "<li id='endorsementElement_" + endorsementList[i]["postID"] + "' class='projectFeedElement' style='height: " + endorsementFeedElementHeight + "px; position: relative;'>"

                // Add poster picture
                feedString += "<div style='position: absolute; left: 10px; top: 10px; height: 130px; overflow: hidden;'><img src='" + endorsementList[i]["poster"]["profilePictureURL"] + "' style='height: 100%;' /></div>"

                // Add text container
                feedString += "<div style='position: absolute; left: 135px; top: 10px; right: 10px; bottom: 10px; text-align: left;'>"
                // Add title
                feedString += "<h3>Posted by <a onclick='redirectToUser(" + '"' + endorsementList[i]["poster"]["username"] + '");' + "'>" + endorsementList[i]["poster"]["cleanName"] + "</a></h3>";
                // Add date
                feedString += "<h4 style='margin: 0; font-size: 0.9em; color: rgba(0,0,0,0.6);'>" + endorsementList[i]["createdAt"] + "</h4><div style='height: 6px; border-bottom: 1px solid rgba(0,0,0,0.7); margin-bottom: 3px;'></div>"

                // Add edit button if user wrote the review
                // Add delete button if user is viewing his own progile
                feedString += "<div style='position: absolute; right: 0px; top: -5px; text-align: center;'>";
                var addDelete = false;
                if(endorsementList[i]["poster"]["username"] === "{{request.user.username}}"){
                    feedString += "<div class='editButton' id='endorsementEditButton_" + endorsementList[i]["postID"] + "' onclick='toggleEditProfileEndorsement(" + '"expand", "' + endorsementList[i]["postID"] + '"' + ");'>Edit</div>";
                }else{
                    {% if viewingOwnProfile %}
                        feedString += "<div style='margin-top: 4px;' class='editButton' onclick='deleteProfileEndorsement(" + '"' + endorsementList[i]["postID"] + '"' + ");'>Delete</div>";
                    {% endif %}
                }
                feedString += "</div>"

                feedString += "<div id='endorsementDescription_" + endorsementList[i]["postID"] + "' style='font-size: 0.9em;'>" + getEndorsementDescriptionString(true, endorsementList[i]["description"], endorsementList[i]["postID"]) + "</div>"

                // Close text container
                feedString += "</div>"

                feedString += "</li>"
            }
        }
        feedString += "</ul>"
        return feedString
    }

    // profile button
    var endorsementList = [];
    function displayEndorsements(){
        var tabContent = document.getElementById("profileTabContentPanel")
        if(tabContent != null){
            //var tabString = "<div style='position: relative; min-height: 100px; width: 100%;'>";
            var tabString = "<div style='text-align: left; margin-bottom: -16px;'>";

            if(endorsementList.length === 0){
                {% if profileEndorsements %}
                    endorsementList = {{profileEndorsements|safe}};
                {% endif %}
            }

            // Add text panel
            tabString += "<div style='position: relative; background:rgba(0,0,0,0.03); height: 155px; margin: 5px 10px; padding: 5px; border-radius: 3px'><h1 >Add an endorsement!</h1>"
            tabString += "<textarea id='newEndorsementTextArea' class='formInputElement' style='font-size: 0.9em; min-height: 75px; resize: none; width: 100%; border-radius: 3px; border: 1px solid rgba(0,0,0,0.3);' placeholder='Matt was great to work with on The 4400, a true professional!'></textarea>";
            tabString += "<div class='editButton' onclick='addNewEndorsement();' style='position: absolute; right: 5px; bottom: 5px; padding: 5px 10px;text-align: center;'>Submit</div>"
            tabString += "</div>"

            tabString += "<div id='profileEndorsementFeedContainer'>" + createEndorsementFeed() + "</div>"
            tabString += "</div>";
            tabContent.innerHTML = tabString;
        }
    }

    function getProfessionList(){
        // TODO use 'mainProfessionList' or whatever its called instead of interested work professions
        var returnString = '';
        {% if profileProfessions %}
            returnString += '<div class="profileProfessionList" style="margin-bottom: -10px;"><ul>';
            var elementEnding = "|&#160;</li>";
            {% for profession in profileProfessions %}
                returnString += '<li>{{profession}} ' + elementEnding;
            {% endfor %}
            if(returnString.endsWith(elementEnding)){
                returnString = returnString.substring(0, returnString.length-elementEnding.length)
                returnString += "</li>"
            }
            returnString += '</ul></div>';
        {% endif %}
        return returnString;
    }

    var calendarMonths = {"availability": {"month": null, "year": null}}
    function getAvailabilityCalendar(){
        var callbacks = []
        var calendarString = '';
        {% if profileUserAccount.availability %}
            calendarString += "<div id='availabilityPanel'>"
            {% if profileUserAccount.availability.openAvailability %}
                calendarString += "<div style='background: #ddd; padding: 15px;'><h1> Availabile Now</h1></div>"
            {% else %}
                callbacks.push(function(){
                    loadCalendar("availabilityCalendar")
                    $('#availabilityCalendar .calendar-header').click();
                });
                calendarString += "<div id='availabilityCalendar'><h2 style='margin-left: 58px;'>Availability</h2><h3 style='font-size: 0.9em; color: rgba(0,0,0,0.5); margin-left: 58px;'>" + "{{profileUserAccount.cleanName}}".split(" ")[0] + "'s availability is indicated below.</h3>"

                // Add calendar
                calendarString += '<div class="calendar-wrapper" style="padding-left: 20px; text-align: right;"><div class="calendar-base" style=""><div class="calendar-header"><div class="month-wrapper"><div class="header-prev-month" onclick="toggleCalendarMonth(' + "'previous', 'availabilityCalendar'" + ');"></div><div class="header-current-month">' + months[currentDate.getMonth()] + '</div><div class="header-next-month" onclick="toggleCalendarMonth(' + "'next', 'availabilityCalendar'" + ');" ></div></div><div class="header-current-day-number">, 23</div><div class="year-wrapper"><div class="header-prev-year" onclick="toggleCalendarYear(' + "'previous', 'availabilityCalendar'" + ');"></div><div class="header-current-year">' + currentDate.getFullYear() + '</div><div class="header-next-year" onclick="toggleCalendarYear(' + "'next', 'availabilityCalendar'" + ');"></div></div></div>'
                calendarString += '<div class="small-wrapper">' + getCalendarString("availability") + '</div>'
                calendarString += "</div></div></div></div>"
                //calendarString += "<div style='background: #ddd; padding: 15px;'><h1> Days Of Week</h1></div>"
            {% endif %}
        {% endif %}
        return {"html": calendarString, "callbacks": callbacks}
    }

    function getWorkHireTextPanel(){
        var workPanel = getWorkTextPanel();
        var hirePanel = getHireTextPanel();
        var callbacks = []
        if(workPanel["callbacks"].length > 0){
            callbacks = callbacks.concat(workPanel["callbacks"]);
        }
        if(hirePanel["callbacks"].length > 0){
            callbacks = callbacks.concat(hirePanel["callbacks"]);
        }

        var panelString = workPanel["html"] + "<div style='height: 5px;'></div>" + hirePanel["html"]

        return {"html": panelString, "callbacks": callbacks}
    }

    function getWorkTextPanel(){
        var panelString = "<div style='padding-left: 5px; background: #FFF; border-radius: 3px;'>";
        var callbacks = []
        panelString += "<h2 style='margin-top: 5px;'>Looking for work</h2>"
        {% if profileInterests.work %}
            panelString += ""

            // Add sub title
            panelString += "<h3 style='font-size: 0.9em; color: rgba(0,0,0,0.5);'>" + "{{profileUserAccount.cleanName}}".split(" ")[0] + " is interested in working as:</h3>"

            var projects = {};
            {% if filmography %}
                projects = {{filmography|safe}};
            {% endif %}

            // Create a dict of professions, and how many projects in their filmography match the profession
            var professionList = []
            {% for interest in profileInterests.work %}
                var creditCount = 0;
                for(var projectID in projects){
                    if(projects[projectID]["labels"].length > 0){
                        for(var i=0; i < projects[projectID]["labels"].length; i++){
                            if("{{interest.professionName}}" === projects[projectID]["labels"][i]["label"]){
                                creditCount++;
                            }
                        }
                    }
                }
                professionList.push({"profession": "{{interest.professionName}}", "creditCount": creditCount})
            {% endfor %}

            panelString += "<div style='position: relative; min-height: 250px;'>"
            {% if profileUserAccount.availability %}
                panelString += "<div style='width: 37%; min-height: 30px;'>";
            {% else %}
                panelString += "<div>";
            {% endif %}
            panelString += "<ul class='profileInterestedProfessionsList' style='display: inline-block;'>"
            for(var i=0; i < professionList.length; i++){
                panelString += "<li >" + professionList[i]["profession"]
                if(professionList[i]["creditCount"] > 0){
                    panelString += " (" + professionList[i]["creditCount"] + " credit"
                    if(professionList[i]["creditCount"] > 1){
                        panelString += "s"
                    }
                    panelString += ")"
                }
                panelString += "</li>";
            }
            panelString += "</ul></div>"

            {% if profileUserAccount.availability %}
                calendarInfo = getAvailabilityCalendar()
                panelString += "<div style='position: absolute; top: -50px; right: 0; left: 38%; bottom: 0; margin-right: 7px;'>" + calendarInfo["html"] + "</div>"
                if(calendarInfo["callbacks"].length > 0){
                    callbacks = callbacks.concat(calendarInfo["callbacks"]);
                }
            {% endif %}
        {% endif %}
        panelString += "</div>"
        return {'html': panelString, 'callbacks': callbacks};
    }

    function getHireTextPanel(){
        var panelString = "<div style='padding: 0px 0px 5px 5px; background: #FFF; border-radius: 3px;'>";
        var callbacks = []
        {% if profileInterests.hire %}
            var title;
            var hiring = false;
            var casting = false;
            var collaborating = false;
            {% for interest in profileInterests.hire %}
                {% if interest.subInterest == "hiring" %}
                    hiring = true
                {% elif interest.subInterest == "collaborating" %}
                    collaborating = true;
                {% elif interest.subInterest == "casting" %}
                    casting = true;
                {% endif %}
            {% endfor %}
            var projectList = "<ul style='margin-bottom: 0px;'>"
            if(hiring && casting){
                panelString += "<h2 style='margin-top: 5px;'>Status: Hiring/casting</h2>"

                // Add project list
                {% if profileAdminProjects.hiring or profileAdminProjects.casting %}
                    var projectDict = {};
                    {% for project in profileAdminProjects.hiring %}
                        if(!("{{project.postID}}" in projectDict)){
                            projectDict["{{project.postID}}"] = {"title": "{{project.title}}",
                                                                 "numOpenJobs": "{{project.openJobs|length}}",
                                                                 "numOpenRoles": "{{project.openRoles|length}}"}
                        }
                    {% endfor %}
                    {% for project in profileAdminProjects.casting %}
                        if(!("{{project.postID}}" in projectDict)){
                            projectDict["{{project.postID}}"] = {"title": "{{project.title}}",
                                                                 "numOpenJobs": "{{project.openJobs|length}}",
                                                                 "numOpenRoles": "{{project.openRoles|length}}"}
                        }
                    {% endfor %}
                    for(projectID in projectDict){
                        projectList += "<li><a onclick='redirectToPost(" + '"' + projectID + '"' + ");' >" + projectDict[projectID]["title"] + "</a> ";

                        var hasJobs = projectDict[projectID]["numOpenJobs"] > 0;
                        var hasRoles = projectDict[projectID]["numOpenRoles"] > 0;
                        if(hasJobs && hasRoles){
                            projectList += "(" + getSingularOrPlural(projectDict[projectID]["numOpenJobs"], "open job") + ", " + getSingularOrPlural(projectDict[projectID]["numOpenRoles"], "open role") + ")";
                        }else if(hasJobs){
                            projectList += "(" + getSingularOrPlural(projectDict[projectID]["numOpenJobs"], "open job") + ")";
                        }else if(hasRoles){
                            projectList += "(" + getSingularOrPlural(projectDict[projectID]["numOpenRoles"], "open role") + ")";
                        }
                        projectList += "</li>";
                    }
                    projectList += "</ul>"
                    // Add sub title
                    panelString += "<h3 style='font-size: 0.9em; color: rgba(0,0,0,0.5);'>" + "{{profileUserAccount.cleanName}}".split(" ")[0] + " is managing " + getSingularOrPlural("{{profileAdminProjects.hiring|length}}", "project") + "</h3>"
                    panelString += projectList;
                {% endif %}
            }else if(hiring){
                panelString += "<h2 style='margin-top: 5px;'>Status: Hiring</h2>"
                {% if profileAdminProjects.hiring %}
                    {% for project in profileAdminProjects.hiring %}
                        projectList += "<li><a onclick='redirectToPost(" + '"{{project.postID}}"' + ");' >{{project.title}}</a> (" + getSingularOrPlural("{{project.openJobs|length}}", "open job") + ")</li>"
                    {% endfor %}
                    projectList += "</ul>"

                    // Add sub title
                    panelString += "<h3 style='font-size: 0.9em; color: rgba(0,0,0,0.5);'>" + "{{profileUserAccount.cleanName}}".split(" ")[0] + " is hiring for " + getSingularOrPlural("{{profileAdminProjects.hiring|length}}", "project") + "</h3>"
                    panelString += projectList;
                {% endif %}
            }else if(casting){
                panelString += "<h2 style='margin-top: 5px;'>Status: Casting</h2>"
                {% if profileAdminProjects.casting %}
                    {% for project in profileAdminProjects.casting %}
                        projectList += "<li><a onclick='redirectToPost(" + '"{{project.postID}}"' + ");' >{{project.title}}</a> (" + getSingularOrPlural("{{project.openRoles|length}}", "open role") + ")</li>"
                    {% endfor %}
                    projectList += "</ul>"
                    // Add sub title
                    panelString += "<h3 style='font-size: 0.9em; color: rgba(0,0,0,0.5);'>" + "{{profileUserAccount.cleanName}}".split(" ")[0] + " is casting for " + getSingularOrPlural("{{profileAdminProjects.casting|length}}", "project") + "</h3>"

                    panelString += projectList;
                {% endif %}
            }else if(collaborating){
                panelString += "<h2 style='margin-top: 5px;'>Looking for collaborators</h2>"
            }

            var projects = {};
            {% if filmography %}
                projects = {{filmography|safe}};
            {% endif %}
        {% endif %}
        panelString += "</div>";
        return {'html': panelString, 'callbacks': callbacks};
    }

    function getOtherTextPanel(){
        var panelString = "<div style='padding: 10px; padding-top: 2px; background: #FFF; border-radius: 3px;'>";
        var callbacks = []
        panelString += "<h2 style='margin-top: 5px;'>No interests selected</h2>"
        
        // Add sub title
        panelString += "<h3 style='font-size: 0.9em; color: rgba(0,0,0,0.5);'>Choose an interest to let people know what you're looking for!</h3>"

        panelString += "</div>"
        return {'html': panelString, 'callbacks': callbacks};
    }

    function getProfileHeaderTextPanel(){
        var panelString = "<div style='width: 100%; height: 100%; position: relative; text-align: left;'>"
        var callbacks = []
        // Add edit button
        {% if viewingOwnProfile %}
            panelString += "<div style='position: absolute; top: 5px; right: 8px;'>" + getEditButtonString("{{possibleDestinations.interests}}", "profileInterestPanel") + "</div>";
        {% endif %}

        var newInfo

        {% if profileUserAccount.workInterest and profileUserAccount.hireInterest %}
            newInfo = getWorkHireTextPanel();
        {% elif profileUserAccount.workInterest %}
            newInfo = getWorkTextPanel();
        {% elif profileUserAccount.hireInterest %}
            newInfo = getHireTextPanel();
        {% else %}
            // For other or no interest, don't display anything
            {% if viewingOwnProfile %}
                newInfo = getOtherTextPanel();
            {% else %}
                newInfo = {"html": "", "callbacks": []}
            {% endif %}
        {% endif %}
        panelString += newInfo['html']
        panelString += "</div>"

        callbacks = callbacks.concat(newInfo["callbacks"])
        return {"html": panelString, "callbacks": callbacks};
    }
</script>

<div id='backgroundPanel' class='backgroundPanel' style='min-width: 634px; min-height: 100%;'>
    <div id="mainViewPanel" class="mainViewPanel" style="position: relative; min-width: 620px; max-width: 675px; background: rgba(0,0,0,0.05); border: none;">
        {% if profileUserAccount %}
            <div id='profileHeaderPanel' class='profileHeaderPanel' style='margin: 0 auto; text-align: center;'>
                <div style='margin-top: 10px;'>
                    {% if profileUserAccount.profilePicture %}
                        <img class="profilePicture" onclick='displayFullPagePicture("profilePicture");' src="{{ profileUserAccount.profilePicture.url }}" style='cursor: pointer;'/>
                    {% else %}
                        <img class="profilePicture" src="{{ images.noProfilePicture }}"/>
                    {% endif %}
                </div>
                <div style=''>
                    <h1><a onclick='redirectToUser("{{profileUserAccount.username}}");' >{{profileUserAccount.cleanName}}</a></h1>
                    <script>document.write(getProfessionList())</script>
                    {% if profileUserAccount.phoneNumber %}
                        <div style='margin: -3px 5px 8px 5px; font-size: 0.9em; color: rgba(0,0,0,0.8);'>{{profileUserAccount.phoneNumber}}</div>
                    {% endif %}
                </div>
                <div style='position: absolute; top: 17px; right: 15px;'>
                    {% if not viewingOwnProfile and request.user.is_authenticated %}
                        <div class='editButton' onclick='displayMessagePanel("{{profileUserAccount.username}}", "{{profileUserAccount.cleanName}}");'>Message</div>
                    {% endif %}
                </div>
            </div>
                        <!--<div style='position: absolute; left: 240px; right: 0px; top: 0; bottom: 0; margin: 15px; background: rgba(0,0,0,0.04);'>
                            <div style='position: relative; height: 100%; border: 1px solid rgba(0,0,0,1);'>
                                <div style='position: absolute; top: 0px; height: 190px; left: 0; right: 0; border: 0px solid #aea;'>
                                    <script>
                                        var headerTextInfo = getProfileHeaderTextPanel()
                                        document.write(headerTextInfo['html'])
                                        if(headerTextInfo['callbacks'].length > 0){
                                            for(var i=0; i < headerTextInfo['callbacks'].length; i++){
                                                if(headerTextInfo["callbacks"][i] != null){
                                                    headerTextInfo["callbacks"][i]();
                                                }
                                            }
                                        }
                                    </script>
                                </div>-->

                                <!--{% if profileUserAccount.hasFeaturedMediaPictures %}
                                    <div style='position: absolute; bottom: 0px; height: 130px; left: 0; right: 0; ; white-space: nowrap; overflow: hidden; text-align: left;'>
                                        {% for picture in profileUserAccount.profileMediaPictures %}
                                            {% if picture.featured %}
                                                <div style='display: inline-block; margin-right: 5px; border: 1px solid rgba(0,0,0,0.1);'>
                                                    <img src='{{picture.url}}' style='height: 130px; width: 117px;' />
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                {% endif %}-->


                            <!--</div>

                        </div>-->
            <div id='profileInterestPanel' style='position: relative; width: 100%; margin-top: 12px;'>
                <script>
                    var headerTextInfo = getProfileHeaderTextPanel()
                    document.write(headerTextInfo['html'])
                    if(headerTextInfo['callbacks'].length > 0){
                        for(var i=0; i < headerTextInfo['callbacks'].length; i++){
                            if(headerTextInfo["callbacks"][i] != null){
                                headerTextInfo["callbacks"][i]();
                            }
                        }
                    }
                </script>
            </div>
            <div id='profileContentPanel' style='position: relative; width: 100%; min-height: 100px; margin-top: 10px;'>
                <ul class='profileTabButtonList' id='profileTabButtonList' style=''>
                    <script>
                        for(var i=0; i < profileTabs.length; i++){
                            // Specify margin for each button in order (TODO create a functino to create a 4 tab list)
                            var styleString = "position: absolute;"
                            if(i === 0){
                                styleString += "left: -4px;"
                            }else if(i === 1){
                                styleString += "left: 24.7%;"
                            }else if(i === 2){
                                styleString += "left: 49.7%;"
                            }else if(i === 3){
                                styleString += "right: 2px;"
                            }
                            var tabButton = '<li style="width: 24%; ' + styleString + '" id="' + profileTabs[i] + 'ProfileButton" onclick="selectProfileTab(' + "'" + profileTabs[i] + "');" + '"><div style="margin-top: 5px;">' + profileTabs[i] + '</div><div id="' + profileTabs[i] + 'BorderCover" class="profileTabButtonBorderCover"></div></li>';
                            document.write(tabButton);
                        }
                    </script>
                </ul>
                <div id='profileTabContentPanelContainer' style='position: absolute; border: 1px solid #000; top: 50px; left: 0px; right: 2px; margin-top: -7px;  background: #FFF; z-index: 0; min-height: 50px;'>
                    <div id='profileTabContentPanel' style='position: relative;'>

                    </div>
                </div>
            </div>
        {% else %}
            No user Found
        {% endif %}
    </div>
</div>

<script>
var defaultTab = "bio";
if("{{source}}" === "EDIT_FILMOGRAPHY"){
    defaultTab = "filmography";
}else if("{{source}}" === "EDIT_PROFILE_PICTURE"){
    defaultTab = "media"
}

//for testing
//defaultTab = "media"
selectProfileTab(defaultTab)
</script>

{% endblock %}
