.browseSearchPanel{
	background: #ededed;
	border: 1px solid #000;
}
.browseSearchResults{
	background: rgba(0,0,0,0.2);
}
.browseTabButtonActive,
.browseTabButtonInactive
{
	width: 33%;
	min-width: 100px;
	padding: 10px 0px 20px 0px;
	height: 20px;
	display: inline-block;
	letter-spacing: 0.10em;
	border: 1px solid #000;
	border-radius: 3px;
	text-align: center;
	font-weight: 300;
	font-size: 1em;
	cursor: pointer;
	transition: background .20s ease;
}
.browseTabButtonActive
{
	color: #000;
	background: #ededed;
}
.browseTabButtonInactive
{
	color: #FFF;
	background: #232323;
}
.browseTabButtonInactive:hover
{
	color: #c6c6c6;
	transition: color .20s ease;
}
.browseTabButtonActive:hover
{
	color: #6d6d6d;
	transition: color .20s ease;
}
.browseTabBorderCover
{
	width: 100%;
	background: #ededed;
	height: 4px;
	margin: 15px 0px 0px 0px;
	position: relative;
	z-index: 3;
	opacity: 0;
	transition: background .2s ease;
}