.browseSearchPanel{
	background: rgba(255,255,255,0.9);
	border: 1px solid #000;
	border-radius: 2px;
}

.browseCategoriesList ul
{
	display: inline-block;
}

.browseCategoriesList li
{
	display: block;
	float: left;
	text-align: center;
	height: 20px;
	width: 80px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 3px;
	background: rgba(0,0,0,0.1);
	padding: 0.7em 0em 0.5em 0em;
	margin-left: 4px;

	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 600;
	/*color: rgba(255,255,255,0.80);
	border: 1px solid rgba(255,255,255,0);*/
	color: rgba(0,0,0,0.8);
}

.browseCategoriesList li:hover
{
	border: 1px solid rgba(0,0,0,0.8);
	/*background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,1);*/
	cursor: pointer;
}
.browseCategoriesList li.active
{
	border: 1px solid rgba(0,0,0,0.8);
	background: rgba(0,0,0,0.8);
	color: #FFF;
	cursor: pointer;
}

/*.browseCategoriesList li.active:hover
{
	border: 1px solid rgba(0,0,0,0.8);
	background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,1);
	cursor: pointer;
}*/

.browseCategoriesList .active a
{
	border: 1px solid rgba(255,255,255,1);
	border-radius: 6px;
	color: rgba(255,255,255,1);
}

.browseSearchResults{
	/*background: rgba(158, 192, 247, 0.2);
	border: 1px solid rgba(158, 192, 247, 0.2);*/
}

.browseSearchResults li
{
	/*display: block;
	float: left;*/
	height: 100px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	background: #FFF;
	margin-top: 5px;
	/*padding: 0.7em 0em 0.5em 0em;
	margin-left: 4px;

	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 600;
	/*color: rgba(255,255,255,0.80);
	border: 1px solid rgba(255,255,255,0);
	color: rgba(0,0,0,0.8);*/
}

.browseSearchTextBoxContainer
{
	/*position: absolute;
	left: 20%;
	right: 20%;
	top: 10px;*/
}

.browseSearchTextBoxContainer input
{
	display: block;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border: 1px solid #86898e;
    margin-top: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    width: 98%;
    height: 22px;
    font-size: 0.8em;
}

.browseSearchTextBoxContainer input:focus{
    outline-width: 0;
}

.browseTableExpandSectionButton{
	width: 10px;
	height: 10px;
	border: 1px solid #000;
}
.browseTableExpandSectionButton:hover{
	cursor: pointer;
}

.browseFilterList
{

}
.browseFilterList li
{
	position: relative;
	height: 30px;
	width: 280px;
}
.browseFilterList select,
.browseFilterList input[type="date"]{
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 90%;
    outline: none;
    border: none;
    font-size: 1.0em;
    font-family: 'Didact Gothic', sans-serif;
    display: inline;
    background: rgba(0,0,0,0.05);
}
.browseFilterList select{
	background: rgba(0,0,0,0.05);
}
.browseFilterListLabel{
	position: absolute;]
	top: 0;
}
.browseFilterListLabel.left
{
	left: 0;
	right: 205px;
	text-align: right;
}
.browseFilterListLabel.right
{
	left: 0;
	right: 170px;
	text-align: right;
}
.browseFilterListElement{
	position: absolute;
	top: 0;
}
.browseFilterListElement.left
{
	left: 80px;
	right: 0;
	text-align: left;
}
.browseFilterListElement.right
{
	left: 120px;
	right: -20px;
	text-align: left;
}
.filteredProfessionList
{
	margin-left: -4px;
	margin-bottom: 5px;
	margin-right: 20px;
}
.filteredProfessionList li
{
	text-align: center;
	width: auto;
	/*max-width: 150px;*/
	height: 20px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
	padding: 0.3em 0.6em 0em 0.6em;
	margin-left: 4px;

	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 500;
	/*color: rgba(255,255,255,0.80);
	border: 1px solid rgba(255,255,255,0);*/
	color: rgba(0,0,0,0.8);
}
