.browseSearchPanel{
	background: #ededed;
	border: 1px solid #000;
}
.browseSearchResults{
	background: rgba(0,0,0,0.2);
}

.browseCategoriesList ul
{
	display: inline-block;
}

.browseCategoriesList li
{
	display: block;
	float: left;
	text-align: center;
	height: 20px;
	width: 80px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 3px;
	background: rgba(0,0,0,0.04);
	padding: 0.7em 0em 0.5em 0em;
	margin-left: 4px;

	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 600;
	/*color: rgba(255,255,255,0.80);
	border: 1px solid rgba(255,255,255,0);*/
	color: rgba(0,0,0,0.8);
}

.browseCategoriesList li:hover , .browseCategoriesList li.active , .browseCategoriesList li:active span
{
	border: 1px solid rgba(255,255,255,0);
	background: rgba(0,0,0,0.1);
	color: rgba(255,255,255,1);
	cursor: pointer;
}

.browseCategoriesList .active a
{
	border: 1px solid rgba(255,255,255,1);
	border-radius: 6px;
	color: rgba(255,255,255,1);
}

.browseSearchTextBoxContainer
{
	/*position: absolute;
	left: 20%;
	right: 20%;
	top: 10px;*/
}

.browseSearchTextBoxContainer input
{
	display: block;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border: 1px solid #86898e;
    margin-top: 6px;
    margin-bottom: 5px;
    border-radius: 4px;
    width: 98%;
    height: 22px;
    font-size: 0.8em;
}
