	.profileTable
	{
		width: 100%;
		min-width: 700px;
		background: #232323;
		color: #000;
	}
	/*.profileTable td
	{
		padding:0.2em 0.08em 0.2em 0.08em;
	}*/

	.profileTableMainColumn{
		width: 25%;
		border: 0px;
		/*padding: 0em 0.3em 0em 0.3em;*/
	}
	.profilePanel
	{
		display: inline-block;
    	vertical-align: top;
		border: 2px solid #000;
		border-radius: 6px;
		background: #FFF;
		padding: 0.5em;

	}
	.profilePicturePanel
	{
		min-height: 390px;

	}
	.profileBioText
	{
		margin: 0px;
		color: rgba(0,0,0,0.6);
		font-weight: 500;
		font-size: 0.9em;
	}
	.profileProfessionList
	{
		
	}
	.profileProfessionList li
	{
		color: rgba(0,0,0,0.8);
	}
	.profileProfessionList li:hover
	{
		color: rgba(0,0,0,1.0);
		cursor: pointer;
		font-weight: 1000;
		font-size: 1.2em;
	}
	.profileTabButtonInactive
	{
		width: 18.1%;
		height: 20px;
		min-width: 93px;
		padding: 10px 15px 10px 15px;
		display: inline-block;
		letter-spacing: 0.10em;
		border: 2px solid #000;
		border-radius: 3px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: rgba(0, 0, 0, 1);
		cursor: pointer;
		background: rgba(0,0,0,0.1);
		transition: background .20s ease;
		margin-left: -2px;
	}
	.profileTabButtonActive
	{
		width: 18.1%;
		min-width: 93px;
		padding: 10px 15px 15px 15px;
		height: 20px;
		display: inline-block;
		letter-spacing: 0.10em;
		border: 2px solid #000;
		border-radius: 3px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #000;
		cursor: pointer;
		background: #FFF;
		transition: background .20s ease;
		margin-left: -2px;
	}
	.profileTabButtonInactive:hover
	{
		color: #FFF;
		background: #232323;
		transition: background .20s ease;
	}

	.profileTabBorderCover
	{
		width: 132.5%;
		background: #232323;
		height: 2px;
		margin: 7px 0px -15px -15px;
		position: relative;
		z-index: 3;
		opacity: 0;
		transition: background .2s ease;
	}

	.profileDisplayPanel
	{
		background: #FFF;
		color: #000;
		border: 2px solid #000;
		border-radius: 2px;
		margin-top: -13px;
		position: relative;
		z-index: 2;
		padding: 0.5em;
	}

	.projectListPanel
		{
		width: 99%;
		border: 2px solid #000;
		border-radius: 2px;
	}

	.profileProjectList
	{
		padding: 0.5em;
	}

	.profileProjectListElement
	{
		border: 1px solid #b5b5b5;
		border-radius: 3px;
		padding: 0.5em;
		text-align: right;
	}

	.profileProjectListElement:hover
	{
		background: #eaeaea;
		cursor: pointer;
	}

	.profileProjectListElementImage
	{
		width: 80px;
		display: table-cell;
		vertical-align: middle;
	}

	.profileProjectListElementImageContainer
	{
		float: left;
		display: inline;
		background: #000;
		height: 80px;
		width: 80px;
		border: 1px solid #000;
		border-radius: 3px;

	}

	.profileProjectListElementText
	{
		text-align: right;
	}

	.profileProjectListElementText h3
	{
		margin: 0px;
	}

	.profileProjectListElementText h5
	{
		margin: 0px;
	}

	.interestsPanel
	{
		min-height: 35px;
	}
	.messagePanel
	{
		height: 300px;
	}
	.postsPanel
	{
		min-width: 500px;
	}
	.commentsPanel
	{
		height: 319px;
	}
	.rightPanel
	{
		height: 100%;
	}
	.hoverContainer
	{
	  position: relative;
	}

	.grayAlphaOverlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0);
	  transition: background 0.5s ease;
	}
	/*
	.grayOutlineOverlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0);
	  transition: background 0.5s ease;
	}

	.hoverContainer:hover .grayOutlineOverlay {
	  display: block;
	  background: rgba(0, 0, 0, 0.0);
	  border: 1px solid rgba(0, 0, 0, .2);
	  border-radius: 6px;
	  color: #000;
	}*/

	.hoverContainer:hover .grayAlphaOverlay {
	  display: block;
	  background: rgba(0, 0, 0, .3);
	}
	.hoverButton {
	  position: absolute;
	  right: 5px;
	  top: 5px;
	  opacity: 0;
	  transition: opacity .25s ease;
	}

	.hoverButton a {
	  	color: #FFF;
	  	z-index: 1;
	  	letter-spacing: 1px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
	}

	.hoverButton a:hover {
	  cursor: pointer;
	  text-decoration: underline;
	}

	.hoverContainer:hover .hoverButton {
	  opacity: 1;
	}
