.profileHeaderPanel{
	background: #FFF;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 4px;
	/*min-height: 350px;*/
}

.profilePicture{
	height: 250px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
}

.profileProfessionList{
	display: inline-block;
}
.profileProfessionList li{
	display: inline-block;
	color: rgba(0,0,0,0.8);
}
.profileProfessionList li:hover{
	color: rgba(0,0,0,1.0);
	cursor: pointer;
	font-weight: 1000;
}

.profileTabButtonList{
	display: inline-block;
}
.profileTabButtonList li
{
	display: block;
	float: left;
	text-align: center;
	height: 30px;
	width: 80px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 3px;
	background: rgba(0,0,0,0.1);
	padding: 0.7em 0em 0.5em 0em;
	margin-left: 4px;

	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 600;
	/*color: rgba(255,255,255,0.80);
	border: 1px solid rgba(255,255,255,0);*/
	color: rgba(0,0,0,0.8);
}

.profileTabButtonList li:hover
{
	border: 1px solid rgba(0,0,0,0.8);
	/*background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,1);*/
	cursor: pointer;
}
.profileTabButtonList li.active
{
	border: 1px solid rgba(0,0,0,0.8);
	background: #FFF;
	color: rgba(0,0,0,0.8);
	cursor: pointer;
}


.profileTabButtonBorderCover
{
	position: relative;
	width: 100%;
	background: #FFF;
	height: 3px;
	margin-top: 12px;
	z-index: 100;
	opacity: 0;
	transition: background .2s ease;
}

.profileContentDisplayPanel
{
	background: #FFF;
	border: 2px solid #FFF;
	border-radius: 2px;
	margin-top: -13px;
	position: relative;
	z-index: 2;
	padding: 0.3em;
}

.profileSquareButton
{
	width: 100px;
	height: 100px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 6px;	
	color: rgba(0,0,0,0.7);
	font-weight: 200;
	text-align: center;
}

.profileSquareButton:hover{
	border: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
	color: rgba(0,0,0,0.9);
	font-weight: 400;
}

.profileMediaPicturePanel{
	display: inline-block;
	height: 210px;
	width: 150px;
	border: 1px solid #000;
	background: #FFF;
	margin-right: 5px;
	text-align: center;
	position: relative;
}

.profession3ColumnsFullPanel {
	width: 295px;
	height: 460px;
	margin: 5px auto 0px auto;
	display: inline-block;
	background: #c9cacc;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 700;
	font-size: 0.5em;
	overflow: scroll;
	border: 2px solid rgba(0,0,0,1);
	border-radius: 6px;
}

.professionsSelectColumn{
	width: 281px;
	padding: 0em 0.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.0em;
	color: #000;
	float: left;
	background: #efefef;

	border: 1px solid rgba(0,0,0,1);
	border-radius: 6px;
}

.professionsSelectColumn:hover{
	color: rgba(255,255,255,1);
	background: #414142;
	cursor: pointer;
}

.professionsSelectColumn a:hover{
	color: rgba(255,255,255,1);
}

.professionsSelectList td a, .professionsSelectList td span
{
	padding: 0.5em 0.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	color: rgba(0,0,0,1.0);
	float: left;
}

.hireOptionTable
{
	table-layout: fixed; 
}


.hireTableButton
{
	height: 50px;
}

.hireTableColumn
{
	height: 400px;
	table-layout:fixed;
	width: 200px;
	border: 2px solid #000;
	border-radius: 4px;
	background: #efefef;
	color: #000;
	top: 0;
}

.hireTableColumnActive
{
	height: 400px;
	table-layout:fixed;
	width: 200px;
	border: 2px solid #000;
	border-radius: 4px;
	background: #232323;
	color: #000;
}

.hireTableColumnElement
{
	border: none;
	padding: 1em 1em 1em 1em;
	background: #efefef;
	color: #000;
}

.hireButtonWidth
{
	width: 100%;
}

#interestsDiv
{
	display: table-cell;
}

#interestsDiv a
{
	display: inline-block;
	vertical-align: bottom;
	width: 75%;
}

.profileInterestedProfessionsList
{
	display: inline-block;
	margin-left: -4px;
	margin-bottom: 3px;
	margin-right: 20px;
	margin-top: 7px;
}
.profileInterestedProfessionsList li
{
	display: inline-block;
	text-align: center;
	width: auto;
	/*max-width: 150px;*/
	height: 20px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
	padding: 0.3em 0.6em 0.2em 0.6em;
	margin-left: 7px;
	margin-bottom: 7px;

	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 300;
	cursor: pointer;

	/*color: rgba(255,255,255,0.80);
	border: 1px solid rgba(255,255,255,0);*/
	color: rgba(0,0,0,0.8);
	box-shadow: 0.5px 0.5px 0px 0px #888888;

}
.profileInterestedProfessionsList li:hover
{
	background: rgba(0,0,0,0.2);
}


	/*.profileTable
	{
		width: 100%;
		min-width: 700px;
		background: #232323;
		color: #000;
	}

	.profileTable a
	{
		color: #000;
		font-weight: 900;
	}
	.profileTable a:hover
	{
		color: #4f4f4f;
		text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
		cursor: pointer;
	}

	.profileTableMainColumn{
		width: 25%;
		border: 0px;
	}
	.profilePanel
	{
		display: inline-block;
    	vertical-align: top;
		border: 2px solid #000;
		border-radius: 6px;
		background: #FFF;
		padding: 0.5em;

	}
	.profilePicturePanel
	{
		min-height: 390px;

	}
	.profileBioText
	{
		margin: 0px;
		color: rgba(0,0,0,0.6);
		font-weight: 500;
		font-size: 0.9em;
	}
	.profileProfessionList
	{
		
	}
	.profileProfessionList li
	{
		color: rgba(0,0,0,0.8);
	}
	.profileProfessionList li:hover
	{
		color: rgba(0,0,0,1.0);
		cursor: pointer;
		font-weight: 1000;
		font-size: 1.2em;
	}
	.profileTabButtonInactive
	{
		width: 18.1%;
		height: 20px;
		min-width: 93px;
		padding: 10px 15px 15px 15px;
		display: inline-block;
		letter-spacing: 0.10em;
		border: 1px solid #FFF;
		border-radius: 3px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
		cursor: pointer;
		background: #232323;
		transition: background .20s ease;
	}
	.profileTabButtonActive
	{
		width: 18.1%;
		min-width: 93px;
		padding: 10px 15px 20px 15px;
		height: 20px;
		display: inline-block;
		letter-spacing: 0.10em;
		border: 1px solid #FFF;
		border-radius: 3px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #000;
		cursor: pointer;
		background: #FFF;
		transition: background .20s ease;
	}
	.profileTabButtonInactive:hover
	{
		color: #c6c6c6;
		transition: color .20s ease;
	}

	.profileTabButtonActive:hover
	{
		color: #6d6d6d;
		transition: color .20s ease;
	}

	.profileTabBorderCover
	{
		width: 132.5%;
		background: #232323;
		height: 2px;
		margin: 7px 0px -15px -15px;
		position: relative;
		z-index: 3;
		opacity: 0;
		transition: background .2s ease;
	}

	.profileDisplayPanel
	{
		background: #FFF;
		border: 2px solid #FFF;
		border-radius: 2px;
		margin-top: -13px;
		position: relative;
		z-index: 2;
		padding: 0.3em;
	}

	.projectListPanel
		{
		background: #FFF;
		color: #000;
		width: 99%;
		border: 0px solid rgba(0,0,0,.8);
		border-radius: 4px;
		max-height: 350px;
		overflow: scroll;
		margin-bottom: 5px;
		padding: 0px 0px 0px 0px;
	}

	.profileProjectList
	{
		padding: 0.5em 0.5em 0em 0.5em;
		margin-bottom: 8px;
		margin-top: -7px;
	}

	.profileProjectListElement
	{
		border: 1px solid #000;
		border-radius: 3px;
		padding: 0.5em 0.5em 0.8em 0.5em;
		text-align: right;
		background: #efefef;
	}

	.profileProjectListElement:hover
	{
		background: #e4f4e3;
		cursor: pointer;
	}

	.profileProjectListElementImage
	{
		margin: 0 auto;
		max-height: 80px;
		max-width: 80px;
		display: table-cell;
		vertical-align: middle;
	}

	.profileProjectListElementImageContainer
	{
		float: left;
		display: inline;
		background: #000;
		height: 80px;
		border: 1px solid #000;
		border-radius: 3px;
		text-align: middle;

	}

	.profileProjectListElementText
	{
		text-align: right;
	}

	.profileProjectListElementText h3
	{
		margin: 0px;
	}

	.profileProjectListElementText h5
	{
		margin: 0px;
	}

	.interestsPanel
	{
		min-height: 35px;
	}
	.messagePanel
	{
		height: 300px;
	}
	.postsPanel
	{
		min-width: 500px;
	}
	.commentsPanel
	{
		height: 319px;
	}
	.rightPanel
	{
		height: 100%;
	}
	.hoverContainer
	{
	  position: relative;
	}

	.grayAlphaOverlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0);
	  transition: background 0.5s ease;
	}
	.hoverContainer:hover .grayAlphaOverlay {
	  display: block;
	  background: rgba(0, 0, 0, .3);
	  transition: background .25s ease;
	}
	.hoverButton {
	  position: absolute;
	  right: 5px;
	  top: 5px;
	  opacity: 0;
	  transition: opacity .25s ease;
	}

	.hoverButton a {
	  	color: #000;
	  	letter-spacing: 1px;
		text-decoration: none;
		font-weight: 600;
		font-size: 1em;
	}

	.hoverButton a:hover {
	  cursor: pointer;
	}

	.whiteHoverButton {
	  position: absolute;
	  right: 5px;
	  top: 5px;
	  opacity: 0;
	  transition: opacity .25s ease;
	}

	.whiteHoverButton a {
	  	color: #FFF;
	  	letter-spacing: 1px;
		text-decoration: none;
		font-weight: 600;
		font-size: 1em;

	}

	.whiteHoverButton a:hover {
	  cursor: pointer;
	  color: #ededed;
	  text-shadow: -0.3px 0 black, 0 0.3px black, 0.3px 0 black, 0 -0.3px black;
	}

	.hoverContainer:hover .hoverButton {
	  opacity: 1;
	  transition: opacity .25s ease;
	}

	.hoverContainer:hover .whiteHoverButton {
	  opacity: 1;
	  transition: opacity .25s ease;
	}
*/

