	.profileTable
	{
		width: 100%;
		min-width: 700px;
		background: #232323;
		color: #000;
	}
	/*.profileTable td
	{
		padding:0.2em 0.08em 0.2em 0.08em;
	}*/

	.profileTableMainColumn{
		height: 800px;
		width: 25%;
		border: 0px;
		/*padding: 0em 0.3em 0em 0.3em;*/
	}
	.profilePanel
	{
		display: inline-block;
    	vertical-align: top;
		border: 2px solid #000;
		border-radius: 6px;
		background: #FFF;
		padding: 0.5em;

	}
	.profilePicturePanel
	{
		min-height: 390px;

	}
	.interestsPanel
	{
		height: 403px;
	}
	.messagePanel
	{
		height: 300px;
	}
	.postsPanel
	{
		height: 480px;
	}
	.commentsPanel
	{
		height: 319px;
	}
	.rightPanel
	{
		height: 100%;
	}
	.hoverContainer
	{
	  position: relative;
	  /*margin-top: 50px;
	  width: 500px;
	  height: 300px;*/
	}

	.overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0);
	  transition: background 0.5s ease;
	}

	.hoverContainer:hover .overlay {
	  display: block;
	  background: rgba(0, 0, 0, .3);
	}

	/*img {
	  position: absolute;
	  width: 500px;
	  height: 300px;
	  left: 0;
	}*/

	/*.title {
	  position: absolute;
	  width: 500px;
	  left: 0;
	  top: 120px;
	  font-weight: 700;
	  font-size: 30px;
	  text-align: center;
	  text-transform: uppercase;
	  color: white;
	  z-index: 1;
	  transition: top .5s ease;
	}

	.container:hover .title {
	  top: 90px;
	}*/

	.hoverButton {
	  position: absolute;
	  right: 5px;
	  top: 5px;
	  /*text-align: center;*/
	  opacity: 0;
	  transition: opacity .35s ease;
	}

	.hoverButton a {
	  	color: #FFF;
	  	z-index: 1;
	  	letter-spacing: 1px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
	}

	.hoverButton a:hover {
	  cursor: pointer;
	  text-decoration: underline;
	}

	.hoverContainer:hover .hoverButton {
	  opacity: 1;
	}
